<button class="book-card" (contextmenu)="ContextMenu($event)">
	<img
		[src]="cover"
		[style.width.px]="width"
		[style.height.px]="width * 1.5"
		[title]="book.title"
		[alt]="alt"
		*ngIf="!showDefaultCover"
	/>

	<div *ngIf="showDefaultCover">
		<img
			[src]="cover"
			[style.width.px]="width"
			[style.height.px]="width * 1.5"
			[title]="book.title"
			[alt]="alt"
		/>

		<div class="default-cover-text-container">
			<p>{{ book.title }}</p>
		</div>
	</div>
</button>
