<div class="container ms-motion-slideUpIn">
	<div class="d-flex my-3">
		<button type="button" 
					class="btn mt-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
					style="height: 35px; width: 40px; padding: 2px 0px 0px 0px;"
					(click)="GoBack()">
			<fab-icon iconName="Back" [styles]="backButtonIconStyles"></fab-icon>
		</button>
		<h2 class="text-left mt-2 ml-3 text-color">{{ app.name }}</h2>
	</div>

   <p class="text-color">Url: <br>{{ app.url }}</p>
   <p class="text-color">App Uuid: <br>{{ app.uuid }}</p>
</div>