<div class="container">
	<div class="store-list-header-container">
		<h4 class="store-list-header">{{ headline }}</h4>

		<dav-icon-button
			size="sm"
			href="/store/categories"
			(click)="moreButtonClick($event)"
			*ngIf="headline"
		>
			<fa-icon [icon]="faArrowRightLight"></fa-icon>
		</dav-icon-button>
	</div>

	<div class="content-container" [class.center]="alignment == 'center'">
		<div class="progress-ring-container" *ngIf="loading">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>

		<div
			class="category-cards-container horizontal-store-list slide-up-in"
			*ngIf="!loading"
		>
			<dav-icon-card
				[text]="card.text"
				[href]="'/store/category/' + card.key"
				(click)="categoryIconCardClick($event, card.key)"
				*ngFor="let card of cards"
			>
				<fa-icon [icon]="card.icon"></fa-icon>
			</dav-icon-card>
		</div>
	</div>
</div>
