.content-container {
	display: flex;
	min-height: 128px;
}

.progress-ring-container {
	display: flex;
	align-items: center;
}

.category-cards-container {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	gap: 24px;
	white-space: nowrap;
}
