.content-container {
	display: flex;
	min-height: 152px;
}

.content-container.center {
	justify-content: center;
}

.progress-ring-container {
	display: flex;
	align-items: center;
	margin-left: 48px;
	padding: 32px;
}

.category-cards-container {
	display: flex;
	gap: 24px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 2rem;
}
