<div class="container">
	<div class="store-list-header-container">
		<h4 class="store-list-header">{{ headline }}</h4>

		@if (headline) {
		<dav-icon-button
			size="sm"
			href="/store/categories"
			(click)="moreButtonClick($event)"
		>
			<fa-icon [icon]="faArrowRightLight"></fa-icon>
		</dav-icon-button>
		}
	</div>

	<div class="content-container" [class.center]="alignment == 'center'">
		@if (loading) {
		<div class="progress-ring-container">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>
		} @else {
		<div class="category-cards-container horizontal-store-list slide-up-in">
			@for (card of cards; track card.key) {
			<dav-icon-card
				[text]="card.text"
				[href]="'/store/category/' + card.key"
				(click)="categoryIconCardClick($event, card.key)"
			>
				<fa-icon [icon]="card.icon"></fa-icon>
			</dav-icon-card>
			}
		</div>
		}
	</div>
</div>
