<div class="container slide-up-in">
	<div class="header-container">
		<dav-header backButtonVisible (backButtonClick)="BackButtonClick()">
			{{ title }}
		</dav-header>
	</div>

	@if (status == 2) {
	<!-- Published -->
	<div>
		<p class="status-text">
			{{ locale.published }}
		</p>

		<div class="button-container">
			<dav-button
				outline
				[disabled]="loading"
				(click)="ShowDetailsButtonClick()"
			>
				{{ locale.showDetails }}
			</dav-button>

			<dav-button
				outline
				[disabled]="loading"
				(click)="ShowReleasesButtonClick()"
			>
				{{ locale.showReleases }}
			</dav-button>

			<dav-button
				color="error"
				[disabled]="loading"
				(click)="UnpublishButtonClick()"
			>
				{{ locale.unpublish }}
			</dav-button>
		</div>
	</div>
	} @else if (status == 3) {
	<!-- Hidden -->
	<div>
		<p class="status-text">
			{{ locale.hidden }}
		</p>

		<div class="button-container">
			<dav-button
				outline
				[disabled]="loading"
				(click)="ShowDetailsButtonClick()"
			>
				{{ locale.showDetails }}
			</dav-button>

			<dav-button
				outline
				[disabled]="loading"
				(click)="ShowReleasesButtonClick()"
			>
				{{ locale.showReleases }}
			</dav-button>

			<dav-button [disabled]="loading" (click)="PublishButtonClick()">
				{{ locale.publish }}
			</dav-button>
		</div>
	</div>
	} @else if (status == 1) {
	<!-- In Review -->
	<div>
		<p class="status-text">
			{{ locale.inReview }}
		</p>

		<p class="status-description-text">
			{{ locale.inReviewDescription }}
		</p>

		<div class="button-container">
			<dav-button
				outline
				[disabled]="loading"
				(click)="ShowDetailsButtonClick()"
			>
				{{ locale.showDetails }}
			</dav-button>

			<dav-button
				color="error"
				[disabled]="loading"
				(click)="CancelPublishingButtonClick()"
			>
				{{ locale.cancelPublishing }}
			</dav-button>
		</div>
	</div>
	}
</div>
