a {
	border-radius: 8px;
}

a.highlighted {
	opacity: 0.6;
}

dav-blurhash-image {
	border-radius: inherit;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	transition: 160ms;
}

a:not(.highlighted):hover dav-blurhash-image,
a:not(.highlighted):focus dav-blurhash-image {
	transform: translateY(-8px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
