.container {
	padding: 12px;
}

.header-container {
	margin-bottom: 32px;
}

.error-message-container {
	min-width: 200px;
	max-width: 300px;
	margin: 0 auto 16px;
}

.content-container {
	display: flex;
	justify-content: center;
}

p {
	color: var(--dav-color-on-surface);
}

.book-details-container {
	display: inline-grid;
	grid-template-columns: auto;
	grid-gap: 12px;
}

.book-details-container:nth-child(2n) {
	background-color: green;
}

.book-details-label {
	grid-column: 1;
}

.book-details-label > p {
	margin: 0;
}

.book-details-data {
	grid-column: 1;
	margin-bottom: 12px;
}

@media screen and (min-width: 700px) {
	.book-details-container {
		grid-template-columns: auto auto;
		grid-gap: 28px 12px;
	}

	.book-details-data {
		grid-column: 2;
		margin-bottom: 0;
	}
}
