<!-- Normal layout -->
<div
	class="container ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0"
	*ngIf="!dualScreenLayout">

	<div class="mt-3 mb-4">
		<dav-header
			[header]="book.title"
			backButtonVisible
			editButtonVisible
			(backButtonClick)="BackButtonClick()"
			(editButtonClick)="ShowEditTitleDialog()">
		</dav-header>
	</div>

	<div class="mt-3 mb-4 mx-auto"
		style="min-width: 200px; max-width: 300px"
		*ngIf="errorMessage.length > 0">

		<dav-message-bar type="danger">
			{{ errorMessage }}
		</dav-message-bar>
	</div>

	<div class="d-flex justify-content-center mb-4">
		<div id="book-details-container">
			<!-- Cover -->
			<div id="book-details-cover-label">
				<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.cover }}: </p>
			</div>

			<div id="book-details-cover-data" class="book-details-data">
				<p class="fw-light font-italic text-color" style="margin-top: 3px" *ngIf="!coverContent">{{ locale.noCover }}</p>
				<div class="mb-3" *ngIf="coverContent">
					<pocketlib-blurhash-image
						[src]="coverContent"
						[fallback]="dataService.defaultStoreBookCover"
						[blurhash]="book.coverBlurhash"
						height="200"
						width="140"
						[loading]="coverLoading">
					</pocketlib-blurhash-image>
				</div>

				<dav-button
					type="accent"
					ngxFilePicker
					accept="image/png,image/jpeg"
					[disabled]="coverLoading"
					(filePick)="CoverUpload($event)">
					{{ locale.uploadCover }}
				</dav-button>
			</div>

			<!-- Description -->
			<div id="book-details-description-label">
				<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.description }}: </p>
			</div>

			<div id="book-details-description-data" class="book-details-data">
				<p class="text-color"
					style="margin-top: 3px; max-width: 400px; white-space: pre-line"
					*ngIf="book.description && !editDescription">
					{{ book.description }}
				</p>
				<p class="fw-light font-italic text-color" style="margin-top: 3px" *ngIf="!book.description && !editDescription">{{ locale.noDescription }}</p>

				<div
					style="margin-top: 3px; margin-bottom: 16px; min-width: 300px;"
					*ngIf="editDescription">

					<dav-textarea
						[value]="newDescription"
						[placeholder]="locale.descriptionTextfieldPlaceholder"
						resize="vertical"
						[errorMessage]="newDescriptionError"
						(change)="newDescription = $event.detail.value; newDescriptionError = ''">
					</dav-textarea>
				</div>

				<dav-button
					type="accent"
					[disabled]="descriptionLoading"
					(click)="EditDescription()">
					{{ editDescription ? locale.save : locale.edit }}
				</dav-button>

				<dav-button
					style="margin-left: 10px"
					[disabled]="descriptionLoading"
					(click)="editDescription = false"
					*ngIf="editDescription">
					{{ locale.cancel }}
				</dav-button>
			</div>

			<!-- Language -->
			<div id="book-details-language-label">
				<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.language }}: </p>
			</div>

			<div id="book-details-language-data" class="d-flex book-details-data">
				<pocketlib-language-dropdown
					[language]="book.language"
					[disabled]="book.status == 2 || book.status == 3"
					(updated)="SetLanguage($event)">
				</pocketlib-language-dropdown>
			</div>

			<!-- Categories -->
			<div id="book-details-categories-label">
				<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.categories }}: </p>
			</div>

			<div id="book-details-categories-data" class="book-details-data">
				<div class="d-flex">
					<div class="my-auto">
						<span
							class="badge rounded-pill me-2"
							[ngClass]="i == 0 ? 'bg-primary' : 'bg-secondary'"
							*ngFor="let category of book.categories; let i = index">
							{{ category.name }}
						</span>
					</div>

					<button type="button" 
						class="btn ms-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
						style="height: 35px; padding: 3px 6px; font-size: 16px"
						(click)="ShowCategoriesDialog()">
						<i class="ms-Icon ms-Icon--Edit" aria-hidden="true"></i>
					</button>
				</div>
			</div>

			<!-- Price -->
			<div id="book-details-price-label">
				<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.price }}: </p>
			</div>

			<div id="book-details-price-data" class="book-details-data">
				<pocketlib-price-input
					#priceInput
					[canEdit]="book.status == 0 || book.status == 1"
					(update)="UpdatePrice($event)">
				</pocketlib-price-input>
			</div>

			<!-- ISBN -->
			<div id="book-details-isbn-label">
				<p class="me-3 fw-light text-color" style="font-size: 19px">ISBN: </p>
			</div>

			<div id="book-details-isbn-data" class="d-flex text-color book-details-data">
				<pocketlib-isbn-input
					#isbnInput
					[canEdit]="book.status == 0 || book.status == 1"
					(update)="UpdateIsbn($event)">
				</pocketlib-isbn-input>
			</div>

			<!-- Book file -->
			<div id="book-details-book-file-label">
				<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.bookFile }}: </p>
			</div>

			<div id="book-details-book-file-data" class="book-details-data">
				<p class="fw-light font-italic text-color" style="margin-top: 3px" *ngIf="!bookFileUploaded && !bookFileLoading">{{ locale.noBookFile }}</p>
				<p class="fw-light text-color" *ngIf="bookFileUploaded && book.fileName == null && !bookFileLoading">{{ locale.bookFileUploaded }}</p>
				<p class="fw-light text-color" *ngIf="bookFileUploaded && book.fileName != null && !bookFileLoading">{{ book.fileName }}</p>
				<p class="fw-light text-color" *ngIf="bookFileLoading">{{ locale.bookFileUploading }}</p>

				<div class="d-flex">
					<dav-button
						type="accent"
						ngxFilePicker
						accept="application/epub+zip"
						[disabled]="bookFileLoading"
						(filePick)="BookFileUpload($event)"
						*ngIf="book.status == 0 || book.status == 1">
						{{ locale.uploadBookFile }}
					</dav-button>

					<dav-progress-ring
						style="width: 16px; height: 16px; margin: 8px 0px 0px 14px;"
						*ngIf="bookFileLoading">
					</dav-progress-ring>
				</div>
			</div>

			<!-- Status -->
			<div id="book-details-status-label" *ngIf="book.status != 1">
				<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.status }}: </p>
			</div>

			<div id="book-details-status-data" class="book-details-data">
				<div *ngIf="book.status == 0">
					<p class="text-color">{{ locale.unpublished }}</p>

					<div class="d-flex">
						<dav-button
							type="accent"
							[disabled]="!coverContent || !bookFileUploaded || !book.description || statusLoading"
							(click)="PublishBook()">
							{{ locale.publish }}
						</dav-button>

						<dav-progress-ring
							style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
							*ngIf="statusLoading">
						</dav-progress-ring>
					</div>
				</div>

				<div *ngIf="book.status == 3">
					<p class="text-color">{{ locale.unpublished }}</p>

					<div class="d-flex">
						<dav-button
							type="accent"
							[disabled]="!coverContent || !bookFileUploaded || !book.description || statusLoading"
							(click)="PublishOrUnpublishBook(book.status == 3 ? 'published' : 'review')">
							{{ locale.publish }}
						</dav-button>

						<dav-progress-ring
							style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
							*ngIf="statusLoading">
						</dav-progress-ring>
					</div>
				</div>

				<div *ngIf="book.status == 2">
					<p class="text-color">{{ locale.published }}</p>

					<div class="d-flex">
						<dav-button
							type="accent"
							[disabled]="statusLoading"
							(click)="PublishOrUnpublishBook('hidden')">
							{{ locale.unpublish }}
						</dav-button>

						<dav-progress-ring
							style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
							*ngIf="statusLoading">
						</dav-progress-ring>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Dual-Screen layout -->
<div
	class="d-flex flex-row ms-motion-slideUpIn"
	*ngIf="dualScreenLayout">

	<!-- Left screen -->
	<div
		class="w-50"
		[style.marginRight.px]="dualScreenFoldMargin">

		<div class="mt-3 mb-4 mx-3">
			<dav-header
				[header]="book.title"
				backButtonVisible
				editButtonVisible
				(backButtonClick)="BackButtonClick()"
				(editButtonClick)="ShowEditTitleDialog()">
			</dav-header>
		</div>

		<div class="mt-3 mb-4 mx-auto"
			style="min-width: 200px; max-width: 300px"
			*ngIf="errorMessage.length > 0">

			<dav-message-bar type="danger">
				{{ errorMessage }}
			</dav-message-bar>
		</div>

		<div class="d-flex justify-content-center mb-4 px-5">
			<div style="display: inline-grid; grid-template-columns: auto auto; grid-template-rows: auto auto; grid-gap: 28px 8px">
				<!-- Cover -->
				<div style="grid-column: 1; grid-row: 1;">
					<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.cover }}: </p>
				</div>

				<div style="grid-column: 2; grid-row: 1;">
					<p class="fw-light font-italic text-color" style="margin-top: 3px" *ngIf="!coverContent">{{ locale.noCover }}</p>
					<div class="mb-3" *ngIf="coverContent">
						<pocketlib-blurhash-image
							[src]="coverContent"
							[fallback]="dataService.defaultStoreBookCover"
							[blurhash]="book.coverBlurhash"
							height="200"
							width="140"
							[loading]="coverLoading">
						</pocketlib-blurhash-image>
					</div>

					<dav-button
						type="accent"
						ngxFilePicker
						accept="image/png,image/jpeg"
						[disabled]="coverLoading"
						(filePick)="CoverUpload($event)">
						{{ locale.uploadCover }}
					</dav-button>
				</div>

				<!-- Description -->
				<div style="grid-column: 1; grid-row: 2;">
					<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.description }}: </p>
				</div>

				<div style="grid-column: 2; grid-row: 2; min-width: 300px">
					<p class="text-color"
						style="margin-top: 3px; max-width: 400px; white-space: pre-line"
						*ngIf="book.description && !editDescription">
						{{ book.description }}
					</p>
					<p class="fw-light font-italic text-color" style="margin-top: 3px" *ngIf="!book.description && !editDescription">{{ locale.noDescription }}</p>

					<div
						style="margin-top: 3px; margin-bottom: 16px; min-width: 300px;"
						*ngIf="editDescription">

						<dav-textarea
							[value]="newDescription"
							[placeholder]="locale.descriptionTextfieldPlaceholder"
							resize="vertical"
							[errorMessage]="newDescriptionError"
							(change)="newDescription = $event.detail.value; newDescriptionError = ''">
						</dav-textarea>
					</div>

					<dav-button
						type="accent"
						[disabled]="descriptionLoading"
						(click)="EditDescription()">
						{{ editDescription ? locale.save : locale.edit }}
					</dav-button>

					<dav-button
						style="margin-left: 10px"
						[disabled]="descriptionLoading"
						(click)="editDescription = false"
						*ngIf="editDescription">
						{{ locale.cancel }}
					</dav-button>
				</div>
			</div>
		</div>
	</div>

	<!-- Right screen -->
	<div
		class="w-50"
		[style.marginLeft.px]="dualScreenFoldMargin">

		<div class="d-flex justify-content-center mb-4 px-5" style="margin-top: 78px">
			<div style="display: inline-grid; grid-template-columns: auto auto; grid-template-rows: auto auto; grid-gap: 28px 8px">
				<!-- Language -->
				<div style="grid-column: 1; grid-row: 1;">
					<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.language }}: </p>
				</div>

				<div class="d-flex" style="grid-column: 2; grid-row: 1">
					<pocketlib-language-dropdown
						[language]="book.language"
						[disabled]="book.status == 2 || book.status == 3"
						(updated)="SetLanguage($event)">
					</pocketlib-language-dropdown>
				</div>

				<!-- Categories -->
				<div style="grid-column: 1; grid-row: 2">
					<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.categories }}: </p>
				</div>

				<div style="grid-column: 2; grid-row: 2">
					<div class="d-flex">
						<div class="my-auto">
							<span
								class="badge rounded-pill me-2"
								[ngClass]="i == 0 ? 'bg-primary' : 'bg-secondary'"
								*ngFor="let category of book.categories; let i = index">
								{{ category.name }}
							</span>
						</div>

						<button type="button"
							class="btn ms-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
							style="height: 35px; padding: 3px 6px; font-size: 16px"
							(click)="ShowCategoriesDialog()">
							<i class="ms-Icon ms-Icon--Edit" aria-hidden="true"></i>
						</button>
					</div>
				</div>

				<!-- Price -->
				<div style="grid-column: 1; grid-row: 3">
					<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.price }}: </p>
				</div>

				<div style="grid-column: 2; grid-row: 3">
					<pocketlib-price-input
						#priceInput
						[canEdit]="book.status == 0 || book.status == 1"
						(update)="UpdatePrice($event)">
					</pocketlib-price-input>
				</div>

				<!-- ISBN -->
				<div style="grid-column: 1; grid-row: 4;">
					<p class="me-3 fw-light text-color" style="font-size: 19px">ISBN: </p>
				</div>

				<div class="d-flex text-color" style="grid-column: 2; grid-row: 4;">
					<pocketlib-isbn-input
						#isbnInput
						[canEdit]="book.status == 0 || book.status == 1"
						(update)="UpdateIsbn($event)">
					</pocketlib-isbn-input>
				</div>

				<!-- Book file -->
				<div style="grid-column: 1; grid-row: 5;">
					<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.bookFile }}: </p>
				</div>

				<div style="grid-column: 2; grid-row: 5;">
					<p class="fw-light font-italic text-color" style="margin-top: 3px" *ngIf="!bookFileUploaded && !bookFileLoading">{{ locale.noBookFile }}</p>
					<p class="fw-light text-color" *ngIf="bookFileUploaded && book.fileName == null && !bookFileLoading">{{ locale.bookFileUploaded }}</p>
					<p class="fw-light text-color" *ngIf="bookFileUploaded && book.fileName != null && !bookFileLoading">{{ book.fileName }}</p>
					<p class="fw-light text-color" *ngIf="bookFileLoading">{{ locale.bookFileUploading }}</p>

					<div class="d-flex">
						<dav-button
							type="accent"
							ngxFilePicker
							accept="application/epub+zip"
							[disabled]="bookFileLoading"
							(filePick)="BookFileUpload($event)"
							*ngIf="book.status == 0 || book.status == 1">
							{{ locale.uploadBookFile }}
						</dav-button>

						<dav-progress-ring
							style="width: 16px; height: 16px; margin: 8px 0px 0px 14px;"
							*ngIf="bookFileLoading">
						</dav-progress-ring>
					</div>
				</div>

				<!-- Status -->
				<div style="grid-column: 1; grid-row: 6;" *ngIf="book.status != 1">
					<p class="me-3 fw-light text-color" style="font-size: 19px">{{ locale.status }}: </p>
				</div>

				<div style="grid-column: 2; grid-row: 6;">
					<div *ngIf="book.status == 0">
						<p class="text-color">{{ locale.unpublished }}</p>

						<div class="d-flex">
							<dav-button
								type="accent"
								[disabled]="!coverContent || !bookFileUploaded || !book.description || statusLoading"
								(click)="PublishBook()">
								{{ locale.publish }}
							</dav-button>
	
							<dav-progress-ring
								style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
								*ngIf="statusLoading">
							</dav-progress-ring>
						</div>
					</div>

					<div *ngIf="book.status == 3">
						<p class="text-color">{{ locale.unpublished }}</p>

						<div class="d-flex">
							<dav-button
								type="accent"
								[disabled]="!coverContent || !bookFileUploaded || !book.description || statusLoading"
								(click)="PublishOrUnpublishBook(book.status == 3 ? 'published' : 'review')">
								{{ locale.publish }}
							</dav-button>

							<dav-progress-ring
								style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
								*ngIf="statusLoading">
							</dav-progress-ring>
						</div>
					</div>

					<div *ngIf="book.status == 2">
						<p class="text-color">{{ locale.published }}</p>

						<div class="d-flex">
							<dav-button
								type="accent"
								[disabled]="statusLoading"
								(click)="PublishOrUnpublishBook('hidden')">
								{{ locale.unpublish }}
							</dav-button>

							<dav-progress-ring
								style="width: 16px; height: 16px; margin: 8px 0px 0px 14px"
								*ngIf="statusLoading">
							</dav-progress-ring>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<dav-dialog
	[header]="locale.editTitleDialog.header"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="editTitleDialogVisible"
	[loading]="editTitleDialogLoading"
	(dismiss)="editTitleDialogVisible = false"
	(primaryButtonClick)="UpdateTitle()"
	(defaultButtonClick)="editTitleDialogVisible = false">

	<form>
		<!-- Title -->
		<div class="mb-3">
			<dav-textfield
				[value]="editTitleDialogTitle"
				[label]="locale.editTitleDialog.titleTextfieldLabel"
				[placeholder]="locale.editTitleDialog.titleTextfieldPlaceholder"
				[errorMessage]="editTitleDialogTitleError"
				[disabled]="editTitleDialogLoading"
				(change)="editTitleDialogTitle = $event.detail.value; editTitleDialogTitleError = ''"
				(enter)="UpdateTitle()">
			</dav-textfield>
		</div>
	</form>
</dav-dialog>

<dav-dialog
	[header]="locale.categoriesSelectionDialog.header"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="categoriesSelectionDialogVisible"
	[loading]="categoriesSelectionDialogLoading"
	(dismiss)="categoriesSelectionDialogVisible = false"
	(primaryButtonClick)="UpdateCategories()"
	(defaultButtonClick)="categoriesSelectionDialogVisible = false">

	<div class="mb-3">
		<pocketlib-categories-selection
			#categoriesSelection>
		</pocketlib-categories-selection>
	</div>
</dav-dialog>