<div class="container ms-motion-slideUpIn">
	<div class="d-flex justify-content-center">
		<div class="d-flex my-3">
			<button type="button" 
						class="btn mt-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
						style="height: 35px; width: 40px; padding: 2px 0px 0px 0px;"
						(click)="GoBack()">
				<fab-icon iconName="Back" [styles]="backButtonIconStyles"></fab-icon>
			</button>
			<h2 class="text-center font-weight-light mt-2 ml-3 text-color">{{ book.title }}</h2>

			<button type="button" 
					class="btn ml-3 mt-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
					style="height: 35px; padding: 3px 6px; font-size: 18px" 
					(click)="ShowEditTitleModal()">
				<fab-icon iconName="Edit"></fab-icon>
			</button>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div style="display: inline-grid; grid-template-columns: auto auto; grid-template-rows: auto auto; grid-gap: 28px 8px">
			<!-- Cover -->
			<div style="grid-column: 1; grid-row: 1;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.cover }}: </p>
			</div>
	
			<div style="grid-column: 2; grid-row: 1;">
				<p class="font-weight-light font-italic text-color" style="margin-top: 3px" *ngIf="!coverContent">{{ locale.noCover }}</p>
				<div class="mb-3" *ngIf="coverContent">
					<img [src]="coverContent" height="200" />
				</div>
	
				<fab-primary-button 
					ngxFilePicker
					accept="image/png,image/jpeg"
					(filePick)="CoverUpload($event)"
					*ngIf="book.status == 0 || book.status == 1">
					{{ locale.uploadCover }}
				</fab-primary-button>
			</div>
	
			<!-- Description -->
			<div style="grid-column: 1; grid-row: 2;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.description }}: </p>
			</div>
	
			<div style="grid-column: 2; grid-row: 2; min-width: 300px">
				<p class="text-color" style="margin-top: 3px" *ngIf="book.description && !editDescription">{{ book.description }}</p>
				<p class="font-weight-light font-italic text-color" style="margin-top: 3px" *ngIf="!book.description && !editDescription">{{ locale.noDescription }}</p>
	
				<fab-text-field 
					[styles]="descriptionTextfieldStyles"
					[(value)]="newDescription"
					[placeholder]="locale.descriptionTextfieldPlaceholder"
					[errorMessage]="newDescriptionError"
					multiline="true"
					autoAdjustHeight="true"
					*ngIf="editDescription">
				</fab-text-field>
				
				<fab-primary-button (click)="EditDescription()">{{ editDescription ? locale.save : locale.edit }}</fab-primary-button>
				<fab-default-button [styles]="dialogPrimaryButtonStyles" (click)="editDescription = false" *ngIf="editDescription">{{ locale.cancel }}</fab-default-button>
			</div>
	
			<!-- Language -->
			<div style="grid-column: 1; grid-row: 3;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.language }}: </p>
			</div>
	
			<div class="d-flex" style="grid-column: 2; grid-row: 3">
				<fab-dropdown [selectedKey]="languageSelectedKey" [disabled]="book.status == 2 || book.status == 3" (onChange)="SetLanguage($event)">
					<options>
						<fab-dropdown-option optionKey="en" [text]="locale.languages.en"></fab-dropdown-option>
						<fab-dropdown-option optionKey="de" [text]="locale.languages.de"></fab-dropdown-option>
					</options>
				</fab-dropdown>
			</div>

			<!-- Book file -->
			<div style="grid-column: 1; grid-row: 4;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.bookFile }}: </p>
			</div>

			<div style="grid-column: 2; grid-row: 4;">
				<p class="font-weight-light font-italic text-color" style="margin-top: 3px" *ngIf="!bookFileUploaded">{{ locale.noBookFile }}</p>
				<p class="font-weight-light text-color" *ngIf="bookFileUploaded">{{ locale.bookFileUploaded }}</p>

				<fab-primary-button
					ngxFilePicker
					accept="application/epub+zip,application/pdf"
					(filePick)="BookFileUpload($event)"
					*ngIf="book.status == 0 || book.status == 1">
					{{ locale.uploadBookFile }}
				</fab-primary-button>
			</div>

			<!-- Status -->
			<div style="grid-column: 1; grid-row: 5;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.status }}: </p>
			</div>

			<div style="grid-column: 2; grid-row: 5;">
				<div *ngIf="book.status == 0 || book.status == 3">
					<p class="text-color">{{ locale.unpublished }}</p>
					<fab-primary-button (click)="PublishOrUnpublishBook(true)" [disabled]="!coverContent || !bookFileUploaded || !book.description">{{ locale.publish }}</fab-primary-button>
				</div>

				<div *ngIf="book.status == 1">
					<p class="text-color">{{ locale.inReview }}</p>
					<fab-primary-button (click)="PublishOrUnpublishBook(false)">{{ locale.unpublish }}</fab-primary-button>
				</div>

				<div *ngIf="book.status == 2">
					<p class="text-color">{{ locale.published }}</p>
					<fab-primary-button (click)="PublishOrUnpublishBook(false)">{{ locale.unpublish }}</fab-primary-button>
				</div>
			</div>
		</div>
	</div>
</div>

<fab-dialog
	[hidden]="!editTitleDialogVisible"
	[dialogContentProps]="editTitleDialogContentProps"
	(onDismiss)="editTitleDialogVisible = false">

	<!-- Title -->
	<div class="mb-4">
		<fab-text-field 
			[(value)]="editTitleDialogTitle"
			[label]="locale.editTitleDialog.titleTextfieldLabel"
			[placeholder]="locale.editTitleDialog.titleTextfieldPlaceholder"
			[errorMessage]="editTitleDialogTitleError">
		</fab-text-field>
	</div>

	<fab-dialog-footer>
		<fab-default-button (click)="editTitleDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="dialogPrimaryButtonStyles" (click)="UpdateTitle()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>