<div class="container ms-motion-slideUpIn">
	<div class="mt-3 mb-4">
		<pocketlib-header
			[title]="book.title"
			editButtonVisible="true"
			(backButtonClick)="GoBack()"
			(editButtonClick)="ShowEditTitleDialog()">
		</pocketlib-header>
	</div>

	<div class="d-flex justify-content-center mb-4">
		<div style="display: inline-grid; grid-template-columns: auto auto; grid-template-rows: auto auto; grid-gap: 28px 8px">
			<!-- Cover -->
			<div style="grid-column: 1; grid-row: 1;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.cover }}: </p>
			</div>
	
			<div style="grid-column: 2; grid-row: 1;">
				<p class="font-weight-light font-italic text-color" style="margin-top: 3px" *ngIf="!coverContent">{{ locale.noCover }}</p>
				<div class="mb-3" *ngIf="coverContent">
					<pocketlib-blurhash-image
						[src]="coverContent"
						[fallback]="dataService.defaultStoreBookCover"
						[blurhash]="book.coverBlurhash"
						height="200"
						width="140"
						>
					</pocketlib-blurhash-image>
				</div>
	
				<fab-primary-button 
					ngxFilePicker
					accept="image/png,image/jpeg"
					(filePick)="CoverUpload($event)">
					{{ locale.uploadCover }}
				</fab-primary-button>
			</div>
	
			<!-- Description -->
			<div style="grid-column: 1; grid-row: 2;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.description }}: </p>
			</div>
	
			<div style="grid-column: 2; grid-row: 2; min-width: 300px">
				<p class="text-color"
					style="margin-top: 3px; max-width: 400px"
					*ngIf="book.description && !editDescription">
					{{ book.description }}
				</p>
				<p class="font-weight-light font-italic text-color" style="margin-top: 3px" *ngIf="!book.description && !editDescription">{{ locale.noDescription }}</p>
	
				<fab-text-field 
					[styles]="descriptionTextfieldStyles"
					[(value)]="newDescription"
					[placeholder]="locale.descriptionTextfieldPlaceholder"
					[errorMessage]="newDescriptionError"
					multiline="true"
					autoAdjustHeight="true"
					*ngIf="editDescription">
				</fab-text-field>
				
				<fab-primary-button (click)="EditDescription()">{{ editDescription ? locale.save : locale.edit }}</fab-primary-button>
				<fab-default-button [styles]="dialogPrimaryButtonStyles" (click)="editDescription = false" *ngIf="editDescription">{{ locale.cancel }}</fab-default-button>
			</div>
	
			<!-- Language -->
			<div style="grid-column: 1; grid-row: 3;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.language }}: </p>
			</div>
	
			<div class="d-flex" style="grid-column: 2; grid-row: 3">
				<pocketlib-language-dropdown
					[language]="book.language"
					[disabled]="book.status == 2 || book.status == 3"
					(updated)="SetLanguage($event)">
				</pocketlib-language-dropdown>
			</div>

			<!-- Categories -->
			<div style="grid-column: 1; grid-row: 4">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.categories }}: </p>
			</div>

			<div style="grid-column: 2; grid-row: 4">
				<div class="d-flex">
					<div class="my-auto">
						<span
							class="badge badge-pill mr-2"
							[ngClass]="i % 2 == 0 ? 'badge-primary' : 'badge-secondary'"
							style="font-size: 13px"
							*ngFor="let category of book.categories; let i = index">
							{{ category.name }}
						</span>
					</div>

					<button type="button" 
						class="btn ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
						style="height: 35px; padding: 3px 6px; font-size: 18px"
						(click)="ShowCategoriesDialog()">
						<fab-icon iconName="Edit"></fab-icon>
					</button>
				</div>
			</div>

			<!-- Price -->
			<div style="grid-column: 1; grid-row: 5">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.price }}: </p>
			</div>

			<div style="grid-column: 2; grid-row: 5">
				<pocketlib-edit-price
					#editPrice
					[canEdit]="book.status == 0 || book.status == 1"
					(update)="UpdatePrice($event)">
				</pocketlib-edit-price>
			</div>

			<!-- Book file -->
			<div style="grid-column: 1; grid-row: 6;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.bookFile }}: </p>
			</div>

			<div style="grid-column: 2; grid-row: 6;">
				<p class="font-weight-light font-italic text-color" style="margin-top: 3px" *ngIf="!bookFileUploaded">{{ locale.noBookFile }}</p>
				<p class="font-weight-light text-color" *ngIf="bookFileUploaded">{{ locale.bookFileUploaded }}</p>

				<fab-primary-button
					ngxFilePicker
					accept="application/epub+zip,application/pdf"
					(filePick)="BookFileUpload($event)"
					*ngIf="book.status == 0 || book.status == 1">
					{{ locale.uploadBookFile }}
				</fab-primary-button>
			</div>

			<!-- Status -->
			<div style="grid-column: 1; grid-row: 7;">
				<p class="mr-3 font-weight-light text-color" style="font-size: 19px">{{ locale.status }}: </p>
			</div>

			<div style="grid-column: 2; grid-row: 7;">
				<div *ngIf="book.status == 0 || book.status == 3">
					<p class="text-color">{{ locale.unpublished }}</p>
					<fab-primary-button (onClick)="PublishOrUnpublishBook(true)" [disabled]="!coverContent || !bookFileUploaded || !book.description">{{ locale.publish }}</fab-primary-button>
				</div>

				<div *ngIf="book.status == 1">
					<p class="text-color">{{ locale.inReview }}</p>
					<fab-primary-button (onClick)="PublishOrUnpublishBook(false)">{{ locale.unpublish }}</fab-primary-button>
				</div>

				<div *ngIf="book.status == 2">
					<p class="text-color">{{ locale.published }}</p>
					<fab-primary-button (onClick)="PublishOrUnpublishBook(false)">{{ locale.unpublish }}</fab-primary-button>
				</div>
			</div>
		</div>
	</div>
</div>

<fab-dialog
	[hidden]="!editTitleDialogVisible"
	[dialogContentProps]="editTitleDialogContentProps"
	(onDismiss)="editTitleDialogVisible = false">

	<!-- Title -->
	<div class="mb-4">
		<fab-text-field 
			[(value)]="editTitleDialogTitle"
			[label]="locale.editTitleDialog.titleTextfieldLabel"
			[placeholder]="locale.editTitleDialog.titleTextfieldPlaceholder"
			[errorMessage]="editTitleDialogTitleError"
			(keydown.enter)="UpdateTitle()">
		</fab-text-field>
	</div>

	<fab-dialog-footer>
		<fab-default-button (onClick)="editTitleDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="dialogPrimaryButtonStyles" (onClick)="UpdateTitle()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>

<fab-dialog
	[hidden]="!categoriesSelectionDialogVisible"
	[dialogContentProps]="categoriesSelectionDialogContentProps"
	(onDismiss)="categoriesSelectionDialogVisible = false">

	<pocketlib-categories-selection #categoriesSelection>
	</pocketlib-categories-selection>

	<fab-dialog-footer>
		<fab-default-button (onClick)="categoriesSelectionDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="dialogPrimaryButtonStyles" (onClick)="UpdateCategories()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>