<pocketlib-author-profile
	*ngIf="dataService.userAuthor || (dataService.userIsAdmin && slug)"
	[slug]="uuid"
></pocketlib-author-profile>

<!-- Admin view -->
<div class="container slide-up-in" *ngIf="dataService.userIsAdmin && !slug">
	<!-- List of publishers -->
	<div class="header-container">
		<dav-header
			size="small"
			addButtonVisible
			(addButtonClick)="ShowCreatePublisherDialog()"
		>
			{{ locale.yourPublishers }}
		</dav-header>
	</div>

	<div class="list-container">
		<dav-list>
			<dav-list-item
				[headline]="publisher.name"
				size="small"
				(click)="ShowPublisher(publisher.uuid)"
				*ngFor="let publisher of dataService.adminPublishers"
			></dav-list-item>
		</dav-list>
	</div>

	<!-- List of authors -->
	<div class="header-container">
		<dav-header
			size="small"
			addButtonVisible
			(addButtonClick)="ShowCreateAuthorDialog()"
		>
			{{ locale.yourAuthors }}
		</dav-header>
	</div>

	<div class="list-container">
		<dav-list>
			<dav-list-item
				[headline]="author.firstName + ' ' + author.lastName"
				size="small"
				(click)="ShowAuthor(author.uuid)"
				*ngFor="let author of dataService.adminAuthors"
			></dav-list-item>
		</dav-list>
	</div>

	<!-- List of books in review -->
	<div class="header-container">
		<dav-header size="small">
			{{ locale.booksInReview }}
		</dav-header>
	</div>

	<div class="list-container">
		<dav-list>
			<dav-list-item
				[headline]="book.title"
				[subhead]="book.author"
				size="small"
				(click)="ShowBook(book.uuid)"
				*ngFor="let book of booksInReview"
			></dav-list-item>
		</dav-list>
	</div>
</div>

<pocketlib-create-publisher-dialog
	#createPublisherDialog
	[loading]="createPublisherDialogLoading"
	[nameError]="createPublisherDialogNameError"
	(primaryButtonClick)="CreatePublisher($event)"
></pocketlib-create-publisher-dialog>

<pocketlib-create-author-dialog
	#createAuthorDialog
	[loading]="createAuthorDialogLoading"
	[firstNameError]="createAuthorDialogFirstNameError"
	[lastNameError]="createAuthorDialogLastNameError"
	(primaryButtonClick)="CreateAuthor($event)"
></pocketlib-create-author-dialog>
