<div
	class="container-fluid m-0"
	[style.padding]="dataService.smallWindow ? '0px 0px 56px 0px' : '0px'"
	*ngIf="!dataService.userAuthor && !dataService.userIsAdmin">

	<div
		id="author-landing-section-1"
		class="d-flex acrylic light"
		[style.height.px]="section1Height">

		<div
			class="mx-auto text-center"
			style="display: inline-block"
			[style.marginTop.px]="section1TextMarginTop"
			*ngIf="!dualScreenLayout">

			<h1 style="font-size: 46px">{{ locale.landingSection1Header }}</h1>
			<h4 class="mt-2">{{ locale.landingSection1Subheader }}</h4>

			<div class="mt-4 me-2">
				<dav-button
					type="accent"
					(click)="createProfileButtonClick()">
					{{ dataService.dav.isLoggedIn ? locale.createProfile : locale.login }}
				</dav-button>
			</div>
		</div>

		<div class="w-50" *ngIf="dualScreenLayout">
			<div
				class="mx-auto text-center"
				style="display: inline-block"
				[style.marginTop.px]="section1TextMarginTop">

				<h1 style="font-size: 46px">{{ locale.landingSection1Header }}</h1>
				<h4 class="mt-2">{{ locale.landingSection1Subheader }}</h4>

				<div class="mt-4 me-2">
					<dav-button
						type="accent"
						(click)="createProfileButtonClick()">
						{{ dataService.dav.isLoggedIn ? locale.createProfile : locale.login }}
					</dav-button>
				</div>
			</div>
		</div>
	</div>

	<div
		id="author-landing-section-2"
		class="row"
		style="background-color: white"
		[style.height.px]="section2Height">

		<div class="col-12 col-md-6 px-5 my-auto" style="width: 100%">
			<h3 class="mt-3 fw-light text-center">{{ locale.landingSection2Header }}</h3>
			<p class="mt-5 mx-auto" style="font-size: 20px; max-width: 560px" [innerHtml]="locale.landingSection2Description"></p>
		</div>
		<div class="col-12 col-md-6 d-flex align-items-center" style="width: 100%">
			<img
				class="my-auto mx-auto"
				src="/assets/images/author-sample-profile.png"
				[style.width.px]="authorSampleProfileImageWidth">
		</div>
	</div>

	<div
		id="author-landing-section-3"
		class="row"
		style="background-color: white"
		[style.height.px]="section3Height">

		<div class="col-12 col-md-6 d-flex align-items-center justify-content-center" style="width: 100%">
			<fa-icon [icon]="faCoins" size="6x"></fa-icon>
		</div>
		<div class="col-12 col-md-6 px-5 my-auto" style="width: 100%">
			<h3 class="mt-3 fw-light text-center">{{ locale.landingSection3Header }}</h3>
			<p class="mt-5 mx-auto" style="font-size: 20px; max-width: 560px" [innerHtml]="locale.landingSection3Description"></p>
		</div>
	</div>

	<div
		id="author-landing-section-4"
		style="height: 190px; background-color: #efefef">

		<div class="text-center" [ngClass]="dualScreenLayout ? 'w-50' : 'w-100'">
			<h4 class="pt-5 mb-4">{{ locale.landingSection4Header }}</h4>

			<dav-button
				type="accent"
				(click)="createProfileButtonClick()">
				{{ dataService.dav.isLoggedIn ? locale.createProfile : locale.login }}
			</dav-button>
		</div>
	</div>
</div>

<pocketlib-author-profile 
	*ngIf="dataService.userAuthor || (dataService.userIsAdmin && uuid)"
	[uuid]="uuid">
</pocketlib-author-profile>

<!-- Normal layout for Admin view -->
<div
	class="container text-center ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0"
	*ngIf="dataService.userIsAdmin && !uuid && !dualScreenLayout">

	<!-- List of publishers -->
	<h1 class="mt-3 mb-4 fw-light text-color">{{ locale.yourPublishers }}</h1>

	<div class="list-group" style="display: inline-block">
		<p class="list-group-item cursor theme-background-color-secondary">
			<i class="ms-Icon ms-Icon--Add text-color" aria-hidden="true" style="font-size: 18px"></i>
		</p>

		<p class="list-group-item cursor theme-background-color-secondary text-color"
			style="font-size: 18px"
			(click)="ShowPublisher(publisher.uuid)"
			*ngFor="let publisher of dataService.adminPublishers">
			{{ publisher.name }}
		</p>
	</div>

	<!-- List of authors -->
	<h1 class="mt-3 mb-4 fw-light text-color">{{ locale.yourAuthors }}</h1>

	<div class="list-group" style="display: inline-block">
		<p class="list-group-item cursor theme-background-color-secondary"
			(click)="ShowCreateAuthorDialog()">
			<i class="ms-Icon ms-Icon--Add text-color" aria-hidden="true" style="font-size: 18px"></i>
		</p>

		<p class="list-group-item cursor theme-background-color-secondary text-color" 
			style="font-size: 18px"
			(click)="ShowAuthor(author.uuid)"
			*ngFor="let author of dataService.adminAuthors">
			{{ author.firstName }} {{ author.lastName }}
		</p>
	</div>

	<!-- List of books in review -->
	<h1 class="mt-5 mb-4 fw-light text-color">{{ locale.booksInReview }}</h1>

	<div class="list-group" style="display: inline-block">
		<p
			class="list-group-item cursor theme-background-color-secondary text-color"
			style="font-size: 18px"
			(click)="ShowBook(book.uuid)"
			*ngFor="let book of booksInReview">
			{{ book.title }}
		</p>
	</div>
</div>

<!-- Dual-Screen layout for Admin view -->
<div
	class="d-flex flex-row ms-motion-slideUpIn"
	*ngIf="dataService.userIsAdmin && !uuid && dualScreenLayout">

	<!-- Left screen -->
	<div
		class="w-50 text-center"
		[style.marginRight.px]="dualScreenFoldMargin">

		<!-- List of publishers -->
		<h1 class="mt-3 mb-4 fw-light text-color">{{ locale.yourPublishers }}</h1>

		<div class="list-group" style="display: inline-block">
			<p class="list-group-item cursor theme-background-color-secondary">
				<i class="ms-Icon ms-Icon--Add text-color" aria-hidden="true" style="font-size: 18px"></i>
			</p>
	
			<p class="list-group-item cursor theme-background-color-secondary text-color"
				style="font-size: 18px"
				(click)="ShowPublisher(publisher.uuid)"
				*ngFor="let publisher of dataService.adminPublishers">
				{{ publisher.name }}
			</p>
		</div>

		<!-- List of authors -->
		<h1 class="mt-3 mb-4 fw-light text-color">{{ locale.yourAuthors }}</h1>

		<div class="list-group" style="display: inline-block">
			<p class="list-group-item cursor theme-background-color-secondary"
				(click)="ShowCreateAuthorDialog()">
				<i class="ms-Icon ms-Icon--Add text-color" aria-hidden="true" style="font-size: 18px"></i>
			</p>

			<p class="list-group-item cursor theme-background-color-secondary text-color" 
				style="font-size: 18px"
				(click)="ShowAuthor(author.uuid)"
				*ngFor="let author of dataService.adminAuthors">
				{{ author.firstName }} {{ author.lastName }}
			</p>
		</div>
	</div>

	<!-- Right screen -->
	<div
		class="w-50 text-center"
		[style.marginLeft.px]="dualScreenFoldMargin">

		<!-- List of books in review -->
		<h1 class="mt-3 mb-4 fw-light text-color">{{ locale.booksInReview }}</h1>

		<div class="list-group" style="display: inline-block">
			<p class="list-group-item cursor theme-background-color-secondary text-color"
				style="font-size: 18px"
				(click)="ShowBook(book.uuid)"
				*ngFor="let book of booksInReview">
				{{ book.title }}
			</p>
		</div>
	</div>
</div>

<dav-dialog
	[header]="locale.createAuthorDialog.header"
	[primaryButtonText]="locale.create"
	[defaultButtonText]="locale.cancel"
	[visible]="createAuthorDialogVisible"
	[loading]="createAuthorDialogLoading"
	maxWidth="340"
	(dismiss)="createAuthorDialogVisible = false"
	(primaryButtonClick)="CreateAuthor()"
	(defaultButtonClick)="createAuthorDialogVisible = false">

	<form>
		<!-- First name -->
		<div class="mb-3">
			<dav-textfield
				[value]="createAuthorDialogFirstName"
				[label]="locale.createAuthorDialog.firstNameTextfieldLabel"
				[placeholder]="locale.createAuthorDialog.firstNameTextfieldPlaceholder"
				autocomplete="given-name"
				[disabled]="createAuthorDialogLoading"
				[errorMessage]="createAuthorDialogFirstNameError"
				(change)="createAuthorDialogFirstName = $event.detail.value; createAuthorDialogFirstNameError = ''">
			</dav-textfield>
		</div>

		<!-- Last name -->
		<div class="mb-3">
			<dav-textfield
				[value]="createAuthorDialogLastName"
				[label]="locale.createAuthorDialog.lastNameTextfieldLabel"
				[placeholder]="locale.createAuthorDialog.lastNameTextfieldPlaceholder"
				autocomplete="family-name"
				[disabled]="createAuthorDialogLoading"
				[errorMessage]="createAuthorDialogLastNameError"
				(change)="createAuthorDialogLastName = $event.detail.value; createAuthorDialogLastNameError = ''"
				(enter)="CreateAuthor()">
			</dav-textfield>
		</div>
	</form>
</dav-dialog>