<div id="author-landing-header-1" class="container-fluid d-flex acrylic" [style.height.px]="header1Height" *ngIf="!dataService.userAuthor">
   <div class="mx-auto text-center" style="display: inline-block;" [style.marginTop.px]="header1TextMarginTop">
      <h1 style="font-size: 46px; color: white;">{{ locale.landingHeader1 }}</h1>
      <h4 class="mt-2" style="color: white;">{{ locale.landingSubheader1 }}</h4>
      <button mat-raised-button class="mt-4 mr-2" style="outline: none;" color="primary" (click)="createProfileButtonClick()">{{ dataService.user.IsLoggedIn ? locale.createProfile : locale.login }}</button>
   </div>
</div>

<div class="container ms-motion-slideUpIn" *ngIf="dataService.userAuthor">
	<div class="row">
		<div class="col-10 offset-1 col-md-4 offset-md-0 col-xl-3 text-center pt-5">
			<img class="rounded-circle shadow" [style.width.px]="profileImageWidth" src="https://davapps.blob.core.windows.net/avatars-dev/default.png">
			<h4 class="mt-4">{{ dataService.userAuthor.firstName }} {{ dataService.userAuthor.lastName }}</h4>

			<p class="mt-3" *ngIf="dataService.userAuthor.bio && !editBio">{{ dataService.userAuthor.bio }}</p>
			<p class="mt-3 font-weight-light font-italic" *ngIf="!dataService.userAuthor.bio && !editBio">{{ locale.noBio }}</p>

			<div class="mx-auto my-3" style="width: 80%" *ngIf="editBio">
				<fab-text-field
					[styles]="bioTextfieldStyles"
					[(value)]="newBio"
					[placeholder]="locale.bioTextfieldPlaceholder"
					[errorMessage]="newBioError"
					multiline="true"
					autoAdjustHeight="true">
				</fab-text-field>
			</div>

			<fab-primary-button (click)="EditBio()">{{ editBio ? locale.save : locale.edit }}</fab-primary-button>
			<fab-default-button [styles]="dialogPrimaryButtonStyles" (click)="editBio = false" *ngIf="editBio">{{ locale.cancel }}</fab-default-button>
		</div>
	
		<div class="col-12 col-md-8 col-xl-9 text-center pt-5">
			<h4 class="mt-md-5 mb-3 mb-md-4">{{ locale.yourCollections }}</h4>

			<div class="list-group" style="display: inline-block">
				<p class="list-group-item cursor" (click)="ShowCollection(collection.uuid)" *ngFor="let collection of collections">{{ collection.name }}</p>
			</div>
		</div>
	</div>
</div>

<fab-dialog
	[hidden]="!createBookDialogVisible"
	[dialogContentProps]="createBookDialogContentProps"
	(onDismiss)="createBookDialogVisible = false">

	<!-- Title -->
	<div class="mb-4">
		<fab-text-field
			[(value)]="createBookDialogTitle"
			[label]="locale.createBookDialog.titleTextfieldLabel"
			[placeholder]="locale.createBookDialog.titleTextfieldPlaceholder"
			[errorMessage]="createBookDialogTitleError">
		</fab-text-field>
	</div>

	<fab-dialog-footer>
		<fab-default-button (click)="createBookDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="dialogPrimaryButtonStyles" (click)="CreateBook()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>