.container {
	margin-bottom: 2rem;
	padding: 12px;
}

.headline {
	text-align: center;
	margin-top: 2rem;
	color: var(--dav-color-on-surface);
	font-size: 20px;
	font-weight: 400;
}

.dav-logo-container {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.dav-logo {
	width: 140px;
}

.dav-buttons-container {
	display: flex;
	justify-content: center;
	margin-top: 45px;
	gap: 1rem;
}

.benefits-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: 24px;
	justify-items: center;
	max-width: 1024px;
	margin: 4rem auto 0;
}

.benefit {
	text-align: center;
	color: var(--dav-color-on-surface);
	max-width: 240px;
}

.benefit > p {
	font-size: 20px;
	margin-top: 2rem;
}

@media screen and (min-width: 400px) {
	.benefits-container {
		grid-template-columns: auto auto;
	}

	.benefit-3 {
		grid-column: 1 / 3;
	}
}

@media screen and (min-width: 900px) {
	.benefits-container {
		grid-template-columns: auto auto auto;
	}

	.benefit-3 {
		grid-column: 3;
	}
}

.benefits-container fa-icon {
	font-size: 60px;
}

.header-logged-in-container {
	margin-bottom: 32px;
}

.user-profile-container {
	display: flex;
	justify-content: center;
}

.profile-image {
	border-radius: 50%;
	box-shadow: 0 0.5rem 1rem #00000026;
}

.user-details-container {
	width: 200px;
}

.user-details-container > h4 {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
}

.profile-link {
	text-decoration: none;
	color: var(--dav-color-on-surface);
}

.plan-label {
	margin: 4px 0;
	color: var(--dav-color-on-surface-variant);
	font-weight: 300;
}

.progress-bar-container {
	margin-top: 1rem;
	width: 200px;
}

.used-storage-label {
	margin-top: 32px;
	margin-bottom: 10px;
	color: var(--dav-color-on-surface);
}

.orders-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 32px;
}

h2 {
	font-weight: 400;
	font-size: 28px;
	color: var(--dav-color-on-surface);
}

.orders-list-container {
	max-width: 500px;
}

.pro-card-container {
	display: flex;
	justify-content: center;
	margin-top: 90px;
}

.pro-card-inner-container {
	text-align: center;
	margin: 0;
	min-width: 200px;
	max-width: 250px;

	h3 {
		font-size: 20px;
		margin: 4px 0;
	}

	.card-price {
		margin: 10px 0 16px;
	}

	.border {
		border-top: 1px solid rgb(var(--dav-color-outline-rgb), 0.15);
	}

	.card-item {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		padding: 16px 0;

		p {
			width: 80%;
			margin: 0;
		}
	}

	.action-button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
		padding-bottom: 4px;
	}

	.action-button-container.loading {
		margin-left: 32px;
	}
}
