<div
	class="container"
	[ngClass]="
		section != 3
			? forwardNavigation
				? 'slide-left-out'
				: 'slide-right-out'
			: forwardNavigation
				? 'slide-left-in'
				: 'slide-right-in'
	"
	[style.display]="visibleSection != 3 ? 'none' : null"
>
	<div>
		<p class="description-text">{{ locale.categoriesSection.description }}</p>

		<pocketlib-categories-selection
			#categoriesSelection
		></pocketlib-categories-selection>
	</div>

	<div class="button-container">
		<dav-button size="sm" outline (click)="Previous()">
			{{ locale.previous }}
		</dav-button>
	
		<dav-button size="sm" (click)="Submit()">
			{{ locale.next }}
		</dav-button>
	</div>
</div>
