<div style="position: relative; display: inline-block">
	<div
		style="position: absolute"
		[style.marginTop.px]="(height / 2) - 10"
		[style.marginLeft.px]="(width / 2) - 10"
		*ngIf="loading">
		<fluent-progress-ring
			style="width: 20px; height: 20px; margin: 0">
		</fluent-progress-ring>
	</div>

	<img
		#image
		[ngClass]="classes"
		[style.transition.s]="0.12"
		[style.margin]="margin"
		[style.opacity]="loading ? 0.4 : 1"
		[title]="title"
		[alt]="alt"
		[height]="height"
		(mouseover)="SetHover(true)"
		(mouseout)="SetHover(false)">
</div>