<!-- Normal layout -->
<div
	class="container ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0">

	<div class="mt-3 mb-4">
		<pocketlib-header
			[title]="nameSubmitted ? submittedName : locale.title"
			[editButtonVisible]="nameSubmitted"
			(backButtonClick)="GoBack()"
			(editButtonClick)="NavigateToSection(0)">
		</pocketlib-header>
	</div>

	<!-- Name -->
	<pocketlib-new-series-page-name-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(submit)="SubmitName($event)">
	</pocketlib-new-series-page-name-section>

	<!-- Book selection -->
	<pocketlib-new-series-page-book-selection-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		[books]="selectableBooks"
		(selectedBooksChange)="SelectedBooksChange($event)"
		(previous)="Previous()"
		(finish)="Finish()">
	</pocketlib-new-series-page-book-selection-section>
</div>

<div
	class="ms-motion-slideUpIn"
	style="background-color: var(--primary); color: white; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 3"
	[style.height.px]="height"
	*ngIf="loadingScreenVisible">

	<div
		class="d-flex justify-content-center"
		[ngClass]="dualScreenLayout ? 'w-50' : 'w-100'"
		[style.height.px]="height">

		<div style="display: inline-block" class="m-auto text-center">
			<img src="/assets/images/pocketlib-logo.png" width="150" style="margin-bottom: 20px">

			<mat-progress-spinner
				class="mx-auto"
				mode="indeterminate"
				diameter="30">
			</mat-progress-spinner>

			<p class="font-weight-light"
				style="margin-top: 30px; font-size: 18px; color: white">
				{{ locale.loadingScreen.message }}
			</p>
		</div>
	</div>
</div>