<!-- Normal layout -->
<div
	class="container ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0"
	*ngIf="!dualScreenLayout">

	<div class="mt-3 mb-4">
		<dav-header
			[header]="nameSubmitted ? submittedName : locale.title"
			backButtonVisible
			[editButtonVisible]="nameSubmitted"
			(backButtonClick)="GoBack()"
			(editButtonClick)="NavigateToSection(0)">
		</dav-header>
	</div>

	<!-- Error message bar -->
	<div
		class="mb-3 mx-auto"
		style="max-width: 300px"
		*ngIf="errorMessage.length > 0">
		<dav-message-bar type="danger">
			{{ errorMessage }}
		</dav-message-bar>
	</div>

	<!-- Name -->
	<pocketlib-new-series-page-name-section
		[loading]="loading"
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(submit)="SubmitName($event)">
	</pocketlib-new-series-page-name-section>

	<!-- Book selection -->
	<pocketlib-new-series-page-book-selection-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		[books]="selectableBooks"
		(selectedBooksChange)="SelectedBooksChange($event)"
		(previous)="Previous()"
		(finish)="Finish()">
	</pocketlib-new-series-page-book-selection-section>
</div>

<!-- Dual-Screen layout -->
<div
	class="d-flex flex-row ms-motion-slideUpIn"
	*ngIf="dualScreenLayout">

	<!-- Left screen -->
	<div
		class="w-50"
		[style.marginRight.px]="dualScreenFoldMargin">
	
		<div class="mt-3 mb-4 mx-3">
			<dav-header
				[header]="nameSubmitted ? submittedName : locale.title"
				backButtonVisible
				[editButtonVisible]="nameSubmitted"
				(backButtonClick)="GoBack()"
				(editButtonClick)="NavigateToSection(0)">
			</dav-header>
		</div>

		<!-- Error message bar -->
		<div
			class="mb-3 mx-auto"
			style="max-width: 300px"
			*ngIf="errorMessage.length > 0">
			<dav-message-bar type="danger">
				{{ errorMessage }}
			</dav-message-bar>
		</div>

		<!-- Name -->
		<pocketlib-new-series-page-name-section
			[loading]="loading"
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			(submit)="SubmitName($event)">
		</pocketlib-new-series-page-name-section>

		<!-- Book selection -->
		<pocketlib-new-series-page-book-selection-section
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			[books]="selectableBooks"
			(selectedBooksChange)="SelectedBooksChange($event)"
			(previous)="Previous()"
			(finish)="Finish()">
		</pocketlib-new-series-page-book-selection-section>
	</div>
</div>

<pocketlib-loading-view
	*ngIf="loadingScreenVisible"
	[message]="locale.loadingScreen.message">
</pocketlib-loading-view>