<!-- Normal layout -->
<div class="container slide-up-in">
	<div class="header-container">
		<dav-header backButtonVisible (backButtonClick)="GoBack()">
			{{ locale.title }}
		</dav-header>
	</div>

	@if (errorMessage.length > 0) {
	<!-- Error message bar -->
	<div class="error-message-container">
		<dav-message-bar color="error" type="error">
			{{ errorMessage }}
		</dav-message-bar>
	</div>
	}

	<div class="selection-container">
		<div class="selection-content-container">
			<p class="description-text" [innerHTML]="locale.description"></p>

			<!-- Language -->
			<div class="language-dropdown-container">
				<pocketlib-language-dropdown
					[language]="language"
					[disabled]="loading"
					(updated)="SetLanguage($event)"
				></pocketlib-language-dropdown>
			</div>

			<!-- Name -->
			<dav-textfield
				[label]="locale.nameTextfieldLabel"
				[value]="name"
				[placeholder]="locale.nameTextfieldPlaceholder"
				[disabled]="loading"
				(change)="name = $event.detail.value"
			></dav-textfield>
		</div>
	</div>

	@if (booksLoading) {
	<div class="progress-ring-container">
		<dav-progress-ring size="28"></dav-progress-ring>
	</div>
	} @if (!booksLoading && bookItems.length > 0) {
	<div class="books-container">
		<div class="inner-books-container">
			<div>
				<dav-checkbox
					[label]="book.title"
					[checked]="book.checked"
					(change)="ToggleSelectedBook(book)"
					*ngFor="let book of bookItems"
				></dav-checkbox>
			</div>

			<div class="submit-button-container">
				<dav-button
					[disabled]="
						selectedBooks.length <= 1 || name.length < 3 || loading
					"
					(click)="Submit()"
				>
					{{ locale.create }}
				</dav-button>

				@if (loading){
				<dav-progress-ring size="16"></dav-progress-ring>
				}
			</div>
		</div>
	</div>
	} @if (bookItems.length == 0 && !booksLoading) {
	<div class="no-books-container">
		<p>{{ locale.noBooksMessage }}</p>
	</div>
	}
</div>
