<h2 class="mx-auto ml-3 mb-0 text-center font-weight-light text-color">
	<button
		type="button"
		class="btn mr-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
		style="height: 35px; width: 40px; font-size: 18px; margin-top: -6px; padding: 2px 0px 0px 0px"
		(click)="backButtonClick.emit()"
		*ngIf="!backButtonLink">
		<i class="ms-Icon ms-Icon--Back" style="font-size: 18px" aria-hidden="true"></i>
	</button>
	<a
		class="btn mr-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
		style="height: 35px; width: 40px; font-size: 18px; margin-top: -6px; padding: 2px 0px 0px 0px"
		[routerLink]="backButtonLink"
		[queryParams]="backButtonLinkParams"
		(click)="backButtonClick.emit()"
		*ngIf="backButtonLink">
		<i class="ms-Icon ms-Icon--Back" style="font-size: 18px" aria-hidden="true"></i>
	</a>
	{{ title }}
	<button
		type="button"
		class="btn ml-3 text-color theme-background-color-primary theme-border-color-primary icon-button"
		style="height: 35px; font-size: 18px; margin-top: -6px; padding: 0px 6px"
		(click)="editButtonClick.emit()"
		*ngIf="editButtonVisible">
		<i class="ms-Icon ms-Icon--Edit" style="font-size: 18px" aria-hidden="true"></i>
	</button>
</h2>