<div class="container slide-up-in">
	<div class="header-container">
		<dav-header
			backButtonVisible
			[addButtonVisible]="selectableBooks.length > 0"
			editButtonVisible
			(backButtonClick)="BackButtonClick()"
			(addButtonClick)="addBookDialog.show()"
			(editButtonClick)="ShowEditNameDialog()"
		>
			{{ series.name }}
		</dav-header>
	</div>

	<div
		class="books-container"
		dragula="books"
		[dragulaModel]="books"
		(dragulaModelChange)="BooksReordered($event)"
	>
		@for (book of books; track book.uuid) {
		<div class="book-card" (contextmenu)="ShowBookContextMenu($event, book)">
			<dav-blurhash-image
				[src]="book.coverContent"
				[fallbackSrc]="dataService.defaultStoreBookCover"
				[blurhash]="book.blurhash"
				[title]="book.title"
				width="170"
				height="255"
			></dav-blurhash-image>
		</div>
		}
	</div>
</div>

<dav-context-menu
	#contextMenu
	[visible]="contextMenuVisible"
	[posX]="contextMenuPositionX"
	[posY]="contextMenuPositionY"
>
	<!-- Remove -->
	<dav-context-menu-item
		[value]="locale.bookContextMenuRemove"
		(click)="RemoveBook()"
	>
		<fa-icon slot="icon" [icon]="faTrashCanLight"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>

<pocketlib-edit-name-dialog
	#editNameDialog
	[name]="editNameDialogName"
	[nameError]="editNameDialogNameError"
	(primaryButtonClick)="UpdateName($event)"
></pocketlib-edit-name-dialog>

<pocketlib-add-book-dialog
	#addBookDialog
	[books]="selectableBooks"
	(addBook)="AddBook($event)"
></pocketlib-add-book-dialog>
