<div class="container slide-up-in">
	<div class="header-container">
		<dav-header
			backButtonVisible
			[addButtonVisible]="selectableBooks.length > 0"
			editButtonVisible
			(backButtonClick)="BackButtonClick()"
			(addButtonClick)="addBookDialogVisible = true"
			(editButtonClick)="ShowEditNameDialog()"
		>
			{{ series.name }}
		</dav-header>
	</div>

	<div
		class="books-container"
		dragula="books"
		[dragulaModel]="books"
		(dragulaModelChange)="BooksReordered($event)"
	>
		<div
			class="book-card"
			(contextmenu)="ShowBookContextMenu($event, book)"
			*ngFor="let book of books"
		>
			<dav-blurhash-image
				[src]="book.coverContent"
				[fallbackSrc]="dataService.defaultStoreBookCover"
				[blurhash]="book.blurhash"
				[title]="book.title"
				width="170"
				height="255"
			></dav-blurhash-image>
		</div>
	</div>
</div>

<dav-context-menu
	#contextMenu
	[visible]="contextMenuVisible"
	[posX]="contextMenuPositionX"
	[posY]="contextMenuPositionY"
>
	<!-- Remove -->
	<dav-context-menu-item
		[value]="locale.bookContextMenuRemove"
		(click)="RemoveBook()"
	>
		<fa-icon slot="icon" [icon]="faTrashCanLight"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>

<dav-dialog
	[headline]="locale.editNameDialog.headline"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="editNameDialogVisible"
	[loading]="editNameDialogLoading"
	(dismiss)="editNameDialogVisible = false"
	(primaryButtonClick)="UpdateName()"
	(defaultButtonClick)="editNameDialogVisible = false"
>
	<form>
		<!-- Name -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="editNameDialogName"
				[label]="locale.editNameDialog.nameTextfieldLabel"
				[placeholder]="locale.editNameDialog.nameTextfieldPlaceholder"
				[errorMessage]="editNameDialogNameError"
				[disabled]="editNameDialogLoading"
				(change)="
					editNameDialogName = $event.detail.value;
					editNameDialogNameError = ''
				"
				(enter)="UpdateName()"
			></dav-textfield>
		</div>
	</form>
</dav-dialog>

<dav-dialog
	[headline]="locale.addBookDialog.headline"
	[defaultButtonText]="locale.cancel"
	[visible]="addBookDialogVisible"
	(dismiss)="addBookDialogVisible = false"
	(defaultButtonClick)="addBookDialogVisible = false"
>
	<div class="add-book-dialog-container">
		<button *ngFor="let book of selectableBooks">
			<dav-blurhash-image
				[src]="book.coverContent"
				[fallbackSrc]="dataService.defaultStoreBookCover"
				[blurhash]="book.coverBlurhash"
				[title]="book.title"
				height="150"
				(click)="AddBook(book)"
			></dav-blurhash-image>
		</button>
	</div>
</dav-dialog>
