<div class="container slide-up-in">
	<div class="header-container" *ngIf="header.length > 0">
		<dav-header backButtonVisible (backButtonClick)="BackButtonClick()">
			{{ header }}
		</dav-header>
	</div>

	<div class="list-container">
		<a
			class="book-card"
			[routerLink]="'/store/book/' + book.slug"
			*ngFor="let book of books"
		>
			<dav-blurhash-image
				[src]="book.coverContent"
				[blurhash]="book.blurhash"
				[title]="book.title"
				width="170"
				height="255"
			></dav-blurhash-image>
		</a>
	</div>

	<div
		class="pagination-container"
		*ngIf="pages > 1 && !dataService.simpleLoadingScreenVisible"
	>
		<dav-pagination
			[pages]="pages"
			[currentPage]="page"
			(pageChange)="PageChange($event.detail.page)"
		></dav-pagination>
	</div>
</div>
