<!-- Normal layout -->
<div class="container mb-3 px-0 slide-up-in">
	<div class="mb-2" *ngIf="header.length > 0">
		<dav-header
			backButtonVisible
			(backButtonClick)="BackButtonClick()"
		>
			{{ header }}
		</dav-header>
	</div>

	<div
		class="mt-3 d-flex flex-wrap justify-content-center"
		*ngIf="books.length > 0"
	>
		<pocketlib-store-book-card [book]="book" *ngFor="let book of books">
		</pocketlib-store-book-card>
	</div>

	<div
		class="mt-4 d-flex justify-content-center"
		*ngIf="pages > 1 && !dataService.simpleLoadingScreenVisible"
	>
		<dav-pagination
			[pages]="pages"
			[currentPage]="page"
			(pageChange)="PageChange($event.detail.page)"
		></dav-pagination>
	</div>
</div>
