<div class="container slide-up-in">
	@if (header.length > 0) {
	<div class="header-container">
		<dav-header backButtonVisible (backButtonClick)="BackButtonClick()">
			{{ header }}
		</dav-header>
	</div>
	}

	<div class="list-container">
		@for (book of books; track book.uuid) {
		<a class="book-card" [routerLink]="'/store/book/' + book.slug">
			<dav-blurhash-image
				[src]="book.coverContent"
				[blurhash]="book.blurhash"
				[title]="book.title"
				width="170"
				height="255"
			></dav-blurhash-image>
		</a>
		}
	</div>

	@if (pages > 1 && !dataService.simpleLoadingScreenVisible) {
	<div class="pagination-container">
		<dav-pagination
			[pages]="pages"
			[currentPage]="page"
			(pageChange)="PageChange($event.detail.page)"
		></dav-pagination>
	</div>
	}
</div>
