<!-- Normal layout for not logged in -->
<div
	class="container mb-4 ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0"
	*ngIf="!dataService.dav.isLoggedIn && !dualScreenLayout">

	<h1 class="text-center font-weight-light mt-3 text-color">{{ locale.title }}</h1>
	<h5 class="text-center mt-4 text-color">{{ locale.text1 }}</h5>

	<div class="row mt-5">
		<div class="col-6 col-md-4 text-center text-color">
			<div class="mx-auto" [style.maxWidth.px]="textMaxWidth">
				<i class="ms-Icon ms-Icon--Sync" style="font-size: 60px" aria-hidden="true"></i>
				<p class="mt-4" [style.fontSize.px]="textFontSize">{{ locale.text2 }}</p>
			</div>
		</div>

		<div class="col-6 col-md-4 text-center text-color">
			<div class="mx-auto" [style.maxWidth.px]="textMaxWidth">
				<i class="ms-Icon ms-Icon--Shop" style="font-size: 60px" aria-hidden="true"></i>
				<p class="mt-4" [style.fontSize.px]="textFontSize">{{ locale.text3 }}</p>
			</div>
		</div>

		<div class="col-12 col-md-4 text-center text-color">
			<div class="mx-auto" [style.maxWidth.px]="textMaxWidth">
				<i class="ms-Icon ms-Icon--Lock" style="font-size: 60px" aria-hidden="true"></i>
				<p class="mt-4" [style.fontSize.px]="textFontSize">{{ locale.text4 }}</p>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center mt-5">
		<a href="https://dav-apps.tech" target="blank">
			<img [src]="dataService.darkTheme ? '/assets/images/dav-logo-text-white.png' : '/assets/images/dav-logo-text.png'" class="align-self-center" style="width: 140px" alt="dav Logo">
		</a>
	</div>

	<div class="d-flex justify-content-center" style="margin-top: 45px">
		<button type="button" class="btn btn-primary mr-2" (click)="ShowLoginPage()">{{ locale.login }}</button>
		<button type="button" class="btn btn-secondary ml-2" (click)="ShowSignupPage()">{{ locale.signup }}</button>
	</div>
</div>

<!-- Dual-Screen layout for not logged in -->
<div
	class="d-flex flex-row ms-motion-slideUpIn"
	*ngIf="!dataService.dav.isLoggedIn && dualScreenLayout">

	<!-- Left screen -->
	<div
		class="w-50"
		[style.marginRight.px]="dualScreenFoldMargin">

		<h1 class="text-center font-weight-light mt-3 text-color">{{ locale.title }}</h1>
		<h5 class="text-center mt-4 text-color">{{ locale.text1 }}</h5>

		<div class="row" style="margin-top: 50px">
			<div class="col-6 text-center text-color">
				<div class="mx-auto" [style.maxWidth.px]="textMaxWidth">
					<i class="ms-Icon ms-Icon--Sync" style="font-size: 60px" aria-hidden="true"></i>
					<p class="mt-4" [style.fontSize.px]="textFontSize">{{ locale.text2 }}</p>
				</div>
			</div>

			<div class="col-6 text-center text-color">
				<div class="mx-auto" [style.maxWidth.px]="textMaxWidth">
					<i class="ms-Icon ms-Icon--Shop" style="font-size: 60px" aria-hidden="true"></i>
					<p class="mt-4" [style.fontSize.px]="textFontSize">{{ locale.text3 }}</p>
				</div>
			</div>

			<div class="col-12 text-center text-color">
				<div class="mx-auto" [style.maxWidth.px]="textMaxWidth">
					<i class="ms-Icon ms-Icon--Lock" style="font-size: 60px" aria-hidden="true"></i>
					<p class="mt-4" [style.fontSize.px]="textFontSize">{{ locale.text4 }}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Right screen -->
	<div
		class="w-50"
		[style.marginLeft.px]="dualScreenFoldMargin">

		<div class="d-flex justify-content-center" style="margin-top: 230px">
			<a href="https://dav-apps.tech" target="blank">
				<img
					class="align-self-center"
					style="width: 140px"
					[src]="dataService.darkTheme ? '/assets/images/dav-logo-text-white.png' : '/assets/images/dav-logo-text.png'"
					alt="dav Logo">
			</a>
		</div>

		<div class="d-flex justify-content-center" style="margin-top: 45px">
			<button type="button" class="btn btn-primary mr-2" (click)="ShowLoginPage()">{{ locale.login }}</button>
			<button type="button" class="btn btn-secondary ml-2" (click)="ShowSignupPage()">{{ locale.signup }}</button>
		</div>
	</div>
</div>

<!-- Normal layout for logged in -->
<div
	class="container mb-4 ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0"
	*ngIf="dataService.dav.isLoggedIn && !dualScreenLayout">

   <h1 class="text-center font-weight-light mt-3 text-color" style="margin-bottom: 40px">{{ locale.title }}</h1>
   
   <pocketlib-user-profile
		[compact]="width < 410"
		(logoutClick)="logoutDialogVisible = true">
	</pocketlib-user-profile>

	<!--
	<div class="text-color" style="margin-top: 90px" *ngIf="dataService.dav.user.Plan < 2">
		<h4 class="text-center font-weight-light">{{ locale.upgradeTitle }}</h4>

		<pocketlib-dav-pro-card></pocketlib-dav-pro-card>
	</div>
	-->
</div>

<!-- Dual-Screen layout for logged in -->
<div
	class="d-flex flex-row ms-motion-slideUpIn"
	*ngIf="dataService.dav.isLoggedIn && dualScreenLayout">

	<!-- Left screen -->
	<div
		class="w-50"
		[style.marginRight.px]="dualScreenFoldMargin">

		<h1 class="text-center font-weight-light mt-3 text-color" style="margin-bottom: 40px">{{ locale.title }}</h1>

		<pocketlib-user-profile
			[compact]="width < 410"
			(logoutClick)="logoutDialogVisible = true">
		</pocketlib-user-profile>
	</div>

	<!-- Right screen -->
	<div
		class="w-50"
		[style.marginLeft.px]="dualScreenFoldMargin">

		<!--
		<div class="text-color mt-4" *ngIf="dataService.dav.user.Plan < 2">
			<h4 class="text-center font-weight-light">{{ locale.upgradeTitle }}</h4>
	
			<pocketlib-dav-pro-card></pocketlib-dav-pro-card>
		</div>
		-->
	</div>
</div>

<dav-dialog
	[header]="locale.logoutDialog.header"
	[primaryButtonText]="locale.logout"
	[defaultButtonText]="locale.cancel"
	[isVisible]="logoutDialogVisible"
	primaryButtonType="danger"
	maxWidth="340"
	(dismiss)="logoutDialogVisible = false"
	(primaryButtonClick)="Logout()"
	(defaultButtonClick)="logoutDialogVisible = false">

	<p>{{ locale.logoutDialog.description }}</p>
</dav-dialog>