.container {
	margin-bottom: 2rem;
	padding: 12px;
}

.headline {
	text-align: center;
	margin-top: 2rem;
	color: var(--dav-color-on-surface);
	font-size: 20px;
	font-weight: 400;
}

.dav-logo-container {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.dav-logo {
	width: 140px;
}

.dav-buttons-container {
	display: flex;
	justify-content: center;
	margin-top: 45px;
	gap: 1rem;
}

.benefits-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: 24px;
	justify-items: center;
	max-width: 1024px;
	margin: 4rem auto 0;
}

.benefit {
	text-align: center;
	color: var(--dav-color-on-surface);
	max-width: 240px;
}

.benefit > p {
	font-size: 20px;
	margin-top: 2rem;
}

@media screen and (min-width: 400px) {
	.benefits-container {
		grid-template-columns: auto auto;
	}

	.benefit-3 {
		grid-column: 1 / 3;
	}
}

@media screen and (min-width: 900px) {
	.benefits-container {
		grid-template-columns: auto auto auto;
	}

	.benefit-3 {
		grid-column: 3;
	}
}

fa-icon {
	font-size: 60px;
}

.header-logged-in-container {
	margin-bottom: 40px;
}

.user-profile-container {
	display: flex;
	justify-content: center;
}

.profile-image {
	border-radius: 50%;
	box-shadow: 0 0.5rem 1rem #00000026;
}

.user-details-container {
	width: 200px;
}

.user-details-container > h4 {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
}

.profile-link {
	text-decoration: none;
	color: var(--dav-color-on-surface);
}

.plan-label {
	margin: 4px 0;
	color: var(--dav-color-on-surface-variant);
	font-weight: 300;
}

.progress-bar-container {
	margin-top: 1rem;
	width: 200px;
}

.used-storage-label {
	margin-top: 32px;
	margin-bottom: 10px;
	color: var(--dav-color-on-surface);
}
