.viewer-container {
	position: absolute;
	background-color: white;
	overflow: hidden;
	transition-property: transform;
}

.viewer {
	display: block;
}

.arrow-button-container {
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0 12px;
}

.arrow-button-left {
	left: 0;
}

.arrow-button-right {
	right: 0;
}

#bottom-sheet-button-container {
	display: flex;
	gap: 12px;
}
