<div id="first-viewer"
	class="w-100 h-100 d-flex"
	style="position: absolute; background-color: white; overflow: hidden; transition-property: transform"
	[style.z-index]="firstViewer.zIndex"
	[style.transform]="'translateX(' + firstViewer.positionLeft + 'px)'"
	[style.transitionDuration]="firstViewer.transitionTime + 'ms'">

	<pdf-viewer
		id="first-viewer-left"
		class="m-auto"
		style="display: block"
		[style.width.px]="viewerWidth"
		[src]="pdfContent"
		[show-all]="false"
		[page]="firstViewer.page"
		[stick-to-page]="false"
		[fit-to-page]="false"
		[autoresize]="true"
		[original-size]="false"
		[render-text-mode]="2"
		(after-load-complete)="PdfLoaded($event)"
		(page-rendered)="PageRendered($event)">
   </pdf-viewer>

   <pdf-viewer
		id="first-viewer-right"
		class="m-auto"
		style="display: block"
		[style.width.px]="viewerWidth"
		[style.display]="(showSecondPage && (firstViewer.page + 1) <= totalPages) ? '' : 'none'"
		[src]="pdfContent"
		[show-all]="false"
		[page]="firstViewer.page + 1"
		[stick-to-page]="false"
		[fit-to-page]="false"
		[autoresize]="true"
		[original-size]="false"
		[render-text-mode]="2">
   </pdf-viewer>
</div>

<div id="second-viewer"
	class="w-100 h-100 d-flex"
	style="position: absolute; background-color: white; overflow: hidden; transition-property: transform"
	[style.z-index]="secondViewer.zIndex"
	[style.transform]="'translateX(' + secondViewer.positionLeft + 'px)'"
	[style.transitionDuration]="secondViewer.transitionTime + 'ms'">

	<pdf-viewer
		id="second-viewer-left"
		class="m-auto"
		style="display: block"
		[style.width.px]="viewerWidth"
		[src]="pdfContent"
		[show-all]="false"
		[page]="secondViewer.page"
		[stick-to-page]="false"
		[fit-to-page]="false"
		[autoresize]="true"
		[original-size]="false"
		[render-text-mode]="2">
	</pdf-viewer>

	<pdf-viewer
		id="second-viewer-right"
		class="m-auto"
		style="display: block"
		[style.width.px]="viewerWidth"
		[style.display]="(showSecondPage && (secondViewer.page + 1) <= totalPages) ? '' : 'none'"
		[src]="pdfContent"
		[show-all]="false"
		[page]="secondViewer.page + 1"
		[stick-to-page]="false"
		[fit-to-page]="false"
		[autoresize]="true"
		[original-size]="false"
		[render-text-mode]="2">
	</pdf-viewer>
</div>

<div id="third-viewer"
	class="w-100 h-100 d-flex"
	style="position: absolute; background-color: white; overflow: hidden; transition-property: transform"
	[style.z-index]="thirdViewer.zIndex"
	[style.transform]="'translateX(' + thirdViewer.positionLeft + 'px)'"
	[style.transitionDuration]="thirdViewer.transitionTime + 'ms'">

	<pdf-viewer
		id="third-viewer-left"
		class="m-auto"
		style="display: block"
		[style.width.px]="viewerWidth"
		[src]="pdfContent"
		[show-all]="false"
		[page]="thirdViewer.page"
		[stick-to-page]="false"
		[fit-to-page]="false"
		[autoresize]="true"
		[original-size]="false"
		[render-text-mode]="2">
	</pdf-viewer>

	<pdf-viewer
		id="third-viewer-right"
		class="m-auto"
		style="display: block"
		[style.width.px]="viewerWidth"
		[style.display]="(showSecondPage && (thirdViewer.page + 1) <= totalPages) ? '' : 'none'"
		[src]="pdfContent"
		[show-all]="false"
		[page]="thirdViewer.page + 1"
		[stick-to-page]="false"
      [fit-to-page]="false"
      [autoresize]="true"
		[original-size]="false"
		[render-text-mode]="2">
	</pdf-viewer>
</div>

<!-- Arrow buttons -->
<button mat-button
	class="book-toolbar-button"
	style="position: absolute; width: 40px; left: 0; top: 0px; z-index: 2"
	[style.marginTop.px]="showBottomToolbar ? 0 : 40"
	[style.height.px]="showBottomToolbar ? height : height - 40"
	(click)="PrevPage()"
	*ngIf="!firstPage && !showBottomToolbar">

	<i class="ms-Icon ms-Icon--ChevronLeft" aria-hidden="true"></i>
</button>
<button mat-button
	class="book-toolbar-button"
	style="position: absolute; width: 40px; right: 0; top: 0px; z-index: 2"
	[style.marginTop.px]="showBottomToolbar ? 0 : 40"
	[style.height.px]="showBottomToolbar ? height : height - 40"
	(click)="NextPage()"
	*ngIf="!showBottomToolbar">

	<i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i>
</button>

<!-- Top Toolbar -->
<div class="w-100" style="z-index: 2; position: absolute" *ngIf="!showBottomToolbar">
	<button mat-button class="book-toolbar-button"
		style="background-color: white; position: absolute;"
		(click)="GoHome()"
		*ngIf="!showBottomToolbar">

		<i class="ms-Icon ms-Icon--Home" aria-hidden="true"></i>
   </button>

	<div style="float: right">
		<button mat-button class="book-toolbar-button" id="zoomButtonTopToolbar" (click)="zoomCalloutVisible = !zoomCalloutVisible">
         <i class="ms-Icon ms-Icon--Zoom" aria-hidden="true"></i>
      </button>
      <button mat-button class="book-toolbar-button" (click)="AddOrRemoveBookmark()">
         <i class="ms-Icon" [ngClass]="currentPageBookmarked ? 'ms-Icon--SingleBookmarkSolid' : 'ms-Icon--AddBookmark'" aria-hidden="true"></i>
      </button>
      <button mat-button class="book-toolbar-button" style="float: right;" (click)="showBookmarksPanel = true">
         <i class="ms-Icon ms-Icon--DoubleBookmark" aria-hidden="true"></i>
      </button>
   </div>
</div>

<!-- Bottom toolbar -->
<div class="w-100 d-flex justify-content-center"
	style="z-index: 2; position: fixed; bottom: 0;"
	[style.marginBottom.px]="bottomToolbarMarginBottom"
	[style.transition]="'all ' + bottomToolbarTransitionTime + 's'"
	*ngIf="showBottomToolbar">

	<div class="w-100" style="display: inline-block;">
		<div class="d-flex justify-content-center">
			<button mat-button class="book-toolbar-button" style="font-size: 14px" (click)="OpenOrCloseBottomToolbar()">
				<i class="ms-Icon" [ngClass]="bottomToolbarOpened ? 'ms-Icon--ChevronDownMed' : 'ms-Icon--ChevronUpMed'" aria-hidden="true"></i>
			</button>
		</div>
		<div class="w-100 d-flex">
			<div style="position: absolute">
				<button mat-button class="book-toolbar-button" (click)="GoHome()">
					<i class="ms-Icon ms-Icon--Home" aria-hidden="true"></i>
				</button>
			</div>

			<div class="mx-auto">
				<button mat-button class="book-toolbar-button" id="zoomButtonBottomToolbar" (click)="zoomCalloutVisible = !zoomCalloutVisible">
					<i class="ms-Icon ms-Icon--Zoom" aria-hidden="true"></i>
				</button>
				<button mat-button class="book-toolbar-button" (click)="showBookmarksPanel = true">
					<i class="ms-Icon ms-Icon--DoubleBookmark" aria-hidden="true"></i>
				</button>
				<button mat-button class="book-toolbar-button" (click)="AddOrRemoveBookmark()">
					<i class="ms-Icon" [ngClass]="currentPageBookmarked ? 'ms-Icon--SingleBookmarkSolid' : 'ms-Icon--AddBookmark'" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Total progress -->
<div
	style="position: absolute; bottom: 0; width: 2px; transition-duration: 400ms; border-top: 4px solid #7b7b7b"
	[style.transform]="'scaleX(' + width * totalProgress + ')'">
</div>

<!-- Page indicators -->
<div style="z-index: 3; position: absolute; bottom: 0; left: 0" *ngIf="showSecondPage">
   <p class="font-weight-light" style="font-size: 13px; margin: 6px 10px;">{{ currentPage }}</p>
</div>
<div style="z-index: 3; position: absolute; bottom: 0; right: 0" *ngIf="!showSecondPage || (!lastPage && showSecondPage)">
   <p class="font-weight-light" style="font-size: 13px; margin: 6px 10px;">{{ currentPage + (showSecondPage ? 1 : 0) }}</p>
</div>

<dav-panel
	[header]="locale.bookmarks"
	[isVisible]="showBookmarksPanel"
	(dismiss)="showBookmarksPanel = false; CloseBottomToolbar()">

	<ul class="list-group list-group-flush">
		<li class="list-group-item d-flex"
			style="padding: 5px 0px; margin-left: 20px; border: none; min-height: 35px; font-size: 16px"
			*ngFor="let page of currentBook.bookmarks">

			<a href="#"
				style="color: black;"
				(click)="NavigateToPage(page)"
				[ngClass]="currentPage == page ? 'font-weight-bold' : ''">
				{{ locale.page }} {{ page }}
			</a>
		</li>
	</ul>

	<p class="font-weight-light"
		[style.display]="currentBook.bookmarks.length == 0 ? '' : 'none'">
		{{ locale.noBookmarks }}
	</p>
</dav-panel>

<fab-callout
	[target]="showBottomToolbar ? '#zoomButtonBottomToolbar' : '#zoomButtonTopToolbar'"
	[hidden]="!zoomCalloutVisible"
	(onDismiss)="zoomCalloutVisible = false">

	<div class="m-3">
		<fab-slider
			[min]="100"
			[max]="200"
			[step]="10"
			[value]="currentBook.zoom * 100"
			(onChanged)="ZoomChanged($event)"
			[valueFormat]="FormatZoomValue"
			[styles]="sliderStyles">
		</fab-slider>
	</div>
</fab-callout>