<div
	class="container"
	[ngClass]="
		section != 4
			? forwardNavigation
				? 'slide-left-out'
				: 'slide-right-out'
			: forwardNavigation
			? 'slide-left-in'
			: 'slide-right-in'
	"
	[style.display]="visibleSection != 4 ? 'none' : null"
>
	<div>
		<p class="description-text">
			{{ locale.priceSection.description }}
		</p>

		<pocketlib-price-input
			#priceInput
			[canEdit]="true"
			(update)="SetPrice($event)"
		></pocketlib-price-input>
	</div>

	<div class="button-container">
		<dav-button size="sm" outline (click)="Previous()">
			{{ locale.previous }}
		</dav-button>
	
		<dav-button size="sm" (click)="Submit()">
			{{ locale.next }}
		</dav-button>
	</div>
</div>
