<div id="viewer"
      style="position: absolute;"
		class="d-flex theme-background-color-primary"
		[style.left.px]="viewerPositionLeft" 
		[style.z-index]="viewerZIndex"
		[style.width.px]="width"
		[style.height.px]="height"
		[style.transition]="(goingBack && currentViewer == 2) ? '' : 'left ' + viewerTransitionTime + 's'">
	<iframe id="viewer-left" scrolling="no" style="border: none; position: relative; margin-top: 60px" [style.width.px]="viewerLeftWidth" [style.height.px]="viewerLeftHeight"></iframe>
	<iframe id="viewer-right" scrolling="no" style="border: none; position: relative; margin-top: 60px; right: 0" [style.width.px]="viewerRightWidth" [style.height.px]="viewerRightHeight"></iframe>
</div>

<div id="viewer2"
      style="position: absolute;"
		class="d-flex theme-background-color-primary"
		[style.left.px]="viewer2PositionLeft" 
		[style.z-index]="viewer2ZIndex"
		[style.width.px]="width"
		[style.height.px]="height"
		[style.transition]="(goingBack && currentViewer == 3) ? '' : 'left ' + viewerTransitionTime + 's'">
	<iframe id="viewer-left2" scrolling="no" style="border: none; position: relative; margin-top: 60px" [style.width.px]="viewerLeftWidth" [style.height.px]="viewer2LeftHeight"></iframe>
	<iframe id="viewer-right2" scrolling="no" style="border: none; position: relative; margin-top: 60px; right: 0" [style.width.px]="viewerRightWidth" [style.height.px]="viewer2RightHeight"></iframe>
</div>

<div id="viewer3"
      style="position: absolute;"
		class="d-flex theme-background-color-primary"
		[style.left.px]="viewer3PositionLeft" 
		[style.z-index]="viewer3ZIndex"
		[style.width.px]="width"
		[style.height.px]="height"
		[style.transition]="(goingBack && currentViewer == 1) ? '' : 'left ' + viewerTransitionTime + 's'">
	<iframe id="viewer-left3" scrolling="no" style="border: none; position: relative; margin-top: 60px" [style.width.px]="viewerLeftWidth" [style.height.px]="viewer3LeftHeight"></iframe>
	<iframe id="viewer-right3" scrolling="no" style="border: none; position: relative; margin-top: 60px; right: 0" [style.width.px]="viewerRightWidth" [style.height.px]="viewer3RightHeight"></iframe>
</div>

<!-- Arrow buttons -->
<button mat-button 
		class="book-toolbar-button" 
		style="position: absolute; width: 40px; left: 0; top: 0px; z-index: 2" 
		[style.marginTop.px]="showBottomToolbar ? 0 : 40"
		[style.height.px]="showBottomToolbar ? height : height - 40" 
		(click)="PrevPage()" 
		*ngIf="!firstPage">
	<i class="ms-Icon ms-Icon--ChevronLeft" aria-hidden="true"></i>
</button>
<button mat-button 
		class="book-toolbar-button" 
		style="position: absolute; width: 40px; right: 0; top: 0px; z-index: 2" 
		[style.marginTop.px]="showBottomToolbar ? 0 : 40"
		[style.height.px]="showBottomToolbar ? height : height - 40" 
		(click)="NextPage()" 
		*ngIf="!lastPage">
	<i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i>
</button>

<!-- Top Toolbar -->
<div class="w-100" style="z-index: 2; position: absolute" *ngIf="!showBottomToolbar">
	<button mat-button class="book-toolbar-button" 
			style="font-size: 16px" 
			(click)="GoBack()" 
			*ngIf="!showBottomToolbar">
		<i class="ms-Icon ms-Icon--Back" aria-hidden="true"></i>
	</button>

	<div style="float: right">
		<button mat-button class="book-toolbar-button" (click)="AddOrRemoveBookmark()">
			<i class="ms-Icon" [ngClass]="currentPageBookmark ? 'ms-Icon--SingleBookmarkSolid' : 'ms-Icon--AddBookmark'" aria-hidden="true"></i>
		</button>
		<button mat-button class="book-toolbar-button" (click)="OpenBookmarksPanel()">
			<i class="ms-Icon ms-Icon--DoubleBookmark" aria-hidden="true"></i>
		</button>
		<button mat-button class="book-toolbar-button" (click)="OpenChaptersPanel()">
			<i class="ms-Icon ms-Icon--BulletedList" aria-hidden="true"></i>
		</button>
	</div>
</div>

<!-- Bottom toolbar -->
<div class="w-100 d-flex justify-content-center"
		style="z-index: 2; position: absolute; bottom: 0;"
		[style.marginBottom.px]="bottomToolbarMarginBottom"
		[style.transition]="'all ' + bottomToolbarTransitionTime + 's'"
		*ngIf="showBottomToolbar">
	<div class="w-100" style="display: inline-block;">
		<div class="d-flex justify-content-center">
			<button mat-button class="book-toolbar-button" style="font-size: 14px" (click)="OpenOrCloseBottomToolbar()">
				<i class="ms-Icon" [ngClass]="bottomToolbarOpened ? 'ms-Icon--ChevronDownMed' : 'ms-Icon--ChevronUpMed'" aria-hidden="true"></i>
			</button>
		</div>
		<div class="w-100 d-flex">
			<button mat-button class="book-toolbar-button" style="font-size: 16px; position: absolute" (click)="GoBack()">
				<i class="ms-Icon ms-Icon--Back" aria-hidden="true"></i>
			</button>

			<div class="mx-auto">
				<button mat-button class="book-toolbar-button" (click)="OpenChaptersPanel()">
					<i class="ms-Icon ms-Icon--BulletedList" aria-hidden="true"></i>
				</button>
				<button mat-button class="book-toolbar-button" (click)="OpenBookmarksPanel()">
					<i class="ms-Icon ms-Icon--DoubleBookmark" aria-hidden="true"></i>
				</button>
				<button mat-button class="book-toolbar-button" (click)="AddOrRemoveBookmark()">
					<i class="ms-Icon" [ngClass]="currentPageBookmark ? 'ms-Icon--SingleBookmarkSolid' : 'ms-Icon--AddBookmark'" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<fab-panel 
	[isOpen]="showChaptersPanel" 
   isLightDismiss="true" 
   (onDismissed)="showChaptersPanel = false; CloseBottomToolbar()" 
	(onLightDismissClick)="showChaptersPanel = false; CloseBottomToolbar()"
	isHiddenOnDismiss="true"
   [headerText]="locale.toc"
   [styles]="panelStyles">
   <pocketlib-chapters-tree #chaptersTree (linkClick)="ChapterLinkClicked($event)"></pocketlib-chapters-tree>
</fab-panel>

<fab-panel
	[isOpen]="showBookmarksPanel"
	isLightDismiss="true"
	(onDismissed)="showBookmarksPanel = false"
	(onLightDismissed)="showBookmarksPanel = false"
	isHiddenOnDismiss="true"
	[headerText]="locale.bookmarks"
	[styles]="panelStyles">
	
	<ul class="list-group list-group-flush">
		<li class="list-group-item d-flex"
			style="padding: 5px 0px; margin-left: 20px; border: none; min-height: 35px; font-size: 16px"
			*ngFor="let bookmark of currentBook.bookmarks">
			<a href="#" class="text-color" (click)="NavigateToBookmark(bookmark)" [ngClass]="bookmark.uuid == currentPageBookmark ? 'font-weight-bold' : ''">{{ bookmark.name }}</a>
		</li>
	</ul>

	<p class="font-weight-light" [style.display]="currentBook.bookmarks.length == 0 ? '' : 'none'">{{ locale.noBookmarks }}</p>
</fab-panel>