<div
	class="container"
	[ngClass]="
		section != 7
			? forwardNavigation
				? 'slide-left-out'
				: 'slide-right-out'
			: forwardNavigation
			? 'slide-left-in'
			: 'slide-right-in'
	"
	[style.display]="visibleSection != 7 ? 'none' : null"
>
	<div>
		<p class="description-text">{{ locale.bookFileSection.description }}</p>

		@if (bookFileName.length > 0) {
		<p class="file-name-text">
			{{ bookFileName }}
		</p>
		}

		<dav-button
			ngxFilePicker
			accept="application/epub+zip"
			(filePick)="BookFileUpload($event)"
		>
			{{ locale.bookFileSection.uploadButtonText }}
		</dav-button>
	</div>

	<div class="button-container">
		<dav-button size="sm" outline (click)="Previous()">
			{{ locale.previous }}
		</dav-button>

		<dav-button size="sm" (click)="Finish()">
			{{ locale.finish }}
		</dav-button>
	</div>
</div>
