<div
	class="mx-auto mb-4"
	[ngClass]="section != 7 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
	style="max-width: 300px"
	[style.display]="visibleSection != 7 ? 'none' : null">

	<div class="mb-4">
		<p class="text-color">{{ locale.bookFileSection.description }}</p>

		<p class="text-color fst-italic"
			*ngIf="bookFileName.length > 0">
			{{ bookFileName }}
		</p>

		<dav-button
			type="accent"
			ngxFilePicker
			accept="application/epub+zip"
			(filePick)="BookFileUpload($event)">
			{{ locale.bookFileSection.uploadButtonText }}
		</dav-button>
	</div>

	<dav-button
		(click)="Previous()">
		{{ locale.previous }}
	</dav-button>

	<dav-button
		style="float: right"
		type="accent"
		(click)="Finish()">
		{{ locale.finish }}
	</dav-button>
</div>