<div
	class="container"
	[class]="dataService.simpleLoadingScreenVisible ? '' : 'slide-up-in'"
>
	<div class="cover-panel">
		@if (title.length > 0) {
		<dav-header
			class="mobile-header"
			size="sm"
			backButtonVisible
			(backButtonClick)="BackButtonClick()"
		>
			{{ title }}
		</dav-header>
		}

		<div class="cover-panel-content">
			<!-- Cover -->
			<div class="cover-content">
				<dav-blurhash-image
					class="cover-image"
					[src]="coverContent"
					[fallbackSrc]="dataService.defaultStoreBookCover"
					[blurhash]="coverBlurhash"
					[title]="title"
					[alt]="coverAlt"
					[width]="coverWidth"
					[height]="coverHeight"
				></dav-blurhash-image>
			</div>

			@if (bookSource == "pocketlib") {
			<dav-profile-card
				class="author-profile-card"
				[imageSrc]="authorProfileImageContent"
				[imageFallbackSrc]="dataService.defaultProfileImageUrl"
				[imageBlurhash]="authorProfileImageBlurhash"
				[name]="authorName"
				[href]="'/store/author/' + authorSlug"
				(click)="authorProfileCardClick($event)"
			></dav-profile-card>
			} @else if (bookSource == "vlb") { @if (authorSlug != null) {
			<dav-profile-card
				class="author-profile-card"
				[name]="authorName"
				[href]="'/store/author/' + authorSlug"
				(click)="authorProfileCardClick($event)"
			></dav-profile-card>
			} @if (publisherSlug != null) {
			<dav-profile-card
				class="publisher-profile-card"
				[name]="publisherName"
				[href]="'/store/publisher/' + publisherSlug"
				(click)="publisherProfileCardClick($event)"
			></dav-profile-card>
			} } @if (publisherName && bookSource == "pocketlib") {
			<dav-profile-card
				class="publisher-profile-card"
				[imageSrc]="publisherLogoContent"
				[imageFallbackSrc]="dataService.defaultProfileImageUrl"
				[imageBlurhash]="publisherLogoBlurhash"
				[name]="publisherName"
				[href]="'/store/publisher/' + publisherSlug"
				(click)="publisherProfileCardClick($event)"
			></dav-profile-card>
			}

			<!-- Price label -->
			@if (bookSource == "vlb") {
			<p class="price-label">{{ priceLabel }}</p>
			}

			<!-- Read now / continue reading button -->
			<div class="read-button-container">
				@if (bookSource == "pocketlib") {
				<dav-button (click)="Read()">
					{{ inLibrary ? locale.continueReading : locale.readNow }}
				</dav-button>
				} @if (luluPrintableId != null || bookSource == "vlb") {
				<dav-button
					color="secondary"
					(click)="Order()"
					[disabled]="orderLoading"
				>
					{{ locale.order }}
				</dav-button>
				}
			</div>

			@if (dataService.userIsAdmin && status == 1) {
			<!-- Status and Publish button (only for admins) -->
			<div class="publish-button-container">
				<dav-button
					[disabled]="publishLoading"
					(click)="PublishStoreBook()"
				>
					{{ locale.publish }}
				</dav-button>
			</div>
			}
		</div>
	</div>

	<div class="description-panel">
		@if (title.length > 0) {
		<dav-header
			class="desktop-header"
			size="sm"
			backButtonVisible
			(backButtonClick)="BackButtonClick()"
		>
			{{ title }}
		</dav-header>
		}

		<div class="description-container">
			<!-- Description -->
			<div class="book-description" [innerHTML]="description"></div>

			<!-- Categories -->
			<div class="category-badge-container">
				@for (category of categories; track category.key; let i = $index) {
				<dav-badge
					[color]="i == 0 ? 'primary' : 'secondary'"
					tonal
					[href]="'/store/category/' + category.key"
					(click)="categoryBadgeClick($event, category.key)"
				>
					{{ category.name }}
				</dav-badge>
				}
			</div>
		</div>
	</div>
</div>

<div class="divider"></div>

@if (bookSource == "pocketlib") {
<div class="recommendations-container">
	@if (seriesUuid != null) {
	<!-- List of books of the series -->
	<div>
		<pocketlib-horizontal-book-list
			type="series"
			[headline]="seriesHeadline"
			[series]="seriesUuid"
			[currentBookUuid]="slug"
			[hideMoreButton]="true"
		></pocketlib-horizontal-book-list>
	</div>
	}

	<!-- List of books with the same categories -->
	<div>
		<pocketlib-horizontal-book-list
			type="categories"
			[headline]="moreBooksHeadline"
			[currentBookUuid]="slug"
			[categories]="categoryKeys"
			[hideMoreButton]="true"
		></pocketlib-horizontal-book-list>
	</div>
</div>
} @else {
<div class="recommendations-container">
	@for (collection of collections; track collection.uuid) {
	<div>
		<pocketlib-horizontal-book-list
			type="collection"
			[headline]="collection.title"
			[currentBookUuid]="slug"
			[collectionId]="collection.slug"
		></pocketlib-horizontal-book-list>
	</div>
	}
</div>
}

<pocketlib-login-required-dialog
	#loginRequiredDialog
	(primaryButtonClick)="NavigateToAccountPage()"
></pocketlib-login-required-dialog>

<pocketlib-no-access-dialog
	#noAccessDialog
	(primaryButtonClick)="NavigateToAccountPage()"
></pocketlib-no-access-dialog>

<pocketlib-buy-book-dialog
	#buyBookDialog
	(primaryButtonClick)="
		buyBookDialogLoginRequired
			? NavigateToAccountPage()
			: NavigateToPurchasePage()
	"
	[loginRequired]="buyBookDialogLoginRequired"
></pocketlib-buy-book-dialog>

<pocketlib-error-dialog #errorDialog></pocketlib-error-dialog>
