.container {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	max-width: 1200px;
	margin: 0 auto;
	padding: 12px;
}

.cover-panel {
	grid-row: 1;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.description-panel {
	grid-row: 2;
	grid-column: 1;
	padding: 0 48px;
}

.cover-panel-content {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.description-container {
	max-width: 400px;
	margin: 0 auto;
}

.desktop-header {
	display: none;
}

.mobile-header {
	margin-bottom: 32px;
}

.book-description {
	white-space: pre-line;
	text-align: justify;
	margin-top: 48px;
	margin-bottom: 8px;
	color: var(--dav-color-on-surface);
	font-size: 17px;
}

.recommendations-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
	.container {
		grid-template-rows: auto;
		grid-template-columns: 35% 65%;
		max-width: 80%;
	}

	.cover-panel {
		grid-row: 1;
		grid-column: 1;
		justify-content: start;
	}

	.cover-panel-content {
		padding-top: 60px;
	}

	.description-panel {
		grid-row: 1;
		grid-column: 2;
	}

	.description-container {
		max-width: 400px;
	}

	.recommendations-container {
		max-width: 80%;
		margin: 0 auto 24px;
	}

	.desktop-header {
		display: block;
	}

	.mobile-header {
		display: none;
	}

	.book-description {
		margin-top: 24px;
	}
}

@media screen and (min-width: 1050px) {
	.container {
		max-width: 1100px;
	}

	.description-container {
		max-width: 600px;
	}
}

.cover-content {
	display: flex;
	justify-content: center;
}

.profile-cards-container {
	margin-top: 24px;
}

.price-label {
	margin-top: 22px;
	margin-bottom: 0;
	font-size: 18px;
	color: var(--dav-color-on-surface);
}

.cover-image {
	border-radius: 8px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.category-badge-container {
	display: flex;
	gap: 8px;
	margin-top: 12px;
}

.read-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin-top: 16px;
}

.publish-button-container {
	display: flex;
	margin-top: 16px;
}

.divider {
	width: 80%;
	height: 2px;
	background-color: rgb(var(--dav-color-outline-rgb), 0.2);
	margin: 48px auto;
}
