<div
	class="container"
	[class]="simpleLoadingScreenVisible ? '' : 'slide-up-in'"
>
	<div class="cover-panel">
		<dav-header
			class="mobile-header"
			size="small"
			backButtonVisible
			(backButtonClick)="BackButtonClick()"
			*ngIf="title.length > 0"
		>
			{{ title }}
		</dav-header>

		<div class="cover-panel-content">
			<!-- Cover -->
			<div class="cover-content">
				<dav-blurhash-image
					class="cover-image"
					[src]="coverContent"
					[fallbackSrc]="dataService.defaultStoreBookCover"
					[blurhash]="coverBlurhash"
					[title]="title"
					[alt]="coverAlt"
					[width]="coverWidth"
					[height]="coverHeight"
				></dav-blurhash-image>
			</div>

			<dav-profile-card
				class="author-profile-card"
				[imageSrc]="authorProfileImageContent"
				[imageFallbackSrc]="dataService.defaultProfileImageUrl"
				[imageBlurhash]="authorProfileImageBlurhash"
				[name]="authorName"
				[href]="'/store/author/' + authorUuid"
				(click)="authorProfileCardClick($event)"
			></dav-profile-card>

			<dav-profile-card
				class="publisher-profile-card"
				[imageSrc]="publisherLogoContent"
				[imageFallbackSrc]="dataService.defaultProfileImageUrl"
				[imageBlurhash]="publisherLogoBlurhash"
				[name]="publisherName"
				[href]="'/store/publisher' + publisherUuid"
				(click)="publisherProfileCardClick($event)"
				*ngIf="publisherName"
			></dav-profile-card>

			<!-- Read now / continue reading button -->
			<div class="read-button-container">
				<dav-button (click)="Read()">
					{{ inLibrary ? locale.continueReading : locale.readNow }}
				</dav-button>
			</div>

			<!-- Status and Publish button (only for admins) -->
			<div
				class="publish-button-container"
				*ngIf="dataService.userIsAdmin && status == 1"
			>
				<dav-button
					[disabled]="publishLoading"
					(click)="PublishStoreBook()"
				>
					{{ locale.publish }}
				</dav-button>
			</div>
		</div>
	</div>

	<div class="description-panel">
		<dav-header
			class="desktop-header"
			size="small"
			backButtonVisible
			(backButtonClick)="BackButtonClick()"
			*ngIf="title.length > 0"
		>
			{{ title }}
		</dav-header>

		<div class="description-container">
			<!-- Description -->
			<p class="book-description">
				{{ description }}
			</p>

			<!-- Categories -->
			<div class="category-badge-container">
				<dav-badge
					[color]="i == 0 ? 'primary' : 'secondary'"
					tonal
					[href]="'/store/category/' + category.key"
					(click)="categoryBadgeClick($event, category.key)"
					*ngFor="let category of categories; let i = index"
				>
					{{ category.name }}
				</dav-badge>
			</div>
		</div>
	</div>
</div>

<div class="divider" *ngIf="seriesUuid != null"></div>

<div class="recommendations-container">
	<!-- List of books of the series -->
	<div *ngIf="seriesUuid != null">
		<pocketlib-horizontal-book-list
			type="series"
			[series]="seriesUuid"
			[currentBookUuid]="uuid"
		></pocketlib-horizontal-book-list>
	</div>

	<!-- List of books with the same categories -->
	<div>
		<pocketlib-horizontal-book-list
			type="categories"
			[currentBookUuid]="uuid"
			[categories]="categoryKeys"
		></pocketlib-horizontal-book-list>
	</div>
</div>

<pocketlib-loading-screen *ngIf="loadingScreenVisible">
</pocketlib-loading-screen>

<pocketlib-simple-loading-screen *ngIf="simpleLoadingScreenVisible">
</pocketlib-simple-loading-screen>

<dav-dialog
	[headline]="locale.loginRequiredDialog.headline"
	[primaryButtonText]="locale.learnMore"
	[defaultButtonText]="locale.close"
	[visible]="loginRequiredDialogVisible"
	maxWidth="340"
	(dismiss)="loginRequiredDialogVisible = false"
	(primaryButtonClick)="NavigateToAccountPage()"
	(defaultButtonClick)="loginRequiredDialogVisible = false"
>
	<p class="text-color">{{ locale.loginRequiredDialog.description }}</p>
</dav-dialog>

<dav-dialog
	[headline]="locale.noAccessDialog.headline"
	[primaryButtonText]="locale.learnMore"
	[defaultButtonText]="locale.close"
	[visible]="noAccessDialogVisible"
	maxWidth="340"
	(dismiss)="noAccessDialogVisible = false"
	(primaryButtonClick)="NavigateToAccountPage()"
	(defaultButtonClick)="noAccessDialogVisible = false"
>
	<p class="text-color">{{ locale.noAccessDialog.description }}</p>
</dav-dialog>

<dav-dialog
	[headline]="locale.buyBookDialog.headline"
	[primaryButtonText]="locale.buyBookDialog.continue"
	[defaultButtonText]="locale.cancel"
	[visible]="buyBookDialogVisible"
	maxWidth="400"
	(dismiss)="buyBookDialogVisible = false"
	(primaryButtonClick)="
		buyBookDialogLoginRequired
			? NavigateToAccountPage()
			: NavigateToPurchasePage()
	"
	(defaultButtonClick)="buyBookDialogVisible = false"
>
	<p
		class="text-color"
		[innerHTML]="
			buyBookDialogLoginRequired
				? locale.buyBookDialog.descriptionNotLoggedIn
				: locale.buyBookDialog.description
		"
	></p>
</dav-dialog>

<dav-dialog
	[headline]="locale.errorDialog.headline"
	[defaultButtonText]="locale.close"
	[visible]="errorDialogVisible"
	maxWidth="340"
	(dismiss)="errorDialogVisible = false"
	(defaultButtonClick)="errorDialogVisible = false"
>
	<p class="text-color">{{ locale.errorDialog.description }}</p>
</dav-dialog>
