<div class="container">
	@if (!edit) {
	<p class="formatted-price-text">
		{{ formattedPrice }}
	</p>
	} @if (edit) {
	<div class="edit-container">
		<dav-textfield
			[value]="price"
			[label]="locale.priceTextfieldLabel"
			[placeholder]="locale.priceTextfieldPlaceholder"
			type="number"
			min="0"
			max="100000"
			(change)="price = $event.detail.value"
			(enter)="UpdatePrice()"
		></dav-textfield>

		<div>
			<dav-icon-button size="sm" (click)="UpdatePrice()">
				<fa-icon [icon]="faFloppyDiskLight"></fa-icon>
			</dav-icon-button>
		</div>
	</div>
	} @if (canEdit && !edit) {
	<dav-icon-button size="sm" (click)="ShowEditPrice()">
		<fa-icon [icon]="faPenLight"></fa-icon>
	</dav-icon-button>
	}
</div>
