<div class="container">
	<p class="formatted-price-text" *ngIf="!edit">
		{{ formattedPrice }}
	</p>

	<div class="edit-container" *ngIf="edit">
		<dav-textfield
			[value]="price"
			[label]="locale.priceTextfieldLabel"
			[placeholder]="locale.priceTextfieldPlaceholder"
			type="number"
			min="0"
			max="100000"
			(change)="price = $event.detail.value"
			(enter)="UpdatePrice()"
		></dav-textfield>

		<dav-icon-button class="save-button" size="small" (click)="UpdatePrice()">
			<fa-icon [icon]="faFloppyDiskLight"></fa-icon>
		</dav-icon-button>
	</div>

	<dav-icon-button
		size="small"
		*ngIf="canEdit && !edit"
		(click)="ShowEditPrice()"
	>
		<fa-icon [icon]="faPenLight"></fa-icon>
	</dav-icon-button>
</div>
