<div class="container slide-up-in">
	<div class="author-panel">
		<div class="profile-image-container">
			<dav-blurhash-image
				[src]="profileImageContent"
				[fallbackSrc]="dataService.defaultProfileImageUrl"
				[blurhash]="author.profileImage?.blurhash"
				[title]="author.firstName + ' ' + author.lastName"
				[alt]="profileImageAlt"
				[width]="profileImageWidth"
				[height]="profileImageWidth"
				[loading]="profileImageLoading"
			></dav-blurhash-image>

			<dav-button
				size="small"
				tonal
				ngxFilePicker
				accept="image/png,image/jpeg"
				[disabled]="profileImageLoading"
				(filePick)="ProfileImageFileSelected($event)"
				*ngIf="authorMode != 0"
			>
				{{ locale.uploadProfileImage }}
			</dav-button>
		</div>

		<dav-header
			[editButtonVisible]="authorMode > 0"
			size="small"
			(editButtonClick)="ShowEditProfileDialog()"
		>
			{{ author.firstName }} {{ author.lastName }}
		</dav-header>

		<div
			class="social-media-buttons-container"
			*ngIf="
				author.websiteUrl ||
				author.facebookUsername ||
				author.instagramUsername ||
				author.twitterUsername
			"
		>
			<!-- Website -->
			<pocketlib-link-icon-button
				[icon]="faGlobeLight"
				[link]="author.websiteUrl"
				*ngIf="author.websiteUrl"
			></pocketlib-link-icon-button>

			<!-- Facebook -->
			<pocketlib-link-icon-button
				[icon]="faFacebook"
				[link]="facebookLink"
				*ngIf="author.facebookUsername"
			></pocketlib-link-icon-button>

			<!-- Instagram -->
			<pocketlib-link-icon-button
				[icon]="faInstagram"
				[link]="instagramLink"
				*ngIf="author.instagramUsername"
			></pocketlib-link-icon-button>

			<!-- Twitter -->
			<pocketlib-link-icon-button
				[icon]="faTwitter"
				[link]="twitterLink"
				*ngIf="author.twitterUsername"
			></pocketlib-link-icon-button>
		</div>

		<div class="bio-language-dropdown-container">
			<dav-dropdown
				width="170"
				[options]="bioLanguageDropdownOptions"
				[selectedKey]="bioLanguageDropdownSelectedKey"
				(change)="BioLanguageDropdownChange($event)"
				*ngIf="authorMode != 0"
			></dav-dropdown>
		</div>

		<!-- Display the content of the bio in the selected language -->
		<p class="bio-text" *ngIf="bioMode == 2">
			{{ currentBio }}
		</p>

		<!-- Text for the case that there are no bios -->
		<p class="no-bio-text" *ngIf="bioMode == 0">
			{{ locale.noBio }}
		</p>

		<div class="edit-bio-container" *ngIf="bioMode == 1 || bioMode == 3">
			<dav-textarea
				[value]="newBio"
				[placeholder]="locale.bioTextfieldPlaceholder"
				[disabled]="bioLoading"
				resize="vertical"
				[errorMessage]="newBioError"
				(change)="newBio = $event.detail.value; newBioError = ''"
			></dav-textarea>
		</div>

		<div class="edit-bio-button-container">
			<dav-button
				size="small"
				[tonal]="bioMode != 1 && bioMode != 3"
				[disabled]="bioLoading"
				(click)="EditBio()"
				*ngIf="authorMode != 0 && bioMode != 0"
			>
				{{ bioMode == 1 || bioMode == 3 ? locale.save : locale.edit }}
			</dav-button>

			<dav-button
				color="secondary"
				size="small"
				[disabled]="bioLoading"
				(click)="CancelEditBio()"
				*ngIf="authorMode != 0 && bioMode == 3"
			>
				{{ locale.cancel }}
			</dav-button>
		</div>
	</div>

	<div class="books-panel" *ngIf="authorMode != 0">
		<!-- Error message -->
		<div class="error-message-container" *ngIf="errorMessage.length > 0">
			<dav-message-bar color="error" type="error">
				{{ errorMessage }}
			</dav-message-bar>
		</div>

		<!-- Message to sign up as a provider -->
		<div class="error-message-container" *ngIf="providerMessage.length > 0">
			<dav-message-bar>
				<span [innerHtml]="providerMessage"></span>
			</dav-message-bar>
		</div>

		<!-- List of collections -->
		<div>
			<dav-header
				size="small"
				addButtonVisible
				(addButtonClick)="NavigateToNewBookPage()"
			>
				{{ locale.yourBooks }}
			</dav-header>
		</div>

		<div class="progress-ring-container" *ngIf="!collectionsLoaded">
			<dav-progress-ring size="28"></dav-progress-ring>
		</div>

		<div *ngIf="collectionsLoaded">
			<pocketlib-horizontal-book-card
				[title]="collection.name"
				[coverContent]="
					collection.books.length > 0 && collection.books[0].coverContent
						? collection.books[0].coverContent
						: dataService.defaultStoreBookCover
				"
				[coverBlurhash]="
					collection.books.length > 0 && collection.books[0].coverContent
						? collection.books[0].coverBlurhash
						: null
				"
				[link]="collection.link"
				*ngFor="let collection of collections"
			></pocketlib-horizontal-book-card>
		</div>

		<!-- List of series -->
		<div>
			<dav-header
				size="small"
				addButtonVisible
				(addButtonClick)="NavigateToNewSeriesPage()"
			>
				{{ locale.yourBookSeries }}
			</dav-header>
		</div>

		<div class="progress-ring-container" *ngIf="!seriesLoaded">
			<dav-progress-ring size="28"></dav-progress-ring>
		</div>

		<div *ngIf="seriesLoaded">
			<pocketlib-horizontal-books-card
				[title]="s.name"
				[books]="s.books"
				[link]="s.link"
				*ngFor="let s of series"
			></pocketlib-horizontal-books-card>
		</div>
	</div>

	<div class="books-panel" *ngIf="authorMode == 0">
		<!-- List of books -->
		<pocketlib-horizontal-book-card
			[title]="book.title"
			[coverContent]="book.coverContent"
			[coverBlurhash]="book.coverBlurhash"
			[link]="'/store/book/' + book.uuid"
			*ngFor="let book of books"
		></pocketlib-horizontal-book-card>
	</div>
</div>

<dav-dialog
	[headline]="locale.profileImageDialog.headline"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="profileImageDialogVisible"
	(dismiss)="profileImageDialogVisible = false"
	(primaryButtonClick)="UploadProfileImage()"
	(defaultButtonClick)="profileImageDialogVisible = false"
>
	<div class="profile-image-dialog-content">
		<img #profileImageDialogImage />
	</div>
</dav-dialog>

<dav-dialog
	[headline]="locale.editProfileDialog.headline"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="editProfileDialogVisible"
	(dismiss)="editProfileDialogVisible = false"
	(primaryButtonClick)="SaveProfile()"
	(defaultButtonClick)="editProfileDialogVisible = false"
>
	<form>
		<!-- First name -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="editProfileDialogFirstName"
				[label]="locale.editProfileDialog.firstNameTextfieldLabel"
				placeholder="Monty"
				autocomplete="given-name"
				[errorMessage]="editProfileDialogFirstNameError"
				(change)="
					editProfileDialogFirstName = $event.detail.value;
					editProfileDialogFirstNameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Last name -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="editProfileDialogLastName"
				[label]="locale.editProfileDialog.lastNameTextfieldLabel"
				placeholder="Kensicle"
				autocomplete="family-name"
				[errorMessage]="editProfileDialogLastNameError"
				(change)="
					editProfileDialogLastName = $event.detail.value;
					editProfileDialogLastNameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Website url -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="editProfileDialogWebsiteUrl"
				[label]="locale.editProfileDialog.websiteUrlTextfieldLabel"
				[placeholder]="
					locale.editProfileDialog.websiteUrlTextfieldPlaceholder
				"
				type="url"
				autocomplete="url"
				[errorMessage]="editProfileDialogWebsiteUrlError"
				(change)="
					editProfileDialogWebsiteUrl = $event.detail.value;
					editProfileDialogWebsiteUrlError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Facebook username -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="editProfileDialogFacebookUsername"
				[label]="locale.editProfileDialog.facebookUsernameTextfieldLabel"
				[placeholder]="
					locale.editProfileDialog.facebookUsernameTextfieldPlaceholder
				"
				autocomplete="username"
				[errorMessage]="editProfileDialogFacebookUsernameError"
				(change)="
					editProfileDialogFacebookUsername = $event.detail.value;
					editProfileDialogFacebookUsernameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Instagram username -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="editProfileDialogInstagramUsername"
				[label]="locale.editProfileDialog.instagramUsernameTextfieldLabel"
				[placeholder]="
					locale.editProfileDialog.instagramUsernameTextfieldPlaceholder
				"
				autocomplete="username"
				[errorMessage]="editProfileDialogInstagramUsernameError"
				(change)="
					editProfileDialogInstagramUsername = $event.detail.value;
					editProfileDialogInstagramUsernameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Twitter username -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="editProfileDialogTwitterUsername"
				[label]="locale.editProfileDialog.twitterUsernameTextfieldLabel"
				[placeholder]="
					locale.editProfileDialog.twitterUsernameTextfieldPlaceholder
				"
				autocomplete="username"
				[errorMessage]="editProfileDialogTwitterUsernameError"
				(change)="
					editProfileDialogTwitterUsername = $event.detail.value;
					editProfileDialogTwitterUsernameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>
	</form>
</dav-dialog>
