<!-- Normal layout -->
<div
	class="container ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible && !storeContext ? 56 : 0"
	*ngIf="!dualScreenLayout">

	<div class="row">
		<div class="col-10 offset-1 col-md-4 offset-md-0 col-xl-3 text-center pt-5">
			<pocketlib-blurhash-image
				[src]="profileImageContent"
				[fallback]="dataService.defaultProfileImageUrl"
				[blurhash]="author.profileImageBlurhash"
				[title]="author.firstName + ' ' + author.lastName"
				[alt]="profileImageAlt"
				[width]="profileImageWidth"
				[height]="profileImageWidth"
				margin="0 0 1rem 0"
				shadow="true"
				rounded="true"
				[loading]="profileImageLoading">
			</pocketlib-blurhash-image>
			<br>

			<fab-primary-button
				ngxFilePicker
				accept="image/png,image/jpeg"
				[disabled]="profileImageLoading"
				(filePick)="UploadProfileImage($event)"
				*ngIf="authorMode != 0">
				{{ locale.uploadProfileImage }}
			</fab-primary-button>

			<h4 class="mt-3 text-color">
				{{ author.firstName }} {{ author.lastName }}

				<button
					type="button"
					class="btn ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
					style="height: 32px; font-size: 17px; margin-top: -6px; padding: 0px 4px"
					(click)="ShowEditProfileDialog()"
					*ngIf="authorMode > 0">
					<fab-icon iconName="Edit"></fab-icon>
				</button>
			</h4>

			<div
				class="d-flex justify-content-center"
				*ngIf="author.websiteUrl || author.facebookUsername || author.instagramUsername || author.twitterUsername">

				<!-- Website -->
				<pocketlib-link-icon-button
					[icon]="faGlobe"
					[link]="author.websiteUrl"
					*ngIf="author.websiteUrl">
				</pocketlib-link-icon-button>

				<!-- Facebook -->
				<pocketlib-link-icon-button
					[icon]="faFacebook"
					[link]="facebookLink"
					*ngIf="author.facebookUsername">
				</pocketlib-link-icon-button>

				<!-- Instagram -->
				<pocketlib-link-icon-button
					[icon]="faInstagram"
					[link]="instagramLink"
					*ngIf="author.instagramUsername">
				</pocketlib-link-icon-button>

				<!-- Twitter -->
				<pocketlib-link-icon-button
					[icon]="faTwitter"
					[link]="twitterLink"
					*ngIf="author.twitterUsername">
				</pocketlib-link-icon-button>
			</div>

			<div class="mx-auto mb-3 mt-3 text-left" style="width: 200px" *ngIf="authorMode != 0">
				<fab-dropdown
					[selectedKey]="bioLanguageDropdownSelectedIndex"
					[options]="bioLanguageDropdownOptions"
					(onChange)="BioLanguageDropdownChange($event)">
				</fab-dropdown>
			</div>

			<!-- Display the content of the bio in the selected language -->
			<p class="mt-3 text-left text-color"
				style="white-space: pre-wrap"
				*ngIf="bioMode == 2">
				{{ author.bios[bioLanguageDropdownSelectedIndex] ? author.bios[bioLanguageDropdownSelectedIndex].bio : "" }}
			</p>

			<!-- Text for the case that there are no bios -->
			<p class="mt-3 font-weight-light font-italic text-color" *ngIf="bioMode == 0">{{ locale.noBio }}</p>

			<div class="mx-auto my-3" style="width: 80%" *ngIf="bioMode == 1 || bioMode == 3">
				<fab-text-field
					[styles]="bioTextfieldStyles"
					[(value)]="newBio"
					[placeholder]="locale.bioTextfieldPlaceholder"
					[errorMessage]="newBioError"
					multiline="true"
					autoAdjustHeight="true"
					(keydown)="newBioError = ''">
				</fab-text-field>
			</div>

			<fab-primary-button (click)="EditBio()" [disabled]="bioLoading" *ngIf="authorMode != 0 && bioMode != 0">{{ bioMode == 1 || bioMode == 3 ? locale.save : locale.edit }}</fab-primary-button>
			<fab-default-button [styles]="cancelButtonStyles" (click)="CancelEditBio()" [disabled]="bioLoading" *ngIf="authorMode != 0 && bioMode == 3">{{ locale.cancel }}</fab-default-button>
		</div>
	
		<div class="col-12 col-md-6 pt-3 mx-auto" *ngIf="authorMode != 0">
			<!-- Message to sign up as a provider -->
			<div
				class="mt-3 mx-auto"
				style="min-width: 200px; max-width: 300px"
				*ngIf="showProviderMessage">
				<fab-message-bar [messageBarType]="messageBarType"><span [innerHtml]="providerMessage"></span></fab-message-bar>
			</div>

			<!-- List of collections -->
			<h3
				class="text-center font-weight-light mb-3 mb-md-4 text-color"
				[ngClass]="showProviderMessage ? 'mt-md-4' : 'mt-md-5'">
				{{ locale.yourBooks }}
			</h3>

			<pocketlib-add-list-item
				[link]="newBookPageLink.path"
				[linkParams]="newBookPageLink.params">
			</pocketlib-add-list-item>

			<pocketlib-horizontal-book-card
				[title]="collection.name"
				[coverContent]="collection.books.length > 0 && collection.books[0].coverContent ? collection.books[0].coverContent : dataService.defaultStoreBookCover"
				[coverBlurhash]="collection.books.length > 0 && collection.books[0].coverContent ? collection.books[0].coverBlurhash : null"
				[link]="collection.books.length == 1 ? ('/author/book/' + collection.books[0].uuid) : ('/author/collection/' + collection.uuid)"
				*ngFor="let collection of collections">
			</pocketlib-horizontal-book-card>
		</div>

		<div class="col-12 col-md-6 pt-3 mx-auto" *ngIf="authorMode == 0">
			<!-- List of books -->
			<pocketlib-horizontal-book-card
				[title]="book.title"
				[coverContent]="book.coverContent"
				[coverBlurhash]="book.coverBlurhash"
				[link]="'/store/book/' + book.uuid"
				*ngFor="let book of books">
			</pocketlib-horizontal-book-card>
		</div>
	</div>
</div>

<!-- Dual-Screen layout -->
<div
	class="ms-motion-slideUpIn"
	style="display: grid; grid-template-rows: auto"
	[style.gridTemplateColumns]="'auto ' + (width / 2) + 'px'"
	*ngIf="dualScreenLayout">

	<!-- Left screen -->
	<div
		class="d-flex justify-content-center"
		style="grid-row: 1; grid-column: 1;"
		[style.marginRight.px]="dualScreenFoldMargin">

		<div class="text-center">
			<div class="mx-auto pt-5">
				<pocketlib-blurhash-image
					[src]="profileImageContent"
					[fallback]="dataService.defaultProfileImageUrl"
					[blurhash]="author.profileImageBlurhash"
					[title]="author.firstName + ' ' + author.lastName"
					[alt]="profileImageAlt"
					[width]="profileImageWidth"
					[height]="profileImageWidth"
					margin="0 0 1rem 0"
					shadow="true"
					rounded="true"
					[loading]="profileImageLoading">
				</pocketlib-blurhash-image>
				<br>
	
				<fab-primary-button
					ngxFilePicker
					accept="image/png,image/jpeg"
					[disabled]="profileImageLoading"
					(filePick)="UploadProfileImage($event)"
					*ngIf="authorMode != 0">
					{{ locale.uploadProfileImage }}
				</fab-primary-button>
			</div>
	
			<h4 class="mt-3 text-color">
				{{ author.firstName }} {{ author.lastName }}
				
				<button
					type="button"
					class="btn ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
					style="height: 32px; font-size: 17px; margin-top: -6px; padding: 0px 4px"
					(click)="ShowEditProfileDialog()"
					*ngIf="authorMode > 0">
					<fab-icon iconName="Edit"></fab-icon>
				</button>
			</h4>
	
			<div
				class="d-flex justify-content-center"
				*ngIf="author.websiteUrl || author.facebookUsername || author.instagramUsername || author.twitterUsername">
				
				<!-- Website -->
				<pocketlib-link-icon-button
					[icon]="faGlobe"
					[link]="author.websiteUrl"
					*ngIf="author.websiteUrl">
				</pocketlib-link-icon-button>
	
				<!-- Facebook -->
				<pocketlib-link-icon-button
					[icon]="faFacebook"
					[link]="facebookLink"
					*ngIf="author.facebookUsername">
				</pocketlib-link-icon-button>
	
				<!-- Instagram -->
				<pocketlib-link-icon-button
					[icon]="faInstagram"
					[link]="instagramLink"
					*ngIf="author.instagramUsername">
				</pocketlib-link-icon-button>
	
				<!-- Twitter -->
				<pocketlib-link-icon-button
					[icon]="faTwitter"
					[link]="twitterLink"
					*ngIf="author.twitterUsername">
				</pocketlib-link-icon-button>
			</div>

			<div class="mx-auto mb-3 mt-3 text-left" style="width: 200px" *ngIf="authorMode != 0">
				<fab-dropdown
					[selectedKey]="bioLanguageDropdownSelectedIndex"
					[options]="bioLanguageDropdownOptions"
					(onChange)="BioLanguageDropdownChange($event)">
				</fab-dropdown>
			</div>

			<!-- Display the content of the bio in the selected language -->
			<p class="mt-3 text-left text-color"
				style="white-space: pre-wrap; max-width: 250px"
				*ngIf="bioMode == 2">
				{{ author.bios[bioLanguageDropdownSelectedIndex] ? author.bios[bioLanguageDropdownSelectedIndex].bio : "" }}
			</p>

			<!-- Text for the case that there are no bios -->
			<p class="mt-3 font-weight-light font-italic text-color" *ngIf="bioMode == 0">{{ locale.noBio }}</p>

			<div class="mx-auto my-3" style="width: 80%" *ngIf="bioMode == 1 || bioMode == 3">
				<fab-text-field
					[styles]="bioTextfieldStyles"
					[(value)]="newBio"
					[placeholder]="locale.bioTextfieldPlaceholder"
					[errorMessage]="newBioError"
					multiline="true"
					autoAdjustHeight="true"
					(keydown)="newBioError = ''">
				</fab-text-field>
			</div>

			<fab-primary-button (click)="EditBio()" [disabled]="bioLoading" *ngIf="authorMode != 0 && bioMode != 0">{{ bioMode == 1 || bioMode == 3 ? locale.save : locale.edit }}</fab-primary-button>
			<fab-default-button [styles]="cancelButtonStyles" (click)="CancelEditBio()" [disabled]="bioLoading" *ngIf="authorMode != 0 && bioMode == 3">{{ locale.cancel }}</fab-default-button>
		</div>
	</div>

	<!-- Right screen -->
	<div
		style="grid-row: 1; grid-column: 2;"
		[style.marginLeft.px]="dualScreenFoldMargin">

		<div
			class="px-5"
			style="overflow: scroll"
			[style.height.px]="dataService.contentHeight">

			<div *ngIf="authorMode != 0">
				<!-- Message to sign up as a provider -->
				<div
					class="mt-3 mx-auto"
					style="min-width: 200px; max-width: 300px"
					*ngIf="showProviderMessage">
					<fab-message-bar [messageBarType]="messageBarType"><span [innerHtml]="providerMessage"></span></fab-message-bar>
				</div>

				<!-- List of collections -->
				<h3
					class="text-center font-weight-light mb-3 mb-md-4 text-color"
					[ngClass]="showProviderMessage ? 'mt-md-4' : 'mt-md-5'">
					{{ locale.yourBooks }}
				</h3>

				<pocketlib-add-list-item
					[link]="newBookPageLink.path"
					[linkParams]="newBookPageLink.params">
				</pocketlib-add-list-item>

				<pocketlib-horizontal-book-card
					[title]="collection.name"
					[coverContent]="collection.books.length > 0 && collection.books[0].coverContent ? collection.books[0].coverContent : dataService.defaultStoreBookCover"
					[coverBlurhash]="collection.books.length > 0 && collection.books[0].coverContent ? collection.books[0].coverBlurhash : null"
					[link]="collection.books.length == 1 ? ('/author/book/' + collection.books[0].uuid) : ('/author/collection/' + collection.uuid)"
					*ngFor="let collection of collections">
				</pocketlib-horizontal-book-card>
			</div>

			<div *ngIf="authorMode == 0">
				<!-- List of books -->
				<pocketlib-horizontal-book-card
					[title]="book.title"
					[coverContent]="book.coverContent"
					[coverBlurhash]="book.coverBlurhash"
					[link]="'/store/book/' + book.uuid"
					*ngFor="let book of books">
				</pocketlib-horizontal-book-card>
			</div>
		</div>
	</div>
</div>

<fab-dialog
	[hidden]="!editProfileDialogVisible"
	[dialogContentProps]="editProfileDialogContentProps"
	(onDismiss)="editProfileDialogVisible = false">

	<!-- First name -->
	<div class="form-group">
		<label
			class="col-form-label"
			style="font-size: 15px">
			{{ locale.editProfileDialog.firstNameTextfieldLabel }}
		</label>

		<fab-text-field
			[(value)]="editProfileDialogFirstName"
			placeholder="Monty"
			[errorMessage]="editProfileDialogFirstNameError"
			(keydown.enter)="SaveProfile()">
		</fab-text-field>
	</div>

	<!-- Last name -->
	<div class="form-group mt-3">
		<label
			class="col-form-label"
			style="font-size: 15px">
			{{ locale.editProfileDialog.lastNameTextfieldLabel }}
		</label>

		<fab-text-field
			[(value)]="editProfileDialogLastName"
			placeholder="Kensicle"
			[errorMessage]="editProfileDialogLastNameError"
			(keydown.enter)="SaveProfile()">
		</fab-text-field>
	</div>

	<!-- Website url -->
	<div class="form-group mt-3">
		<label
			class="col-form-label"
			style="font-size: 15px">
			{{ locale.editProfileDialog.websiteUrlTextfieldLabel }}
		</label>

		<fab-text-field
			type="url"
			[(value)]="editProfileDialogWebsiteUrl"
			[placeholder]="locale.editProfileDialog.websiteUrlTextfieldPlaceholder"
			[errorMessage]="editProfileDialogWebsiteUrlError"
			(keydown.enter)="SaveProfile()">
		</fab-text-field>
	</div>

	<!-- Facebook username -->
	<div class="form-group mt-3">
		<label
			class="col-form-label"
			style="font-size: 15px">
			{{ locale.editProfileDialog.facebookUsernameTextfieldLabel }}
		</label>

		<fab-text-field
			[(value)]="editProfileDialogFacebookUsername"
			[placeholder]="locale.editProfileDialog.facebookUsernameTextfieldPlaceholder"
			[errorMessage]="editProfileDialogFacebookUsernameError"
			(keydown.enter)="SaveProfile()">
		</fab-text-field>
	</div>

	<!-- Instagram username -->
	<div class="form-group mt-3">
		<label
			class="col-form-label"
			style="font-size: 15px">
			{{ locale.editProfileDialog.instagramUsernameTextfieldLabel }}
		</label>

		<fab-text-field
			[(value)]="editProfileDialogInstagramUsername"
			[placeholder]="locale.editProfileDialog.instagramUsernameTextfieldPlaceholder"
			[errorMessage]="editProfileDialogInstagramUsernameError"
			(keydown.enter)="SaveProfile()">
		</fab-text-field>
	</div>

	<!-- Twitter username -->
	<div class="form-group mt-3">
		<label
			class="col-form-label"
			style="font-size: 15px">
			{{ locale.editProfileDialog.twitterUsernameTextfieldLabel }}
		</label>

		<fab-text-field
			[(value)]="editProfileDialogTwitterUsername"
			[placeholder]="locale.editProfileDialog.twitterUsernameTextfieldPlaceholder"
			[errorMessage]="editProfileDialogTwitterUsernameError"
			(keydown.enter)="SaveProfile()">
		</fab-text-field>
	</div>

	<fab-dialog-footer>
		<fab-default-button (onClick)="editProfileDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="cancelButtonStyles" (onClick)="SaveProfile()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>