<div
	class="container slide-up-in"
	[style.paddingBottom.px]="dataService.isMobile && !storeContext ? 80 : 0"
>
	<div class="row">
		<div
			class="col-10 offset-1 col-md-4 offset-md-0 col-xl-3 text-center pt-5"
		>
			<div class="profile-image-container">
				<dav-blurhash-image
					[src]="profileImageContent"
					[fallbackSrc]="dataService.defaultProfileImageUrl"
					[blurhash]="author.profileImage?.blurhash"
					[title]="author.firstName + ' ' + author.lastName"
					[alt]="profileImageAlt"
					[width]="profileImageWidth"
					[height]="profileImageWidth"
					[loading]="profileImageLoading"
				></dav-blurhash-image>
			</div>

			<dav-button
				size="small"
				tonal
				ngxFilePicker
				accept="image/png,image/jpeg"
				[disabled]="profileImageLoading"
				(filePick)="ProfileImageFileSelected($event)"
				*ngIf="authorMode != 0"
			>
				{{ locale.uploadProfileImage }}
			</dav-button>

			<h4 class="d-flex justify-content-center mt-3 text-color">
				{{ author.firstName }} {{ author.lastName }}

				<dav-icon-button
					class="ms-2"
					size="small"
					(click)="ShowEditProfileDialog()"
					*ngIf="authorMode > 0"
				>
					<fa-icon [icon]="faPenLight"></fa-icon>
				</dav-icon-button>
			</h4>

			<div
				class="social-media-buttons-container"
				*ngIf="
					author.websiteUrl ||
					author.facebookUsername ||
					author.instagramUsername ||
					author.twitterUsername
				"
			>
				<!-- Website -->
				<pocketlib-link-icon-button
					[icon]="faGlobeLight"
					[link]="author.websiteUrl"
					*ngIf="author.websiteUrl"
				></pocketlib-link-icon-button>

				<!-- Facebook -->
				<pocketlib-link-icon-button
					[icon]="faFacebook"
					[link]="facebookLink"
					*ngIf="author.facebookUsername"
				></pocketlib-link-icon-button>

				<!-- Instagram -->
				<pocketlib-link-icon-button
					[icon]="faInstagram"
					[link]="instagramLink"
					*ngIf="author.instagramUsername"
				></pocketlib-link-icon-button>

				<!-- Twitter -->
				<pocketlib-link-icon-button
					[icon]="faTwitter"
					[link]="twitterLink"
					*ngIf="author.twitterUsername"
				></pocketlib-link-icon-button>
			</div>

			<div class="mt-2">
				<dav-dropdown
					width="170"
					[options]="bioLanguageDropdownOptions"
					[selectedKey]="bioLanguageDropdownSelectedKey"
					(change)="BioLanguageDropdownChange($event)"
					*ngIf="authorMode != 0"
				></dav-dropdown>
			</div>

			<!-- Display the content of the bio in the selected language -->
			<p
				class="mt-3 text-color"
				style="white-space: pre-line; text-align: justify"
				*ngIf="bioMode == 2"
			>
				{{ currentBio }}
			</p>

			<!-- Text for the case that there are no bios -->
			<p class="mt-3 fw-light fst-italic text-color" *ngIf="bioMode == 0">
				{{ locale.noBio }}
			</p>

			<div
				class="mx-auto my-3"
				style="width: 80%"
				*ngIf="bioMode == 1 || bioMode == 3"
			>
				<dav-textarea
					[value]="newBio"
					[placeholder]="locale.bioTextfieldPlaceholder"
					[disabled]="bioLoading"
					resize="vertical"
					[errorMessage]="newBioError"
					(change)="newBio = $event.detail.value; newBioError = ''"
				>
				</dav-textarea>
			</div>

			<dav-button
				size="small"
				[tonal]="bioMode != 1 && bioMode != 3"
				[disabled]="bioLoading"
				(click)="EditBio()"
				*ngIf="authorMode != 0 && bioMode != 0"
			>
				{{ bioMode == 1 || bioMode == 3 ? locale.save : locale.edit }}
			</dav-button>

			<dav-button
				style="margin-left: 10px"
				color="secondary"
				size="small"
				[disabled]="bioLoading"
				(click)="CancelEditBio()"
				*ngIf="authorMode != 0 && bioMode == 3"
			>
				{{ locale.cancel }}
			</dav-button>
		</div>

		<div class="col-12 col-md-6 pt-3 mx-auto" *ngIf="authorMode != 0">
			<!-- Error message -->
			<div
				class="mt-3 mx-auto"
				style="min-width: 200px; max-width: 300px"
				*ngIf="errorMessage.length > 0"
			>
				<dav-message-bar type="danger">
					{{ errorMessage }}
				</dav-message-bar>
			</div>

			<!-- Message to sign up as a provider -->
			<div
				class="mt-3 mx-auto"
				style="min-width: 200px; max-width: 300px"
				*ngIf="providerMessage.length > 0"
			>
				<dav-message-bar type="warning">
					<span [innerHtml]="providerMessage"></span>
				</dav-message-bar>
			</div>

			<!-- List of collections -->
			<div
				class="mb-3 mb-md-4 mt-4"
				[ngClass]="
					providerMessage.length > 0 || errorMessage.length > 0
						? 'mt-md-4'
						: 'mt-md-5'
				"
			>
				<dav-header
					size="small"
					addButtonVisible
					(addButtonClick)="NavigateToNewBookPage()"
				>
					{{ locale.yourBooks }}
				</dav-header>
			</div>

			<div
				class="d-flex justify-content-center mt-3"
				*ngIf="!collectionsLoaded"
			>
				<dav-progress-ring size="28"></dav-progress-ring>
			</div>

			<div *ngIf="collectionsLoaded">
				<pocketlib-horizontal-book-card
					[title]="collection.name"
					[coverContent]="
						collection.books.length > 0 &&
						collection.books[0].coverContent
							? collection.books[0].coverContent
							: dataService.defaultStoreBookCover
					"
					[coverBlurhash]="
						collection.books.length > 0 &&
						collection.books[0].coverContent
							? collection.books[0].coverBlurhash
							: null
					"
					[link]="collection.link"
					*ngFor="let collection of collections"
				></pocketlib-horizontal-book-card>
			</div>

			<!-- List of series -->
			<div class="mb-3 mt-4 mb-md-4 mt-md-5">
				<dav-header
					size="small"
					addButtonVisible
					(addButtonClick)="NavigateToNewSeriesPage()"
				>
					{{ locale.yourBookSeries }}
				</dav-header>
			</div>

			<div class="d-flex justify-content-center mt-3" *ngIf="!seriesLoaded">
				<dav-progress-ring size="28"></dav-progress-ring>
			</div>

			<div *ngIf="seriesLoaded">
				<pocketlib-horizontal-books-card
					[title]="s.name"
					[books]="s.books"
					[link]="s.link"
					*ngFor="let s of series"
				></pocketlib-horizontal-books-card>
			</div>
		</div>

		<div class="col-12 col-md-6 pt-3 mx-auto" *ngIf="authorMode == 0">
			<!-- List of books -->
			<pocketlib-horizontal-book-card
				[title]="book.title"
				[coverContent]="book.coverContent"
				[coverBlurhash]="book.coverBlurhash"
				[link]="'/store/book/' + book.uuid"
				*ngFor="let book of books"
			></pocketlib-horizontal-book-card>
		</div>
	</div>
</div>

<dav-dialog
	[headline]="locale.profileImageDialog.headline"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="profileImageDialogVisible"
	(dismiss)="profileImageDialogVisible = false"
	(primaryButtonClick)="UploadProfileImage()"
	(defaultButtonClick)="profileImageDialogVisible = false"
>
	<div class="mb-3" style="max-height: 400px">
		<img #profileImageDialogImage style="max-width: 100%" />
	</div>
</dav-dialog>

<dav-dialog
	[headline]="locale.editProfileDialog.headline"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="editProfileDialogVisible"
	(dismiss)="editProfileDialogVisible = false"
	(primaryButtonClick)="SaveProfile()"
	(defaultButtonClick)="editProfileDialogVisible = false"
>
	<form>
		<!-- First name -->
		<div class="mb-3">
			<dav-textfield
				[value]="editProfileDialogFirstName"
				[label]="locale.editProfileDialog.firstNameTextfieldLabel"
				placeholder="Monty"
				autocomplete="given-name"
				[errorMessage]="editProfileDialogFirstNameError"
				(change)="
					editProfileDialogFirstName = $event.detail.value;
					editProfileDialogFirstNameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Last name -->
		<div class="mb-3">
			<dav-textfield
				[value]="editProfileDialogLastName"
				[label]="locale.editProfileDialog.lastNameTextfieldLabel"
				placeholder="Kensicle"
				autocomplete="family-name"
				[errorMessage]="editProfileDialogLastNameError"
				(change)="
					editProfileDialogLastName = $event.detail.value;
					editProfileDialogLastNameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Website url -->
		<div class="mb-3">
			<dav-textfield
				[value]="editProfileDialogWebsiteUrl"
				[label]="locale.editProfileDialog.websiteUrlTextfieldLabel"
				[placeholder]="
					locale.editProfileDialog.websiteUrlTextfieldPlaceholder
				"
				type="url"
				autocomplete="url"
				[errorMessage]="editProfileDialogWebsiteUrlError"
				(change)="
					editProfileDialogWebsiteUrl = $event.detail.value;
					editProfileDialogWebsiteUrlError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Facebook username -->
		<div class="mb-3">
			<dav-textfield
				[value]="editProfileDialogFacebookUsername"
				[label]="locale.editProfileDialog.facebookUsernameTextfieldLabel"
				[placeholder]="
					locale.editProfileDialog.facebookUsernameTextfieldPlaceholder
				"
				autocomplete="username"
				[errorMessage]="editProfileDialogFacebookUsernameError"
				(change)="
					editProfileDialogFacebookUsername = $event.detail.value;
					editProfileDialogFacebookUsernameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Instagram username -->
		<div class="mb-3">
			<dav-textfield
				[value]="editProfileDialogInstagramUsername"
				[label]="locale.editProfileDialog.instagramUsernameTextfieldLabel"
				[placeholder]="
					locale.editProfileDialog.instagramUsernameTextfieldPlaceholder
				"
				autocomplete="username"
				[errorMessage]="editProfileDialogInstagramUsernameError"
				(change)="
					editProfileDialogInstagramUsername = $event.detail.value;
					editProfileDialogInstagramUsernameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>

		<!-- Twitter username -->
		<div class="mb-3">
			<dav-textfield
				[value]="editProfileDialogTwitterUsername"
				[label]="locale.editProfileDialog.twitterUsernameTextfieldLabel"
				[placeholder]="
					locale.editProfileDialog.twitterUsernameTextfieldPlaceholder
				"
				autocomplete="username"
				[errorMessage]="editProfileDialogTwitterUsernameError"
				(change)="
					editProfileDialogTwitterUsername = $event.detail.value;
					editProfileDialogTwitterUsernameError = ''
				"
				(enter)="SaveProfile()"
			></dav-textfield>
		</div>
	</form>
</dav-dialog>
