<div class="loading-page-container slide-up-in">
	<div class="loading-screen-content-container">
		<div class="loading-screen-content">
			<img
				class="loading-screen-logo"
				[src]="
					dataService.darkTheme
						? '/assets/images/pocketlib-logo-dark.png'
						: '/assets/images/pocketlib-logo.png'
				"
				width="150"
			/>

			<dav-progress-ring
				size="30"
				[color]="dataService.darkTheme ? 'white' : 'black'"
			></dav-progress-ring>

			@if (message.length > 0) {
			<p class="loading-screen-message">
				{{ message }}
			</p>
			}
		</div>
	</div>
</div>
