<div
	id="container"
	class="ms-motion-slideUpIn"
   [style.height.px]="height">

	<div
		class="d-flex justify-content-center"
		[ngClass]="dualScreenLayout ? 'w-50' : 'w-100'"
		[style.height.px]="height">

		<div style="display: inline-block" class="m-auto text-center">
			<img src="/assets/images/pocketlib-logo.png" width="150" style="margin-bottom: 38px">

			<mat-progress-spinner
				class="mx-auto"
				mode="indeterminate"
				diameter="30">
			</mat-progress-spinner>

			<p class="fw-light"
				style="margin-top: 30px; font-size: 18px; color: white"
				*ngIf="message.length > 0">
				{{ message }}
			</p>
		</div>
	</div>
</div>