<div class="container">
	<h4 class="store-list-header">
		{{ headline }}
	</h4>

	<div class="content-container" [class.center]="alignment == 'center'">
		@if (loading) {
		<div class="progress-ring-container">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>
		} @else {
		<div class="author-list-item-container horizontal-store-list slide-up-in">
			@for (author of authors; track author.uuid) {
			<pocketlib-horizontal-author-list-item
				[author]="author"
			></pocketlib-horizontal-author-list-item>
			}
		</div>
		}
	</div>
</div>
