.content-container {
	display: flex;
	min-height: 163px;
}

.progress-ring-container {
	display: flex;
	align-items: center;
}

.author-list-item-container {
	display: flex;
	gap: 26px;
	overflow-x: scroll;
	overflow-y: hidden;
}
