<div class="mt-3">
	<h4 class="ml-3 font-weight-light text-color">{{ locale.newAuthors }}</h4>

	<div class="horizontal-store-list" style="height: 150px; overflow-x: scroll; overflow-y: hidden">
		<div class="mb-3 pl-4" style="width: max-content">
			<pocketlib-blurhash-image
				margin="1rem 0.5rem 1rem 0.5rem"
				shadow="true"
				rounded="true"
				width="100"
				height="100"
				[src]="author.profileImageContent"
				[blurhash]="author.profileImageBlurhash"
				*ngFor="let author of authors"
				(click)="NavigateToAuthor(author.uuid)">
			</pocketlib-blurhash-image>
		</div>
	</div>
</div>