<div class="container">
	<h4 class="store-list-header">
		{{ headline }}
	</h4>

	<div class="content-container" [class.center]="alignment == 'center'">
		<div class="progress-ring-container" *ngIf="loading">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>

		<div
			class="author-list-item-container horizontal-store-list slide-up-in"
			*ngIf="!loading"
		>
			<pocketlib-horizontal-author-list-item
				[author]="author"
				*ngFor="let author of authors"
			></pocketlib-horizontal-author-list-item>
		</div>
	</div>
</div>
