<div
	class="container"
	[ngClass]="
		section != 5
			? forwardNavigation
				? 'slide-left-out'
				: 'slide-right-out'
			: forwardNavigation
			? 'slide-left-in'
			: 'slide-right-in'
	"
	[style.display]="visibleSection != 5 ? 'none' : null"
>
	<div>
		<p class="description-text">{{ locale.isbnSection.description }}</p>

		<pocketlib-isbn-input
			#isbnInput
			[canEdit]="true"
			(update)="SetIsbn($event)"
		></pocketlib-isbn-input>
	</div>

	<div class="button-container">
		<dav-button size="small" outline (click)="Previous()">
			{{ locale.previous }}
		</dav-button>
	
		<dav-button size="small" (click)="Submit()">
			{{ locale.next }}
		</dav-button>
	</div>
</div>
