<div
	class="mx-auto mb-4"
	[ngClass]="
		section != 5
			? forwardNavigation
				? 'slide-left-out'
				: 'slide-right-out'
			: forwardNavigation
				? 'slide-left-in'
				: 'slide-right-in'
	"
	style="max-width: 300px"
	[style.display]="visibleSection != 5 ? 'none' : null"
>
	<div class="mb-4">
		<p class="text-color">{{ locale.isbnSection.description }}</p>

		<pocketlib-isbn-input
			#isbnInput
			[canEdit]="true"
			(update)="SetIsbn($event)"
		></pocketlib-isbn-input>
	</div>

	<dav-button (click)="Previous()">
		{{ locale.previous }}
	</dav-button>

	<dav-button style="float: right" type="accent" (click)="Submit()">
		{{ locale.next }}
	</dav-button>
</div>
