<a style="margin: 1rem 0.5rem 1rem 0.5rem"
	[routerLink]="'/store/author/' + author.uuid"
	(mouseover)="ShowImageShadow()"
	(mouseout)="HideImageShadow()"
	(focusin)="ShowImageShadow()"
	(focusout)="HideImageShadow()">

	<pocketlib-blurhash-image
		#blurhashImage
		[src]="author.profileImageContent"
		[fallback]="dataService.defaultProfileImageUrl"
		[blurhash]="author.profileImageBlurhash"
		[title]="author.firstName + ' ' + author.lastName"
		[alt]="author.profileImageAlt"
		width="100"
		height="100"
		[transform]="hovered ? 'translateY(-8px)' : 'translateY(0px)'"
		rounded="true">
	</pocketlib-blurhash-image>
</a>