<div
	#firstViewerContainer
	class="viewer-container"
	[style.width.px]="width"
	[style.height.px]="height"
	[style.z-index]="firstViewer.zIndex"
	[style.transform]="'translateX(' + firstViewer.positionLeft + 'px)'"
	[style.transitionDuration]="firstViewer.transitionTime + 'ms'"
	(click)="HandleClick($event)"
	(touchstart)="HandleTouch($event)"
	(touchmove)="HandleTouch($event)"
	(touchend)="HandleTouch($event)"
>
	<iframe
		#firstViewerLeft
		class="viewer"
		[style.width.px]="firstViewer.left.width"
		[style.height.px]="firstViewer.left.height"
		scrolling="no"
	></iframe>

	<iframe
		#firstViewerRight
		class="viewer viewer-right"
		[style.width.px]="firstViewer.right.width"
		[style.height.px]="firstViewer.right.height"
		scrolling="no"
	></iframe>
</div>

<div
	#secondViewerContainer
	class="viewer-container"
	[style.width.px]="width"
	[style.height.px]="height"
	[style.z-index]="secondViewer.zIndex"
	[style.transform]="'translateX(' + secondViewer.positionLeft + 'px)'"
	[style.transitionDuration]="secondViewer.transitionTime + 'ms'"
	(click)="HandleClick($event)"
	(touchstart)="HandleTouch($event)"
	(touchmove)="HandleTouch($event)"
	(touchend)="HandleTouch($event)"
>
	<iframe
		#secondViewerLeft
		class="viewer"
		[style.width.px]="firstViewer.left.width"
		[style.height.px]="secondViewer.left.height"
		scrolling="no"
	></iframe>

	<iframe
		#secondViewerRight
		class="viewer viewer-right"
		[style.width.px]="firstViewer.right.width"
		[style.height.px]="secondViewer.right.height"
		scrolling="no"
	></iframe>
</div>

<div
	#thirdViewerContainer
	class="viewer-container"
	[style.width.px]="width"
	[style.height.px]="height"
	[style.z-index]="thirdViewer.zIndex"
	[style.transform]="'translateX(' + thirdViewer.positionLeft + 'px)'"
	[style.transitionDuration]="thirdViewer.transitionTime + 'ms'"
	(click)="HandleClick($event)"
	(touchstart)="HandleTouch($event)"
	(touchmove)="HandleTouch($event)"
	(touchend)="HandleTouch($event)"
>
	<iframe
		#thirdViewerLeft
		class="viewer"
		[style.width.px]="firstViewer.left.width"
		[style.height.px]="thirdViewer.left.height"
		scrolling="no"
	></iframe>

	<iframe
		#thirdViewerRight
		class="viewer viewer-right"
		[style.width.px]="firstViewer.right.width"
		[style.height.px]="thirdViewer.right.height"
		scrolling="no"
	></iframe>
</div>

<!-- Arrow buttons -->
<div
	class="arrow-button-container arrow-button-left"
	(click)="PrevPage()"
	*ngIf="!isMobile && !firstPage && showArrowButtons"
>
	<dav-icon-button>
		<fa-icon [icon]="faArrowLeftLight"></fa-icon>
	</dav-icon-button>
</div>

<div
	class="arrow-button-container arrow-button-right"
	(click)="NextPage()"
	*ngIf="!isMobile && showArrowButtons"
>
	<dav-icon-button>
		<fa-icon [icon]="faArrowRightLight"></fa-icon>
	</dav-icon-button>
</div>

<!-- Chapter title -->
<div
	class="chapter-title-container"
	[ngClass]="dualScreenLayout ? 'dual-screen' : ''"
	*ngIf="!isMobile"
>
	<p>{{ currentChapterTitle }}</p>
</div>

<!-- Top Toolbar -->
<div class="top-toolbar" *ngIf="!isMobile && initialized">
	<div class="top-toolbar-left-container">
		<!-- Back button -->
		<dav-icon-button
			size="small"
			[disabled]="navigationHistory.length == 0"
			(click)="GoBack()"
		>
			<fa-icon [icon]="faArrowLeftLight"></fa-icon>
		</dav-icon-button>

		<!-- Home button -->
		<dav-icon-button size="small" (click)="GoHome()">
			<fa-icon [icon]="faHouseLight"></fa-icon>
		</dav-icon-button>
	</div>

	<div class="top-toolbar-right-container">
		<div class="progress-ring-container">
			<dav-progress-ring
				[style.display]="progressRingVisible ? '' : 'none'"
				size="18"
				color="black"
			></dav-progress-ring>
		</div>

		<dav-icon-button size="small" (click)="AddOrRemoveBookmark()">
			<fa-icon
				[icon]="faBookmarkSolid"
				*ngIf="currentPageBookmark"
			></fa-icon>
			<fa-icon
				[icon]="faBookmarkLight"
				*ngIf="!currentPageBookmark"
			></fa-icon>
		</dav-icon-button>

		<dav-icon-button size="small" (click)="ShowBookmarksPanel()">
			<fa-icon [icon]="faFolderBookmarkLight"></fa-icon>
		</dav-icon-button>

		<dav-icon-button size="small" (click)="ShowChaptersPanel()">
			<fa-icon [icon]="faListUlLight"></fa-icon>
		</dav-icon-button>
	</div>
</div>

<dav-bottom-sheet
	#bottomSheet
	[visible]="bottomSheetVisible"
	[dismissable]="false"
	(snapBottom)="BottomSheetSnapBottom()"
	(touchstart)="HandleTouch($event)"
	(touchmove)="HandleTouch($event)"
	(touchend)="HandleTouch($event)"
>
	<div slot="buttons">
		<dav-icon-text-button
			(click)="GoHome()"
			[label]="locale.bottomSheet.back"
		>
			<fa-icon [icon]="faHouseRegular"></fa-icon>
		</dav-icon-text-button>

		<dav-icon-text-button
			(click)="AddOrRemoveBookmark()"
			[label]="
				currentPageBookmark
					? locale.bottomSheet.removeBookmark
					: locale.bottomSheet.addBookmark
			"
		>
			<fa-icon
				[icon]="faBookmarkSolid"
				*ngIf="currentPageBookmark"
			></fa-icon>
			<fa-icon
				[icon]="faBookmarkRegular"
				*ngIf="!currentPageBookmark"
			></fa-icon>
		</dav-icon-text-button>

		<dav-icon-text-button
			(click)="ShowBookmarksBottomSheet()"
			[label]="locale.bottomSheet.bookmarks"
		>
			<fa-icon [icon]="faFolderBookmarkRegular"></fa-icon>
		</dav-icon-text-button>

		<dav-icon-text-button
			(click)="ShowChaptersBottomSheet()"
			[label]="locale.bottomSheet.toc"
		>
			<fa-icon [icon]="faListUlRegular"></fa-icon>
		</dav-icon-text-button>
	</div>

	<div class="bottom-sheet-content-container">
		<div [style.display]="bookmarksVisible ? 'block' : 'none'">
			<ul class="list-group list-group-flush">
				<li
					class="list-group-item d-flex theme-background-color-secondary"
					style="
						padding: 5px 0px;
						margin-left: 20px;
						border: none;
						min-height: 35px;
						font-size: 16px;
					"
					*ngFor="let bookmark of currentBook.bookmarks"
				>
					<a
						href="#"
						class="text-color"
						(click)="NavigateToBookmark(bookmark)"
						[ngClass]="
							bookmark.uuid == currentPageBookmark
								? 'font-weight-bold'
								: ''
						"
					>
						{{ bookmark.name }}
					</a>
				</li>
			</ul>

			<p
				class="no-bookmarks-text"
				[style.display]="currentBook.bookmarks.length == 0 ? '' : 'none'"
			>
				{{ locale.noBookmarks }}
			</p>
		</div>

		<div [style.display]="tocVisible ? 'block' : 'none'">
			<dav-tree #bottomSheetChaptersTree></dav-tree>
		</div>
	</div>
</dav-bottom-sheet>

<!-- Total progress -->
<div
	class="progress-indicator"
	[style.borderTop]="
		dataService.darkTheme ? '2px solid #b9b9b9' : '4px solid #7b7b7b'
	"
	[style.transform]="'scaleX(' + width * totalProgress + ')'"
></div>

<!-- Progress ring for small window -->
<div
	class="progress-ring-container-mobile"
	[style.visibility]="isMobile ? '' : 'hidden'"
>
	<dav-progress-ring
		[style.display]="progressRingVisible ? '' : 'none'"
		size="18"
		color="black"
	></dav-progress-ring>
</div>

<!-- Panel for Bookmarks -->
<dav-panel
	[header]="locale.bookmarks"
	[visible]="bookmarksVisible && !isMobile"
	(dismiss)="bookmarksVisible = false"
>
	<ul class="list-group list-group-flush">
		<li
			class="list-group-item d-flex theme-background-color-secondary"
			style="
				padding: 5px 0px;
				margin-left: 20px;
				border: none;
				min-height: 35px;
				font-size: 16px;
			"
			*ngFor="let bookmark of currentBook.bookmarks"
		>
			<a
				href="#"
				class="text-color"
				(click)="NavigateToBookmark(bookmark)"
				[ngClass]="
					bookmark.uuid == currentPageBookmark ? 'font-weight-bold' : ''
				"
			>
				{{ bookmark.name }}
			</a>
		</li>
	</ul>

	<p
		class="no-bookmarks-text"
		[style.display]="currentBook.bookmarks.length == 0 ? '' : 'none'"
	>
		{{ locale.noBookmarks }}
	</p>
</dav-panel>

<!-- Panel for TOC -->
<dav-panel
	[header]="locale.toc"
	[visible]="tocVisible && !isMobile"
	(dismiss)="tocVisible = false"
>
	<dav-tree #chaptersTree></dav-tree>
</dav-panel>
