.viewer-container {
	position: absolute;
	transition-property: transform;
}

.viewer {
	border: none;
	position: relative;
	margin-top: 60px;
}

.viewer-right {
	right: 0;
}

a.text-color:hover {
	color: var(--text-color);
}

.arrow-button-container {
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0 12px;
}

.arrow-button-left {
	left: 0;
}

.arrow-button-right {
	right: 0;
}

#bottom-sheet-button-container {
	display: flex;
	gap: 12px;
}

#progress-ring-container {
	width: 18px;
	height: 18px;
	margin: 16px;
}

#progress-ring-container-mobile {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 18px;
	height: 18px;
	margin: 12px;
	z-index: 100;
}