<div class="container slide-up-in">
	<div class="publisher-panel">
		<div class="logo-container">
			<dav-blurhash-image
				[src]="logoContent"
				[fallbackSrc]="dataService.defaultProfileImageUrl"
				[blurhash]="publisher.logo?.blurhash"
				[title]="publisher.name"
				[alt]="logoAlt"
				[width]="logoWidth"
				[height]="logoWidth"
				[loading]="logoLoading"
			></dav-blurhash-image>

			<dav-button
				size="small"
				tonal
				ngxFilePicker
				accept="image/png,image/jpeg"
				[disabled]="logoLoading"
				(filePick)="LogoFileSelected($event)"
				*ngIf="publisherMode != 0"
			>
				{{ locale.uploadLogo }}
			</dav-button>
		</div>

		<dav-header
			[editButtonVisible]="publisherMode > 0"
			size="small"
			(editButtonClick)="ShowEditProfileDialog()"
		>
			{{ publisher.name }}
		</dav-header>

		<div
			class="social-media-buttons-container"
			*ngIf="
				publisher.websiteUrl ||
				publisher.facebookUsername ||
				publisher.instagramUsername ||
				publisher.twitterUsername
			"
		>
			<!-- Website -->
			<pocketlib-link-icon-button
				[icon]="faGlobeLight"
				[link]="publisher.websiteUrl"
				*ngIf="publisher.websiteUrl"
			></pocketlib-link-icon-button>

			<!-- Facebook -->
			<pocketlib-link-icon-button
				[icon]="faFacebook"
				[link]="facebookLink"
				*ngIf="publisher.facebookUsername"
			></pocketlib-link-icon-button>

			<!-- Instagram -->
			<pocketlib-link-icon-button
				[icon]="faInstagram"
				[link]="instagramLink"
				*ngIf="publisher.instagramUsername"
			></pocketlib-link-icon-button>

			<!-- Twitter -->
			<pocketlib-link-icon-button
				[icon]="faTwitter"
				[link]="twitterLink"
				*ngIf="publisher.twitterUsername"
			></pocketlib-link-icon-button>
		</div>

		<p class="description-text" *ngIf="!editDescription">
			{{ publisher.description }}
		</p>

		<p
			class="no-description-text"
			*ngIf="
				(publisher.description == null ||
					publisher.description.length == 0) &&
				!editDescription
			"
		>
			{{ locale.noDescription }}
		</p>

		<div class="edit-description-container" *ngIf="editDescription">
			<dav-textarea
				[value]="newDescription"
				[placeholder]="locale.descriptionTextareaPlaceholder"
				[disabled]="descriptionLoading"
				resize="vertical"
				[errorMessage]="newDescriptionError"
				(change)="
					newDescription = $event.detail.value; newDescriptionError = ''
				"
			></dav-textarea>
		</div>

		<div class="edit-description-button-container">
			<dav-button
				size="small"
				[tonal]="!editDescription"
				[disabled]="descriptionLoading"
				(click)="EditDescription()"
				*ngIf="publisherMode != 0"
			>
				{{ editDescription ? locale.save : locale.edit }}
			</dav-button>

			<dav-button
				color="secondary"
				size="small"
				[disabled]="descriptionLoading"
				(click)="CancelEditDescription()"
				*ngIf="editDescription"
			>
				{{ locale.cancel }}
			</dav-button>
		</div>
	</div>

	<div class="authors-panel">
		<!-- Error message -->
		<div
			class="error-message-container"
			*ngIf="errorMessage.length > 0 && publisherMode != 0"
		>
			<dav-message-bar color="error" type="error">
				{{ errorMessage }}
			</dav-message-bar>
		</div>

		<!-- List of authors -->
		<div *ngIf="publisherMode != 0">
			<dav-header
				size="small"
				addButtonVisible
				(addButtonClick)="ShowCreateAuthorDialog()"
			>
				{{ locale.yourAuthors }}
			</dav-header>
		</div>

		<div
			class="search-textfield-container"
			[style.display]="authorsLoading ? 'none' : ''"
		>
			<div>
				<dav-textfield
					#searchTextfield
					[placeholder]="locale.searchTextfieldPlaceholder"
					(change)="searchQueryChange($event)"
				></dav-textfield>
			</div>
		</div>

		<div
			class="progress-ring-container"
			*ngIf="authorsLoading || this.searchAuthorsLoading"
		>
			<dav-progress-ring size="28"></dav-progress-ring>
		</div>

		<div
			class="author-list-container"
			*ngIf="!authorsLoading && !this.searchAuthorsLoading"
		>
			<dav-list>
				<dav-list-item
					[imageSrc]="author.profileImageContent"
					imageRounded
					[headline]="author.name"
					[href]="'/store/author/' + author.slug"
					[imageTitle]="author.name"
					[imageAlt]="author.alt"
					(click)="authorItemClick($event, author)"
					*ngFor="let author of authorItems"
				></dav-list-item>
			</dav-list>
		</div>

		<dav-pagination
			[pages]="pages"
			[currentPage]="page"
			(pageChange)="PageChange($event.detail.page)"
			*ngIf="pages > 1"
		></dav-pagination>
	</div>
</div>

<pocketlib-logo-dialog
	#logoDialog
	(primaryButtonClick)="UploadLogo($event)"
></pocketlib-logo-dialog>

<pocketlib-edit-publisher-profile-dialog
	#editProfileDialog
	[name]="editProfileDialogName"
	[websiteUrl]="editProfileDialogWebsiteUrl"
	[facebookUsername]="editProfileDialogFacebookUsername"
	[instagramUsername]="editProfileDialogInstagramUsername"
	[twitterUsername]="editProfileDialogTwitterUsername"
	[nameError]="editProfileDialogNameError"
	[websiteUrlError]="editProfileDialogWebsiteUrlError"
	[facebookUsernameError]="editProfileDialogFacebookUsernameError"
	[instagramUsernameError]="editProfileDialogInstagramUsernameError"
	[twitterUsernameError]="editProfileDialogTwitterUsernameError"
	(primaryButtonClick)="SaveProfile($event)"
></pocketlib-edit-publisher-profile-dialog>

<pocketlib-create-author-dialog
	#createAuthorDialog
	[loading]="createAuthorDialogLoading"
	[firstNameError]="createAuthorDialogFirstNameError"
	[lastNameError]="createAuthorDialogLastNameError"
	(primaryButtonClick)="CreateAuthor($event)"
></pocketlib-create-author-dialog>
