<div class="container slide-up-in" [class.compact]="publisherMode == 3">
	<div class="publisher-panel">
		@if (publisherMode != 3) {
		<div class="logo-container">
			<dav-blurhash-image
				[src]="logoContent"
				[fallbackSrc]="dataService.defaultProfileImageUrl"
				[blurhash]="publisher?.logo?.blurhash"
				[title]="publisher?.name"
				[alt]="logoAlt"
				[width]="logoWidth"
				[height]="logoWidth"
				[loading]="logoLoading"
			></dav-blurhash-image>

			@if (publisherMode != 0) {
			<dav-button
				size="sm"
				tonal
				ngxFilePicker
				accept="image/png,image/jpeg"
				[disabled]="logoLoading"
				(filePick)="LogoFileSelected($event)"
			>
				{{ locale.uploadLogo }}
			</dav-button>
			}
		</div>
		} @if (publisherMode == 3) {
		<dav-header size="sm">
			{{ vlbPublisherName }}
		</dav-header>
		} @else {
		<dav-header
			[editButtonVisible]="publisherMode > 0"
			size="sm"
			(editButtonClick)="ShowEditProfileDialog()"
		>
			{{ publisher?.name }}
		</dav-header>
		} @if (publisher?.websiteUrl || publisher?.facebookUsername ||
		publisher?.instagramUsername || publisher?.twitterUsername ||
		vlbPublisherUrl) {
		<div class="social-media-buttons-container">
			@if (publisher?.websiteUrl || vlbPublisherUrl) {
			<!-- Website -->
			<pocketlib-link-icon-button
				[icon]="faGlobeLight"
				[link]="publisher.websiteUrl ?? vlbPublisherUrl"
			></pocketlib-link-icon-button>
			} @if (publisher?.facebookUsername) {
			<!-- Facebook -->
			<pocketlib-link-icon-button
				[icon]="faFacebook"
				[link]="facebookLink"
			></pocketlib-link-icon-button>
			} @if (publisher?.instagramUsername) {
			<!-- Instagram -->
			<pocketlib-link-icon-button
				[icon]="faInstagram"
				[link]="instagramLink"
			></pocketlib-link-icon-button>
			} @if (publisher?.twitterUsername) {
			<!-- Twitter -->
			<pocketlib-link-icon-button
				[icon]="faTwitter"
				[link]="twitterLink"
			></pocketlib-link-icon-button>
			}
		</div>
		} @if (publisherMode != 3) { @if (!editDescription) {
		<p class="description-text">
			{{ publisher?.description }}
		</p>
		} @if ((publisher?.description == null || publisher?.description.length ==
		0) && !editDescription) {
		<p class="no-description-text">
			{{ locale.noDescription }}
		</p>
		} @if (editDescription) {
		<div class="edit-description-container">
			<dav-textarea
				[value]="newDescription"
				[placeholder]="locale.descriptionTextareaPlaceholder"
				[disabled]="descriptionLoading"
				resize="vertical"
				[errorMessage]="newDescriptionError"
				(change)="
					newDescription = $event.detail.value; newDescriptionError = ''
				"
			></dav-textarea>
		</div>
		}

		<div class="edit-description-button-container">
			@if (publisherMode != 0) {
			<dav-button
				size="sm"
				[tonal]="!editDescription"
				[disabled]="descriptionLoading"
				(click)="EditDescription()"
			>
				{{ editDescription ? locale.save : locale.edit }}
			</dav-button>
			} @if (editDescription) {
			<dav-button
				color="secondary"
				size="sm"
				[disabled]="descriptionLoading"
				(click)="CancelEditDescription()"
			>
				{{ locale.cancel }}
			</dav-button>
			}
		</div>
		}
	</div>

	@if (publisherMode == 3) {
	<div class="authors-panel">
		<!-- List of books -->
		@if (vlbItemsLoading) {
		<div class="progress-ring-container">
			<dav-progress-ring size="28"></dav-progress-ring>
		</div>
		} @else {
		<dav-list>
			@for (book of books; track book.uuid) {
			<dav-list-item
				[imageSrc]="book.coverContent"
				[imageBlurhash]="book.coverBlurhash"
				imageAspectRatio="1:1.5"
				[headline]="book.title"
				size="lg"
				[href]="'/store/book/' + book.slug"
				(click)="bookItemClick($event, book)"
			></dav-list-item>
			}
		</dav-list>

		@if (pages > 1) {
		<div class="pagination-container">
			<dav-pagination
				[pages]="pages"
				[currentPage]="page"
				(pageChange)="booksPageChange($event.detail.page)"
			></dav-pagination>
		</div>
		} }
	</div>
	} @else {
	<div class="authors-panel">
		@if (errorMessage.length > 0 && publisherMode != 0) {
		<!-- Error message -->
		<div class="error-message-container">
			<dav-message-bar color="error" type="error">
				{{ errorMessage }}
			</dav-message-bar>
		</div>
		} @if (publisherMode != 0) {
		<!-- List of authors -->
		<div>
			<dav-header
				size="sm"
				addButtonVisible
				(addButtonClick)="ShowCreateAuthorDialog()"
			>
				{{ locale.yourAuthors }}
			</dav-header>
		</div>
		}

		<div
			class="search-textfield-container"
			[style.display]="authorsLoading ? 'none' : ''"
		>
			<div>
				<dav-textfield
					#searchTextfield
					[placeholder]="locale.searchTextfieldPlaceholder"
					(change)="searchQueryChange($event)"
				></dav-textfield>
			</div>
		</div>

		@if (authorsLoading || this.searchAuthorsLoading) {
		<div class="progress-ring-container">
			<dav-progress-ring size="28"></dav-progress-ring>
		</div>
		} @if (!authorsLoading && !this.searchAuthorsLoading) {
		<div class="author-list-container">
			<dav-list>
				@for (author of authorItems; track author.uuid) {
				<dav-list-item
					[imageSrc]="author.profileImageContent"
					imageRounded
					[headline]="author.name"
					[href]="'/store/author/' + author.slug"
					[imageTitle]="author.name"
					[imageAlt]="author.alt"
					(click)="authorItemClick($event, author)"
				></dav-list-item>
				}
			</dav-list>
		</div>
		} @if (pages > 1) {
		<dav-pagination
			[pages]="pages"
			[currentPage]="page"
			(pageChange)="authorPageChange($event.detail.page)"
		></dav-pagination>
		}
	</div>
	}
</div>

<pocketlib-logo-dialog
	#logoDialog
	(primaryButtonClick)="UploadLogo($event)"
></pocketlib-logo-dialog>

<pocketlib-edit-publisher-profile-dialog
	#editProfileDialog
	[name]="editProfileDialogName"
	[websiteUrl]="editProfileDialogWebsiteUrl"
	[facebookUsername]="editProfileDialogFacebookUsername"
	[instagramUsername]="editProfileDialogInstagramUsername"
	[twitterUsername]="editProfileDialogTwitterUsername"
	[nameError]="editProfileDialogNameError"
	[websiteUrlError]="editProfileDialogWebsiteUrlError"
	[facebookUsernameError]="editProfileDialogFacebookUsernameError"
	[instagramUsernameError]="editProfileDialogInstagramUsernameError"
	[twitterUsernameError]="editProfileDialogTwitterUsernameError"
	(primaryButtonClick)="SaveProfile($event)"
></pocketlib-edit-publisher-profile-dialog>

<pocketlib-create-author-dialog
	#createAuthorDialog
	[loading]="createAuthorDialogLoading"
	[firstNameError]="createAuthorDialogFirstNameError"
	[lastNameError]="createAuthorDialogLastNameError"
	(primaryButtonClick)="CreateAuthor($event)"
></pocketlib-create-author-dialog>
