.container {
	display: flex;
	flex-direction: column;
	padding: 12px;
	align-items: center;
}

.search-field-container {
	max-width: 400px;
	width: 100%;
}

.search-input-container {
	position: relative;
	height: 54px;
}

.search-input {
	width: 100%;
	padding: 16px 18px 16px 58px;
	border: 1px solid var(--dav-color-on-surface);
	border-radius: 28px;
	background-color: transparent;
	color: var(--dav-color-on-surface);
	font-size: 18px;
	transition: 200ms;
}

.search-input:hover, .search-input:focus {
	box-shadow: 0px 4px 8px 0px rgb(var(--dav-color-shadow-rgb), 0.1);
}

.search-icon-container {
	position: absolute;
	top: 0;
	left: 20px;
	height: 100%;
	display: flex;
	align-items: center;
}

.search-icon-container ::ng-deep svg {
	height: 22px;
	color: var(--dav-color-on-surface);
}

.progress-ring-container {
	margin-top: 36px;
}

.list-container {
	max-width: 600px;
	margin: 32px auto;
}

.previous-searches-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	max-width: 400px;
	margin-top: 32px;
}

.previous-search-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--dav-color-surface);
	border: 1px solid rgb(var(--dav-color-outline-rgb), 0.15);
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
	padding: 12px;
	width: 100%;
	box-sizing: border-box;
	transition: 200ms;
	cursor: pointer;
	text-decoration: none;

	p {
		color: var(--dav-color-on-surface);
		margin: 0;
	}
}

.previous-search-card:hover,
.previous-search-card:focus {
	transform: translateY(-8px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
