<div class="container slide-up-in">
	<div class="search-field-container">
		<div class="search-input-container">
			<input
				#searchInput
				class="search-input"
				[value]="query"
				type="search"
				placeholder="Suche nach Büchern"
				(input)="searchQueryChange()"
			/>

			<div class="search-icon-container">
				<fa-icon [icon]="faMagnifyingGlass"></fa-icon>
			</div>
		</div>
	</div>

	@if (isLoading) {
	<div class="progress-ring-container">
		<dav-progress-ring size="32"></dav-progress-ring>
	</div>
	}

	<div class="list-container">
		<dav-list>
			@for (book of books; track book.id) {
			<dav-list-item
				[imageSrc]="book.coverUrl"
				[headline]="book.title"
				[subhead]="book.author"
				size="lg"
			></dav-list-item>
			}
		</dav-list>
	</div>

	@if (pages > 1 && !isLoading) {
	<div class="pagination-container">
		<dav-pagination
			[pages]="pages"
			[currentPage]="page"
			(pageChange)="pageChange($event)"
		></dav-pagination>
	</div>
	}
</div>
