<div id="viewer"
      style="position: absolute;"
		class="d-flex theme-background-color-primary"
		[style.left.px]="viewerPositionLeft" 
		[style.z-index]="viewerZIndex"
		[style.width.px]="width"
		[style.height.px]="height"
		[style.transition]="(goingBack && currentViewer == 2) ? '' : 'left ' + viewerTransitionTime + 's'">
	<iframe id="viewer-left" scrolling="no" style="border: none; position: relative; margin-top: 60px" [style.width.px]="viewerLeftWidth" [style.height.px]="viewerLeftHeight"></iframe>
	<iframe id="viewer-right" scrolling="no" style="border: none; position: relative; margin-top: 60px; right: 0" [style.width.px]="viewerRightWidth" [style.height.px]="viewerRightHeight"></iframe>
</div>

<div id="viewer2"
      style="position: absolute;"
		class="d-flex theme-background-color-primary"
		[style.left.px]="viewer2PositionLeft" 
		[style.z-index]="viewer2ZIndex"
		[style.width.px]="width"
		[style.height.px]="height"
		[style.transition]="(goingBack && currentViewer == 3) ? '' : 'left ' + viewerTransitionTime + 's'">
	<iframe id="viewer-left2" scrolling="no" style="border: none; position: relative; margin-top: 60px" [style.width.px]="viewerLeftWidth" [style.height.px]="viewer2LeftHeight"></iframe>
	<iframe id="viewer-right2" scrolling="no" style="border: none; position: relative; margin-top: 60px; right: 0" [style.width.px]="viewerRightWidth" [style.height.px]="viewer2RightHeight"></iframe>
</div>

<div id="viewer3"
      style="position: absolute;"
		class="d-flex theme-background-color-primary"
		[style.left.px]="viewer3PositionLeft" 
		[style.z-index]="viewer3ZIndex"
		[style.width.px]="width"
		[style.height.px]="height"
		[style.transition]="(goingBack && currentViewer == 1) ? '' : 'left ' + viewerTransitionTime + 's'">
	<iframe id="viewer-left3" scrolling="no" style="border: none; position: relative; margin-top: 60px" [style.width.px]="viewerLeftWidth" [style.height.px]="viewer3LeftHeight"></iframe>
	<iframe id="viewer-right3" scrolling="no" style="border: none; position: relative; margin-top: 60px; right: 0" [style.width.px]="viewerRightWidth" [style.height.px]="viewer3RightHeight"></iframe>
</div>

<!-- Top Toolbar -->
<button mat-button class="book-toolbar-button" (click)="GoBack()" *ngIf="!showBottomToolbar">
	<i class="material-icons book-toolbar-button-icon text-color">arrow_back</i>
</button>

<div style="z-index: 2; float: right" *ngIf="!showBottomToolbar">
	<button mat-button class="book-toolbar-button">
		<i class="material-icons book-toolbar-button-icon text-color" (click)="OpenChaptersPanel()">toc</i>
	</button>
	<button mat-button class="book-toolbar-button">
		<i class="material-icons book-toolbar-button-icon text-color">bookmark_border</i>
	</button>
</div>

<!-- Arrow buttons -->
<button mat-button class="book-toolbar-button" style="position: absolute; width: 40px; left: 0; top: 40px; z-index: 2" [style.height.px]="height - 40" (click)="PrevPage()" *ngIf="!firstPage">
	<i class="material-icons text-color" style="font-size: 30px">keyboard_arrow_left</i>
</button>
<button mat-button class="book-toolbar-button" style="position: absolute; width: 40px; right: 0; top: 40px; z-index: 2" [style.height.px]="height - 40" (click)="NextPage()" *ngIf="!lastPage">
	<i class="material-icons text-color" style="font-size: 30px">keyboard_arrow_right</i>
</button>

<div class="w-100 d-flex justify-content-center"
		style="z-index: 1; position: absolute; bottom: 0;"
		[style.marginBottom.px]="bottomToolbarMarginBottom"
		[style.transition]="'all ' + bottomToolbarTransitionTime + 's'"
		*ngIf="showBottomToolbar">
	<div style="display: inline-block;">
		<div class="d-flex justify-content-center">
			<button mat-button class="book-toolbar-button" (click)="OpenOrCloseBottomToolbar()">
				<i class="material-icons book-toolbar-button-icon text-color">{{ bottomToolbarOpened ? 'expand_more' : 'expand_less' }}</i>
			</button>
		</div>
		<div>
			<button mat-button class="book-toolbar-button" (click)="GoBack()">
				<i class="material-icons book-toolbar-button-icon text-color">arrow_back</i>
			</button>
			<button mat-button class="book-toolbar-button" (click)="OpenChaptersPanel()">
				<i class="material-icons book-toolbar-button-icon text-color">toc</i>
			</button>
			<button mat-button class="book-toolbar-button">
				<i class="material-icons book-toolbar-button-icon text-color">bookmark_border</i>
			</button>
		</div>
	</div>
</div>

<fab-panel [isOpen]="showChaptersPanel" 
            (onDismissed)="showChaptersPanel = false" 
            isLightDismiss="true" 
				(onLightDismissClick)="showChaptersPanel = false"
				isHiddenOnDismiss="true"
            [headerText]="locale.toc">
   <pocketlib-chapters-tree #chaptersTree></pocketlib-chapters-tree>
</fab-panel>