<iframe id="viewer-left" scrolling="no" style="border: none; position: absolute; margin-top: 60px" [style.width.px]="viewerLeftWidth" [style.height.px]="contentHeight - 8"></iframe>
<iframe id="viewer-right" scrolling="no" style="border: none; position: absolute; margin-top: 60px; right: 0" [style.width.px]="viewerRightWidth" [style.height.px]="contentHeight - 8"></iframe>
<div id="bottom-curtain-left" class="theme-background-color-primary" style="position: absolute; bottom: 0;" [style.width.px]="viewerLeftWidth" [style.height.px]="bottomCurtainLeftHeight"></div>
<div id="bottom-curtain-right" class="theme-background-color-primary" style="position: absolute; bottom: 0; right: 0" [style.width.px]="viewerRightWidth" [style.height.px]="bottomCurtainRightHeight"></div>

<!-- Navigation buttons -->
<button mat-button class="book-toolbar-button" (click)="GoBack()">
   <i class="material-icons book-toolbar-button-icon text-color">arrow_back</i>
</button>
<button mat-button class="book-toolbar-button" style="position: absolute; width: 40px; left: 0; top: 40px" [style.height.px]="height - 40" (click)="PrevPage()" *ngIf="!firstPage">
	<i class="material-icons text-color" style="font-size: 30px">keyboard_arrow_left</i>
</button>
<button mat-button class="book-toolbar-button" style="position: absolute; width: 40px; right: 0" [style.height.px]="height" (click)="NextPage()" *ngIf="!lastPage">
	<i class="material-icons text-color" style="font-size: 30px">keyboard_arrow_right</i>
</button>