.navbar {
	display: flex;
	position: fixed;
	width: 100%;
	height: 76px;
	z-index: 5;
	background-color: transparent;
	padding-top: calc(
		env(safe-area-inset-top) + var(--windows-title-bar-height)
	);
}

.navbar-header {
	display: inline-flex;
	color: var(--dav-color-on-surface);
	background-color: transparent;
	font-size: 26px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.navbar-header > span {
	display: flex;
	align-self: center;
	margin-left: 10px;
}

.navbar-tab-bar-container {
	display: flex;
	align-items: center;
}

.navbar-spacer {
	width: 100%;
}

.navbar-icon-buttons-container {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 8px 16px;
}

.content-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
}

.content-padding-top {
	padding-top: calc(
		(env(safe-area-inset-top) + var(--windows-title-bar-height)) + 76px
	);
}

.content-padding-bottom {
	padding-bottom: calc(80px + env(safe-area-inset-bottom));
}

.profile-image {
	border-radius: 50%;
}

.bottom-navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	padding-bottom: env(safe-area-inset-bottom);
}

dav-navigation-bar {
	background-color: transparent;
}
