@if (dataService.navbarVisible && !dataService.bookPageVisible) {
<div class="navbar acrylic">
	<!-- Logo + name -->
	<a class="navbar-header" routerLink="/">
		<img src="/assets/icons/icon-72x72.png" width="60" height="60" />
		<span>PocketLib</span>
	</a>

	@if (!dataService.isMobile) {
	<div class="navbar-tab-bar-container">
		<dav-tab-bar>
			<dav-tab-bar-item
				[active]="libraryTabActive"
				(click)="navigateToLibraryPage()"
			>
				{{ locale.library }}
			</dav-tab-bar-item>

			<dav-tab-bar-item
				[active]="storeTabActive"
				(click)="navigateToStorePage()"
			>
				{{ locale.store }}
			</dav-tab-bar-item>
		</dav-tab-bar>
	</div>
	}

	<div class="navbar-spacer"></div>

	<div class="navbar-icon-buttons-container">
		@if (!dataService.isMobile && storeLanguages.includes("de")) {
		<dav-icon-button
			[selected]="searchTabActive"
			(click)="navigateToSearchPage()"
		>
			<fa-icon [icon]="faMagnifyingGlassRegular"></fa-icon>
		</dav-icon-button>
		} @if (dataService.userAuthor || dataService.userIsAdmin) {
		<dav-icon-button (click)="navigateToAuthorPage()">
			@if (!authorButtonSelected) {
			<fa-icon [icon]="faAddressCardLight"></fa-icon>
			} @else {
			<fa-icon [icon]="faAddressCardSolid"></fa-icon>
			}
		</dav-icon-button>
		}

		<dav-icon-button
			[selected]="userButtonSelected"
			(click)="navigateToUserPage()"
		>
			@if (!userButtonSelected && !dataService.dav.isLoggedIn) {
			<fa-icon [icon]="faCircleUserRegular"></fa-icon>
			} @if (userButtonSelected && !dataService.dav.isLoggedIn) {
			<fa-icon [icon]="faCircleUserSolid"></fa-icon>
			} @if (dataService.dav.isLoggedIn) {
			<img
				[src]="dataService.dav.user.ProfileImage"
				class="profile-image"
				height="28"
				width="28"
			/>
			}
		</dav-icon-button>

		<dav-icon-button
			[selected]="settingsButtonSelected"
			(click)="navigateToSettingsPage()"
		>
			@if (!settingsButtonSelected) {
			<fa-icon [icon]="faGearRegular"></fa-icon>
			} @else {
			<fa-icon [icon]="faGearSolid"></fa-icon>
			}
		</dav-icon-button>
	</div>
</div>
}

<div
	#contentContainer
	class="content-container"
	[class.mobile]="dataService.isMobile"
	[class.content-padding-top]="!dataService.bookPageVisible"
	[class.content-padding-bottom]="
		dataService.isMobile && !dataService.bookPageVisible
	"
>
	<router-outlet></router-outlet>
</div>

@if (dataService.isMobile && !dataService.bookPageVisible) {
<div class="bottom-navbar acrylic">
	<dav-navigation-bar>
		<dav-navigation-bar-item
			[active]="libraryTabActive"
			(click)="navigateToLibraryPage()"
		>
			@if (!libraryTabActive) {
			<fa-icon slot="icon" [icon]="faBookRegular"></fa-icon>
			} @else {
			<fa-icon slot="icon" [icon]="faBookSolid"></fa-icon>
			}

			<p slot="label">{{ locale.library }}</p>
		</dav-navigation-bar-item>

		<dav-navigation-bar-item
			[active]="storeTabActive"
			(click)="navigateToStorePage()"
		>
			@if (!storeTabActive) {
			<fa-icon slot="icon" [icon]="faBagShoppingRegular"></fa-icon>
			} @else {
			<fa-icon slot="icon" [icon]="faBagShoppingSolid"></fa-icon>
			}

			<p slot="label">{{ locale.store }}</p>
		</dav-navigation-bar-item>

		@if (storeLanguages.includes("de")) {
		<dav-navigation-bar-item
			[active]="searchTabActive"
			(click)="navigateToSearchPage()"
		>
			<fa-icon slot="icon" [icon]="faMagnifyingGlassRegular"></fa-icon>

			<p slot="label">{{ locale.search }}</p>
		</dav-navigation-bar-item>
		}
	</dav-navigation-bar>
</div>
} @if (dataService.loadingScreenVisible) {
<pocketlib-loading-screen
	[message]="dataService.loadingScreenMessage"
></pocketlib-loading-screen>
} @if (dataService.simpleLoadingScreenVisible) {
<pocketlib-simple-loading-screen></pocketlib-simple-loading-screen>
}
