<mat-toolbar id="navbar" class="bg-primary mat-elevation-z10" style="z-index: 5; position: relative" [style.display]="dataService.navbarVisible ? '' : 'none'">
   <mat-toolbar-row>
		<button mat-icon-button (click)="dataService.sideNavOpened = !dataService.sideNavOpened" *ngIf="routingService.showsStore">
			<i class="material-icons" style="font-size: 25px; color: white">menu</i>
		</button>

		<a href="/"
			(click)="ShowLibraryPage()"
			class="nav-link"
			style="color: white; font-size: 22px">
			{{ routingService.showsStore ? 'PocketLib Store' : 'PocketLib' }}
		</a>

		<span style="flex: 1 1 auto"></span>

		<div
			class="btn btn-primary mr-2 cursor"
			style="width: 50px; height: 50px"
			(click)="ShowStorePage()"
			*ngIf="!dataService.smallWindow">
			<i class="ms-Icon ms-Icon--Shop" style="font-size: 24px" aria-hidden="true"></i>
		</div>
		<div
			class="btn btn-primary mr-2 cursor d-flex justify-content-center"
			style="width: 50px; height: 50px"
			(click)="ShowAuthorPage()"
			*ngIf="(dataService.userAuthor || dataService.adminAuthors.length > 0) && !dataService.smallWindow">
			<fa-icon [icon]="faAddressCardLight" style="font-size: 24px; margin-top: 2px"></fa-icon>
		</div>
		<div class="btn btn-primary mr-2 cursor" style="width: 50px; height: 50px" (click)="ShowAccountPage()">
         <i class="material-icons" style="margin-top: 6px; font-size: 25px" *ngIf="!dataService.dav.isLoggedIn">account_circle</i>
			<img
				*ngIf="dataService.dav.isLoggedIn" 
         	[src]="dataService.dav.user.ProfileImage" 
         	class="rounded-circle" 
         	height="28" width="28"
         	style="margin-top: 4px; margin-left: -2px">
		</div>
		<div class="btn btn-primary cursor" style="width: 50px; height: 50px" (click)="ShowSettingsPage()">
			<i class="material-icons" style="margin-top: 6px; font-size: 25px">settings</i>
		</div>
	</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<div
	id="bottom-navigation-bar"
	class="bg-primary d-flex d-row"
	*ngIf="dataService.smallWindow && dataService.navbarVisible">

	<button
		mat-flat-button
		class="bottom-navigation-button flex-fill"
		routerLink="/">
		<img src="/assets/svgs/home-white-outlined.svg" [style.display]="currentUrl == '/' ? 'none' : ''">
		<img src="/assets/svgs/home-white-filled.svg" [style.display]="currentUrl == '/' ? '' : 'none'">
	</button>

	<button
		mat-flat-button
		class="bottom-navigation-button flex-fill"
		routerLink="/store">
		
		<div class="d-flex justify-content-center">
			<i class="ms-Icon ms-Icon--Shop" style="font-size: 24px" aria-hidden="true"></i>
			<div
				style="background-color: white; width: 13px; height: 16px; top: 23px; margin-left: -6px; position:absolute"
				*ngIf="bottomToolbarStoreEntryActive">
			</div>
		</div>
	</button>

	<button
		mat-flat-button
		class="bottom-navigation-button flex-fill"
		routerLink="/author"
		*ngIf="dataService.userAuthor || dataService.adminAuthors.length > 0">

		<fa-icon [icon]="faAddressCardSolid" style="font-size: 24px" *ngIf="bottomToolbarAuthorEntryActive"></fa-icon>
		<fa-icon [icon]="faAddressCardLight" style="font-size: 24px" *ngIf="!bottomToolbarAuthorEntryActive"></fa-icon>
	</button>
</div>