<div class="user-profile-container">
	<img
		class="profile-image"
		[src]="dataService.dav.user.ProfileImage"
		[height]="compact ? 130 : 150"
		[width]="compact ? 130 : 150"
	/>

	<div
		class="user-details-container"
		[style.marginLeft.px]="compact ? 20 : 40"
	>
		<h4 class="mb-0">
			<a
				class="profile-link"
				href="https://dav-apps.tech/login?redirect=user"
				target="blank"
			>
				{{ dataService.dav.user.FirstName }}
			</a>
		</h4>

		<p class="plan-label">
			{{
				dataService.dav.user.Plan == 0
					? locale.planFree
					: dataService.dav.user.Plan == 1
					? locale.planPlus
					: locale.planPro
			}}
		</p>

		<div class="progress-bar-container">
			<dav-progress-bar [value]="usedStoragePercent"></dav-progress-bar>
		</div>

		<p class="used-storage-label">
			{{ usedStorageText }}
		</p>

		<dav-button
			color="error"
			outline
			size="small"
			(click)="LogoutClick()"
		>
			{{ locale.logout }}
		</dav-button>
	</div>
</div>
