<div
	class="container"
	[ngClass]="
		section != 0
			? forwardNavigation
				? 'slide-left-out'
				: 'slide-right-out'
			: forwardNavigation
			? 'slide-left-in'
			: 'slide-right-in'
	"
	[style.display]="visibleSection != 0 ? 'none' : null"
>
	<div class="form-container">
		<dav-textfield
			[value]="title"
			[placeholder]="locale.titleSection.titleTextfieldPlaceholder"
			[label]="locale.titleSection.description"
			(change)="title = $event.detail.value"
			(enter)="Submit()"
		></dav-textfield>
	</div>

	<div class="button-container">
		<dav-progress-ring size="16" *ngIf="loading"></dav-progress-ring>

		<dav-button size="sm" [disabled]="title.length < 3 || loading" (click)="Submit()">
			{{ locale.next }}
		</dav-button>
	</div>
</div>
