.container {
	margin: 0 auto;
	max-width: 300px;
	overflow: hidden;
}

.form-container {
	margin-bottom: 16px;
}

.button-container {
	display: flex;
	float: right;
	gap: 16px;
	align-items: center;
}
