.content-container {
	display: flex;
	min-height: 284px;
}

.progress-ring-container {
	display: flex;
	align-items: center;
	margin-left: 48px;
	padding: 32px;
}

.book-list-container {
	display: flex;
	gap: 16px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 2rem;
}
