<div class="container" *ngIf="type == 'latest' || books.length > 0">
	<h4 class="store-list-header">
		{{ headline }}
	</h4>

	<div class="content-container">
		<div class="progress-ring-container" *ngIf="loading">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>

		<div
			class="book-list-container horizontal-store-list slide-up-in"
			*ngIf="!loading"
		>
			<pocketlib-store-book-card
				[book]="book"
				[highlighted]="type == 'series' && book.uuid == currentBookUuid"
				*ngFor="let book of books"
			></pocketlib-store-book-card>
		</div>
	</div>
</div>
