<div class="container">
	<div class="store-list-header-container">
		<h4 class="store-list-header">
			{{ headline }}
		</h4>

		@if (hasMoreItems && !hideMoreButton) {
		<dav-icon-button size="sm" (click)="moreButtonClick()">
			<fa-icon [icon]="faArrowRightLight"></fa-icon>
		</dav-icon-button>
		}
	</div>

	<div class="content-container" [class.center]="alignment == 'center'">
		@if (loading) {
		<div class="progress-ring-container">
			<dav-progress-ring size="32"></dav-progress-ring>
		</div>
		} @else {
		<div class="book-list-container horizontal-store-list slide-up-in">
			@for (book of books; track book.uuid) {
			<pocketlib-store-book-card
				[book]="book"
				[highlighted]="(type == 'series' || type == 'collection') && book.uuid == currentBookUuid"
			></pocketlib-store-book-card>
			}
		</div>
		}
	</div>
</div>
