<div class="mt-3" *ngIf="type == 'latest' || books.length > 0">
	<h4 class="ml-3 font-weight-light text-color">
		{{ type == "latest" ? locale.recentlyPublished : (categories.length == 1 ? locale.moreBooksInCategory : locale.moreBooksInCategories) }}
	</h4>

	<div class="d-flex horizontal-store-list" style="height: 250px; overflow-x: scroll; overflow-y: hidden">
		<div class="d-flex ml-5 mb-3 pl-4" style="width: max-content; height: 200px" *ngIf="loading">
			<div class="mx-auto my-auto">
				<fluent-progress-ring
					style="width: 32px; height: 32px; margin: 0">
				</fluent-progress-ring>
			</div>
		</div>

		<div class="d-flex mb-3 pl-4 ms-motion-slideUpIn" style="width: max-content" *ngIf="!loading">
			<pocketlib-store-book-card
				[book]="book"
				*ngFor="let book of books">
			</pocketlib-store-book-card>

			<div
				class="mx-2 my-3"
				style="display: inline-flex; width: 100px"
				*ngIf="type == 'latest' && books.length > 0">

				<a class="d-flex mx-auto my-auto align-items-center justify-content-center cursor"
					[ngClass]="showAllHovered ? 'shadow' : 'shadow-sm'"
					style="width: 50px; height: 50px; border-radius: 50%; text-decoration: none; transition: 0.12s"
					routerLink="/store/books/all"
					(mouseover)="showAllHovered = true"
					(mouseout)="showAllHovered = false"
					(focusin)="showAllHovered = true"
					(focusout)="showAllHovered = false">

					<i class="ms-Icon ms-Icon--Forward text-color"
						aria-hidden="true"
						style="font-size: 22px">
					</i>
				</a>
			</div>
		</div>
	</div>
</div>