.content-container {
	display: flex;
	min-height: 263px;
}

.progress-ring-container {
	display: flex;
	align-items: center;
}

.book-list-container {
	display: flex;
	gap: 16px;
	overflow-x: scroll;
	overflow-y: hidden;
}
