<div *ngFor="let name of names">
	<p class="language-label">{{ name.fullLanguage }}:</p>

	<div class="content-container">
		<div *ngIf="!name.edit">
			<p class="name-text">
				{{ name.name }}
			</p>
		</div>

		<form *ngIf="name.edit">
			<dav-textfield
				[value]="name.name"
				[placeholder]="locale.collectionNameTextfieldPlaceholder"
				[errorMessage]="name.errorMessage"
				(change)="name.name = $event.detail.value; name.errorMessage = ''"
				(enter)="name.edit ? UpdateName(name) : (name.edit = true)"
			></dav-textfield>
		</form>

		<dav-icon-button
			size="sm"
			(click)="name.edit ? UpdateName(name) : (name.edit = true)"
		>
			<fa-icon [icon]="faFloppyDiskLight" *ngIf="name.edit"></fa-icon>
			<fa-icon [icon]="faPenLight" *ngIf="!name.edit"></fa-icon
		></dav-icon-button>
	</div>
</div>
