@for (name of names; track name.name) {
<div>
	<p class="language-label">{{ name.fullLanguage }}:</p>

	<div class="content-container">
		@if (!name.edit) {
		<div>
			<p class="name-text">
				{{ name.name }}
			</p>
		</div>
		} @else {
		<form>
			<dav-textfield
				[value]="name.name"
				[placeholder]="locale.collectionNameTextfieldPlaceholder"
				[errorMessage]="name.errorMessage"
				(change)="name.name = $event.detail.value; name.errorMessage = ''"
				(enter)="name.edit ? UpdateName(name) : (name.edit = true)"
			></dav-textfield>
		</form>
		}

		<dav-icon-button
			size="sm"
			(click)="name.edit ? UpdateName(name) : (name.edit = true)"
		>
			@if (name.edit) {
			<fa-icon [icon]="faFloppyDiskLight"></fa-icon>
			} @else {
			<fa-icon [icon]="faPenLight"></fa-icon>
			}
		</dav-icon-button>
	</div>
</div>
}
