.language-label {
	margin-bottom: 8px;
	font-weight: 300;
	color: var(--dav-color-on-surface);
}

.content-container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.name-text {
	margin: 0;
	color: var(--dav-color-on-surface);
}
