<div class="mb-3" style="font-size: 16px" *ngFor="let name of names">
	<p class="mb-1 font-weight-light text-color">{{ name.fullLanguage }}: </p>

	<div class="d-flex">
		<div style="width: 80%" *ngIf="!name.edit">
			<p class="mb-0 text-color" style="line-height: 30px">{{ name.name }}</p>
		</div>

		<form style="width: 80%" *ngIf="name.edit">
			<dav-textfield
				[value]="name.name"
				[placeholder]="locale.nameTextfieldPlaceholder"
				[errorMessage]="name.errorMessage"
				[theme]="dataService.darkTheme ? 'dark' : 'light'"
				(change)="name.name = $event.detail.value; name.errorMessage = ''"
				(enter)="name.edit ? UpdateName(name) : name.edit = true">
			</dav-textfield>
		</form>

		<button
			type="button"
			class="btn btn-sm ml-2 text-color"
			style="height: 30px; width: 30px; padding: 3px 6px; font-size: 16px"
			(click)="name.edit ? UpdateName(name) : name.edit = true">
			<i class="ms-Icon ms-Icon--Save" aria-hidden="true" *ngIf="name.edit"></i>
			<i class="ms-Icon ms-Icon--Edit" aria-hidden="true" *ngIf="!name.edit"></i>
		</button>
	</div>
</div>

<div *ngIf="addLanguageOptions.length > 1">
	<div class="mb-3">
		<dav-dropdown
			[label]="locale.addLanguageDropdownLabel"
			[options]="addLanguageOptions"
			[selectedKey]="addLanguageSelectedKey"
			[theme]="dataService.darkTheme ? 'dark' : 'light'"
			(change)="AddLanguageDropdownChange($event)">
		</dav-dropdown>
	</div>

	<div
		class="d-flex mb-3"
		*ngIf="addLanguageSelectedKey != 'default'">

		<form style="width: 80%">
			<dav-textfield
				[value]="newLanguageName"
				[placeholder]="locale.nameTextfieldPlaceholder"
				[errorMessage]="newLanguageNameError"
				[theme]="dataService.darkTheme ? 'dark' : 'light'"
				(change)="newLanguageName = $event.detail.value; newLanguageNameError = ''"
				(enter)="AddLanguage()">
			</dav-textfield>
		</form>

		<button
			type="button"
			class="btn btn-sm ml-2 text-color"
			style="height: 30px; width: 30px; padding: 3px 6px; font-size: 16px"
			(click)="AddLanguage()">
			<i class="ms-Icon ms-Icon--Save" aria-hidden="true"></i>
		</button>
	</div>
</div>