<div
	class="container"
	[ngClass]="
		section != 6
			? forwardNavigation
				? 'slide-left-out'
				: 'slide-right-out'
			: forwardNavigation
			? 'slide-left-in'
			: 'slide-right-in'
	"
	[style.display]="visibleSection != 6 ? 'none' : null"
>
	<div>
		<p class="description-text">{{ locale.coverSection.description }}</p>

		<div class="cover-container" *ngIf="coverContent">
			<img [src]="coverContentBase64" height="200" />
		</div>

		<div class="upload-button-container">
			<dav-button
				ngxFilePicker
				accept="image/png,image/jpeg"
				(filePick)="CoverUpload($event)"
			>
				{{ locale.coverSection.uploadButtonText }}
			</dav-button>
		</div>
	</div>

	<div class="button-container">
		<dav-button size="small" outline (click)="Previous()">
			{{ locale.previous }}
		</dav-button>

		<dav-button size="small" (click)="Submit()">
			{{ locale.next }}
		</dav-button>
	</div>
</div>
