<a
	[style.height.px]="120 + series.books.length * 10"
	[routerLink]="link"
	(mouseover)="hover = true"
	(mouseout)="hover = false"
	(focusin)="hover = true"
	(focusout)="hover = false"
>
	<dav-blurhash-image
		[style.transform]="
			hover
				? 'translate(' +
				  ((advancedHoverAnimation ? 90 : 100) / series.books.length) *
						(advancedHoverAnimation
							? i - advancedHoverAnimationIndexTransform
							: i) +
				  'px, 10px) rotate(' +
				  ((advancedHoverAnimation ? 60 : 26) / series.books.length) *
						(advancedHoverAnimation
							? i - advancedHoverAnimationIndexTransform
							: i) +
				  'deg)'
				: 'translate(' +
				  (50 / series.books.length) * i +
				  'px, ' +
				  (25 / series.books.length) * i +
				  'px)'
		"
		[style.zIndex]="series.books.length - i"
		[src]="book.coverContent"
		[fallbackSrc]="dataService.defaultStoreBookCover"
		[blurhash]="book.coverBlurhash"
		[title]="book.title"
		[width]="book.coverWidth"
		[height]="book.coverHeight"
		*ngFor="let book of series.books; let i = index"
	></dav-blurhash-image>
</a>
