<a class="card cursor my-4 theme-background-color-secondary"
	[ngClass]="hover ? 'shadow' : 'shadow-sm'"
	[routerLink]="[link]"
	[queryParams]="linkParams"
	(mouseover)="hover = true"
	(mouseout)="hover = false"
	(focusin)="hover = true"
	(focusout)="hover = false"
	*ngIf="link != null && link.length > 0"
>
	<div class="card-body text-color" [@hover]="hover">
		<fa-icon [icon]="faPlusLight"></fa-icon>
	</div>
</a>

<div class="card cursor my-4 theme-background-color-secondary"
	[ngClass]="hover ? 'shadow' : 'shadow-sm'"
	(mouseover)="hover = true"
	(mouseout)="hover = false"
	(focusin)="hover = true"
	(focusout)="hover = false"
	*ngIf="link == null || link.length == 0"
>
	<div class="card-body text-color" [@hover]="hover">
		<fa-icon [icon]="faPlusLight"></fa-icon>
	</div>
</div>