<a class="card cursor my-4 theme-background-color-secondary"
	[ngClass]="hover ? 'shadow' : 'shadow-sm'"
	style="text-decoration: none; transition: 0.12s"
	[routerLink]="[link]"
	[queryParams]="linkParams"
	(mouseover)="hover = true"
	(mouseout)="hover = false"
	(focusin)="hover = true"
	(focusout)="hover = false">

	<div class="card-body d-flex justify-content-center align-items-center">
		<i class="ms-Icon ms-Icon--Add text-color"
			aria-hidden="true"
			style="font-size: 18px"
			[@hover]="hover">
		</i>
	</div>
</a>