<a id="book-card-parent"
	class="card my-4 cursor theme-background-color-secondary"
	[ngClass]="hovered ? 'shadow' : 'shadow-sm'"
	style="text-decoration: none; transition: 0.12s"
	[routerLink]="link"
	(mouseover)="hovered = true"
	(mouseout)="hovered = false"
	(focusin)="hovered = true"
	(focusout)="hovered = false">

	<div class="d-flex">
		<div
			class="d-flex align-items-center"
			style="width: 50%"
			[style.height.px]="120 + (books.length * 10)">

			<pocketlib-blurhash-image
				style="margin-left: 15px; position: absolute"
				[style.transform]="'translateX(' + (i * 15) + 'px) translateY(' + ((i * 10) - ((books.length - 1) * 5)) + 'px)'"
				[style.zIndex]="books.length - i"
				[src]="book.coverContent"
				[fallback]="dataService.defaultStoreBookCover"
				[blurhash]="book.coverBlurhash"
				[title]="book.title"
				height="100"
				*ngFor="let book of books; let i = index">
			</pocketlib-blurhash-image>
		</div>

		<div class="card-body my-auto" style="width: 50%">
			<h5
				[style.fontSize.px]="fontSize"
				class="card-title my-auto text-color">
				{{ title }}
			</h5>
		</div>
	</div>
</a>