<div class="mb-3" style="font-size: 16px" *ngFor="let collectionName of collectionNames">
	<p class="mb-1 font-weight-light">{{ collectionName.fullLanguage }}: </p>

	<div class="d-flex">
		<div style="width: 80%" *ngIf="!collectionName.edit">
			<p class="mb-0" style="line-height: 30px">{{ collectionName.name }}</p>
		</div>

		<div style="width: 80%" *ngIf="collectionName.edit">
			<fab-text-field
				[(value)]="collectionName.name"
				[placeholder]="locale.nameTextfieldPlaceholder.replace('{0}', collectionName.fullLanguage)"
				[errorMessage]="collectionName.errorMessage">
			</fab-text-field>
		</div>

		<button 
			type="button" 
			class="btn btn-sm ml-2" 
			style="height: 30px; width: 30px; padding: 3px 6px; font-size: 16px"
			(click)="collectionName.edit ? UpdateName(collectionName) : collectionName.edit = true">
			<fab-icon [iconName]="collectionName.edit ? 'Save' : 'Edit'"></fab-icon>
		</button>
	</div>
</div>

<div *ngIf="addLanguageOptions.length > 1">
	<fab-dropdown
		[label]="locale.addLanguageDropdownLabel"
		[selectedKey]="addLanguageSelectedKey"
		[options]="addLanguageOptions"
		(onChange)="AddLanguageDropdownChange($event)">
	</fab-dropdown>
</div>