<div id="dev-landing-header-1" class="container-fluid d-flex acrylic light" [style.height.px]="header1Height">
   <div class="mx-auto text-center" style="display: inline-block;" [style.marginTop.px]="header1TextMarginTop">
      <h2 class="font-weight-light" style="font-size: 46px">{{ locale.header1 }}</h2>
      <h4 class="font-weight-light mt-2">{{ locale.subheader1 }}</h4>
      <button mat-raised-button class="mt-4 mr-2" style="outline: none;" color="primary">{{ locale.viewDocs }}</button>
      <button mat-raised-button class="mt-4 ml-2" style="outline: none; background-color: white">{{ locale.createApp }}</button>
   </div>
</div>