<div id="dev-landing-header-1" class="container-fluid d-flex acrylic light" [style.height.px]="header1Height" *ngIf="apps.length == 0">
   <div class="mx-auto text-center" style="display: inline-block;" [style.marginTop.px]="header1TextMarginTop">
      <h1 style="font-size: 46px">{{ locale.landingHeader1 }}</h1>
      <h4 class="mt-2">{{ locale.landingSubheader1 }}</h4>
      <button mat-raised-button class="mt-4 mr-2" style="outline: none;" color="primary">{{ locale.viewDocs }}</button>
      <button mat-raised-button class="mt-4 ml-2" style="outline: none; background-color: white" (click)="createAppButtonClick()">{{ dataService.user.IsLoggedIn ? locale.createApp : locale.login }}</button>
   </div>
</div>

<div class="container text-center ms-motion-slideUpIn" *ngIf="apps.length > 0">
	<div style="display: inline-block">
		<h1 class="mt-3 mb-4 text-color">{{ locale.header }}</h1>

		<div class="card mt-3 mb-3 cursor shadow-sm theme-background-color-secondary" 
				style="max-width: 200px; transition: 0.12s" 
				*ngFor="let app of apps; let i = index" 
				[ngClass]="hoveredAppIndex == i ? 'shadow' : 'shadow-sm'"
				(click)="appSelected(app)"
				(mouseover)="hoveredAppIndex = i"
				(mouseout)="hoveredAppIndex = -1">
			<div class="card-body text-center text-color">
				{{ app.name }}
			</div>
		</div>
	
		<div class="card mt-3 mb-3 cursor shadow-sm theme-background-color-secondary" 
				style="max-width: 200px; transition: 0.12s" 
				[ngClass]="addAppHover ? 'shadow' : 'shadow-sm'"
				(click)="createApp()"
				(mouseover)="addAppHover = true"
				(mouseout)="addAppHover = false">
			<div class="card-body text-center">
				<i class="ms-Icon ms-Icon--Add text-color" aria-hidden="true" style="font-size: 18px" [@addAppHover]="addAppHover ? 'true' : 'false'"></i>
			</div>
		</div>
	</div>
</div>