#dev-landing-header-1{
   background-image: url('/assets/images/developer-landing.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
	width: 100%;
}