.container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.isbn-text {
	margin: 0;
	color: var(--dav-color-on-surface);
}

.no-isbn-text {
	font-weight: 300;
	font-style: italic;
	color: var(--dav-color-on-surface);
	margin: 0;
}

.edit-container {
	display: flex;
	gap: 12px;
}

.edit-container > div {
	margin-top: 24px;
}
