<div class="container">
	@if (isbn.length > 0 && !edit) {
	<p class="isbn-text">
		{{ isbn }}
	</p>
	} @if (isbn.length == 0 && !edit) {
	<p class="no-isbn-text">
		{{ locale.noIsbn }}
	</p>
	} @if (edit) {
	<div class="edit-container">
		<dav-textfield
			[value]="isbn"
			label="ISBN"
			placeholder="9780064407663"
			[errorMessage]="errorMessage"
			(change)="isbn = $event.detail.value; errorMessage = ''"
			(enter)="UpdateValue()"
		></dav-textfield>

		<div>
			<dav-icon-button size="sm" (click)="UpdateValue()">
				<fa-icon [icon]="faFloppyDiskLight"></fa-icon>
			</dav-icon-button>
		</div>

		<div>
			<dav-icon-button size="sm" (click)="Cancel()">
				<fa-icon [icon]="faXmarkLight"></fa-icon>
			</dav-icon-button>
		</div>
	</div>
	} @if (!edit && canEdit) {
	<dav-icon-button size="sm" (click)="EnableEditing()">
		<fa-icon [icon]="faPenLight"></fa-icon>
	</dav-icon-button>
	}
</div>
