<div class="container">
	<p class="isbn-text" *ngIf="isbn.length > 0 && !edit">
		{{ isbn }}
	</p>

	<p class="no-isbn-text" *ngIf="isbn.length == 0 && !edit">
		{{ locale.noIsbn }}
	</p>

	<div class="edit-container" *ngIf="edit">
		<dav-textfield
			[value]="isbn"
			label="ISBN"
			placeholder="9780064407663"
			[errorMessage]="errorMessage"
			(change)="isbn = $event.detail.value; errorMessage = ''"
			(enter)="UpdateValue()"
		></dav-textfield>

		<div>
			<dav-icon-button size="small" (click)="UpdateValue()">
				<fa-icon [icon]="faFloppyDiskLight"></fa-icon>
			</dav-icon-button>
		</div>

		<div>
			<dav-icon-button size="small" (click)="Cancel()">
				<fa-icon [icon]="faXmarkLight"></fa-icon>
			</dav-icon-button>
		</div>
	</div>

	<dav-icon-button
		size="small"
		*ngIf="!edit && canEdit"
		(click)="EnableEditing()"
	>
		<fa-icon [icon]="faPenLight"></fa-icon>
	</dav-icon-button>
</div>
