<div class="d-flex">
	<p class="mb-0 text-color" style="margin-top: 6px" *ngIf="!edit">{{ isbn }}</p>

	<p class="fw-light font-italic text-color"
		style="margin-top: 3px; margin-bottom: 3px"
		*ngIf="!edit && isbn.length == 0">
		{{ locale.noIsbn }}
	</p>

	<div class="d-flex" *ngIf="edit">
		<dav-textfield
			[value]="isbn"
			label="ISBN"
			placeholder="9780064407663"
			[errorMessage]="errorMessage"
			(change)="isbn = $event.detail.value; errorMessage = ''"
			(enter)="UpdateValue()">
		</dav-textfield>

		<button
			type="button"
			class="btn ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
			style="height: 32px; font-size: 16px; padding: 3px 6px; margin-top: 25px;"
			(click)="UpdateValue()">

			<i class="ms-Icon ms-Icon--Save" style="font-size: 16px" aria-hidden="true"></i>
		</button>

		<button
			type="button"
			class="btn ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
			style="height: 32px; font-size: 16px; padding: 3px 6px; margin-top: 25px"
			(click)="Cancel()">

			<i class="ms-Icon ms-Icon--Clear" style="font-size: 16px" aria-hidden="true"></i>
		</button>
	</div>

	<button
		type="button"
		class="btn ml-3 text-color theme-background-color-primary theme-border-color-primary icon-button"
		style="height: 32px; padding: 3px 6px; font-size: 16px"
		*ngIf="!edit && canEdit"
		(click)="EnableEditing()">

		<i class="ms-Icon ms-Icon--Edit" style="font-size: 16px" aria-hidden="true"></i>
	</button>
</div>