<div class="container d-flex flex-column ms-motion-slideUpIn">
	<h1 class="text-center mt-3">Settings</h1>

	<div class="mx-auto">
		<!-- App information -->
		<div class="mt-5 text-color">
			<p>
				<a href="https://dav-apps.tech/privacy" target="blank" class="text-secondary">Privacy Policy</a><br>
				<a href="https://github.com/Dav2070/PocketLib" target="blank" class="text-secondary">PocketLib on GitHub</a><br>
			</p>
			<p>
				Version {{ version }}<br>
				Copyright &copy; 2019 by dav
			</p>
		</div>
	</div>
</div>