<!-- Normal layout -->
<div class="container d-flex flex-column slide-up-in" *ngIf="!dualScreenLayout">
	<dav-header size="large">
		{{ locale.title }}
	</dav-header>

	<div class="setting-container mx-auto mt-4">
		<!-- Open last read book -->
		<dav-setting [header]="locale.openLastReadBook">
			<dav-toggle
				[checked]="openLastReadBook"
				(change)="onOpenLastReadBookToggleChange($event.detail.checked)"
			></dav-toggle>
		</dav-setting>
	</div>

	<div class="setting-container mx-auto mt-3">
		<!-- Theme -->
		<dav-setting [header]="locale.theme">
			<dav-dropdown
				[options]="themeDropdownOptions"
				[selectedKey]="selectedTheme"
				(change)="themeDropdownChange($event)"
			></dav-dropdown>
		</dav-setting>
	</div>

	<div class="mx-auto">
		<!-- App information -->
		<div class="mt-5 text-color">
			<div id="link-container">
				<dav-link-button url="https://blog.dav-apps.tech/tag/pocketlib">
					{{ locale.news }}
				</dav-link-button>
				<dav-link-button url="https://github.com/dav-apps/PocketLib">
					{{ locale.github }}
				</dav-link-button>
				<dav-link-button url="https://dav-apps.tech/privacy">
					{{ locale.privacy }}
				</dav-link-button>
			</div>

			<p class="mt-2">
				Version {{ version }}<br />
				Copyright &copy; {{ year }} by dav
			</p>

			<div class="d-flex" *ngIf="searchForUpdates">
				<dav-progress-ring size="16"></dav-progress-ring>

				<p class="mb-0" style="line-height: 20px; margin-left: 0.75rem">
					{{ updateMessage }}
				</p>
			</div>

			<div
				class="d-flex align-items-center"
				[ngClass]="hideNoUpdateAvailable ? 'slide-down-out' : ''"
				*ngIf="noUpdateAvailable"
			>
				<fa-icon [icon]="faCheck"></fa-icon>
				<p class="mb-0" style="margin-left: 0.75rem">
					{{ locale.noUpdateAvailable }}
				</p>
			</div>

			<div *ngIf="updateError">
				<p class="mb-0">{{ locale.updateError }}</p>
			</div>

			<dav-button
				type="accent"
				(click)="ActivateUpdate()"
				*ngIf="dataService.updateInstalled"
			>
				{{ locale.activateUpdate }}
			</dav-button>
		</div>
	</div>
</div>

<!-- Dual-Screen layout -->
<div class="d-flex flex-row slide-up-in" *ngIf="dualScreenLayout">
	<!-- Left screen -->
	<div
		class="w-50 d-flex flex-column"
		[style.marginRight.px]="dualScreenFoldMargin"
	>
		<dav-header size="large">
			{{ locale.title }}
		</dav-header>

		<div class="setting-container mx-auto mt-4">
			<dav-setting [header]="locale.openLastReadBook">
				<dav-toggle
					[checked]="openLastReadBook"
					(change)="onOpenLastReadBookToggleChange($event.detail.checked)"
				></dav-toggle>
			</dav-setting>
		</div>

		<div class="setting-container mx-auto mt-3">
			<!-- Theme -->
			<dav-setting [header]="locale.theme">
				<dav-dropdown
					[options]="themeDropdownOptions"
					[selectedKey]="selectedTheme"
					(change)="themeDropdownChange($event)"
				></dav-dropdown>
			</dav-setting>
		</div>

		<div class="mx-auto">
			<!-- App information -->
			<div class="mt-5 text-color">
				<div id="link-container">
					<dav-link-button url="https://blog.dav-apps.tech/tag/pocketlib">
						{{ locale.news }}
					</dav-link-button>
					<dav-link-button url="https://github.com/dav-apps/PocketLib">
						{{ locale.github }}
					</dav-link-button>
					<dav-link-button url="https://dav-apps.tech/privacy">
						{{ locale.privacy }}
					</dav-link-button>
				</div>

				<p class="mt-2">
					Version {{ version }}<br />
					Copyright &copy; {{ year }} by dav
				</p>

				<div class="d-flex" *ngIf="searchForUpdates">
					<dav-progress-ring size="16"></dav-progress-ring>

					<p class="mb-0" style="line-height: 20px; margin-left: 0.75rem">
						{{ updateMessage }}
					</p>
				</div>

				<div
					class="d-flex align-items-center"
					[ngClass]="hideNoUpdateAvailable ? 'slide-down-out' : ''"
					*ngIf="noUpdateAvailable"
				>
					<fa-icon [icon]="faCheck"></fa-icon>
					<p class="mb-0" style="margin-left: 0.75rem">
						{{ locale.noUpdateAvailable }}
					</p>
				</div>

				<div *ngIf="updateError">
					<p class="mb-0">{{ locale.updateError }}</p>
				</div>

				<dav-button
					type="accent"
					(click)="ActivateUpdate()"
					*ngIf="dataService.updateInstalled"
				>
					{{ locale.activateUpdate }}
				</dav-button>
			</div>
		</div>
	</div>
</div>
