<div class="container slide-up-in">
	<dav-header size="lg">
		{{ locale.title }}
	</dav-header>

	<div class="settings-container">
		<div class="setting">
			<!-- Open last read book -->
			<dav-setting [header]="locale.openLastReadBook">
				<dav-toggle
					[checked]="openLastReadBook"
					(change)="onOpenLastReadBookToggleChange($event.detail.checked)"
				></dav-toggle>
			</dav-setting>
		</div>

		<div class="setting">
			<dav-setting [header]="locale.preferredLanguages" [expandable]="true">
				<p class="preferred-languages-description">
					{{ locale.preferredLanguagesDescription }}
				</p>

				<div class="preferred-languages-checkboxes-container">
					@for (lang of languageOptions; track lang.key) {
					<dav-checkbox
						[label]="lang.label"
						[checked]="lang.checked"
						[disabled]="lang.disabled"
						(change)="languageCheckboxChange($event, lang)"
					></dav-checkbox>
					}
				</div>
			</dav-setting>
		</div>

		<div class="setting">
			<!-- Theme -->
			<dav-setting [header]="locale.theme">
				<dav-dropdown
					[options]="themeDropdownOptions"
					[selectedKey]="selectedTheme"
					(change)="themeDropdownChange($event)"
				></dav-dropdown>
			</dav-setting>
		</div>
	</div>

	<div class="app-info-container">
		<!-- App information -->
		<div>
			<div class="link-container">
				<dav-link-button url="https://blog.dav-apps.tech/tag/pocketlib">
					{{ locale.news }}
				</dav-link-button>

				<dav-link-button url="https://github.com/dav-apps/PocketLib">
					{{ locale.github }}
				</dav-link-button>

				<dav-link-button url="https://dav-apps.tech/privacy">
					{{ locale.privacy }}
				</dav-link-button>
			</div>

			<p class="version-text">
				Version {{ version }}<br />
				Copyright &copy; {{ year }} by dav
			</p>

			@if (searchForUpdates) {
			<div class="search-update-container">
				<dav-progress-ring size="16"></dav-progress-ring>
				<p>{{ updateMessage }}</p>
			</div>
			} @if (noUpdateAvailable) {
			<div
				class="no-update-container"
				[ngClass]="hideNoUpdateAvailable ? 'slide-down-out' : ''"
			>
				<fa-icon [icon]="faCheck"></fa-icon>
				<p>{{ locale.noUpdateAvailable }}</p>
			</div>
			} @if (updateError) {
			<div class="update-error-container">
				<p>{{ locale.updateError }}</p>
			</div>
			} @if (dataService.updateInstalled) {
			<dav-button
				class="activate-update-button"
				size="sm"
				outline
				(click)="ActivateUpdate()"
			>
				{{ locale.activateUpdate }}
			</dav-button>
			}
		</div>
	</div>
</div>
