<dav-sidenav-container
	[style.height.px]="height - (dataService.smallWindow ? 56 : 64)"
	[style.width.px]="width"
	[style.marginTop.px]="dataService.smallWindow ? 56 : 64">

	<dav-sidenav
		style="z-index: 1"
		[mode]="sideNavHidden ? 'over' : 'side'"
		[open]="dataService.sideNavOpened"
		(dismiss)="dataService.sideNavOpened = false">

		<dav-sidenav-item
			[value]="locale.startPage"
			icon="Home"
			(click)="ShowStartPage()">
		</dav-sidenav-item>

		<dav-sidenav-item
			[value]="locale.categories"
			[icon]="categoriesVisible ? 'ChevronDown' : 'ChevronUp'"
			(click)="categoriesVisible = !categoriesVisible">
		</dav-sidenav-item>

		<div *ngIf="categoriesVisible">
			<dav-sidenav-item
				[value]="category.name"
				(click)="ShowCategory(category.key)"
				*ngFor="let category of dataService.categories">
			</dav-sidenav-item>
		</div>
	</dav-sidenav>

	<div #container style="overflow-y: scroll; width: 100%">
		<router-outlet></router-outlet>
	</div>
</dav-sidenav-container>

<dav-dialog
	[header]="locale.selectLanguagesDialog.header"
	[defaultButtonText]="locale.selectLanguagesDialog.close"
	[visible]="selectLanguagesDialogVisible"
	maxWidth="340"
	(dismiss)="selectLanguagesDialogVisible = false"
	(defaultButtonClick)="selectLanguagesDialogVisible = false">

	<p class="text-color">{{ locale.selectLanguagesDialog.description }}</p>

	<div class="mb-3">
		<pocketlib-languages-selection>
		</pocketlib-languages-selection>
	</div>
</dav-dialog>