<mat-drawer-container autosize style="background-color: inherit; color: inherit" [style.height.px]="dataService.contentHeight">
	<mat-drawer class="shadow-sm theme-background-color-secondary" [mode]="sideNavHidden ? 'over' : 'side'" [(opened)]="dataService.sideNavOpened">
		<mat-nav-list class="d-flex flex-column" style="height: 100%">
			<mat-list-item
				class="mb-2"
				[style.color]="dataService.darkTheme ? 'rgba(255,255,255,.87)' : 'rgba(0,0,0,0,.87)'"
				(click)="ShowStartPage()">
				{{ locale.startPage }}
			</mat-list-item>

			<h3
				[style.color]="dataService.darkTheme ? 'rgba(255,255,255,.54)' : 'rgba(0,0,0,0,.54)'"
				matSubheader>
				{{ locale.categories }}
			</h3>
			<mat-list-item
				[style.color]="dataService.darkTheme ? 'rgba(255,255,255,.87)' : 'rgba(0,0,0,0,.87)'"
				*ngFor="let category of dataService.categories"
				(click)="ShowCategory(category.key)">
				{{ category.name }}
			</mat-list-item>

			<!--
			<div class="mt-auto">
				<div
					class="m-2"
					style="border-top: 1px solid"
					[style.borderTopColor]="dataService.darkTheme ? '#7b7b7b' : '#e0e0e0'"></div>
				
				<mat-list-item
					[style.color]="dataService.darkTheme ? 'rgba(255,255,255,.87)' : 'rgba(0,0,0,0,.87)'"
					*ngIf="dataService.userAuthor == null && !dataService.userIsAdmin"
					(click)="ShowAuthorPage()">
					{{ locale.publish }}
				</mat-list-item>

				<mat-list-item
					[style.color]="dataService.darkTheme ? 'rgba(255,255,255,.87)' : 'rgba(0,0,0,0,.87)'"
					(click)="selectLanguagesDialogVisible = true">
					{{ locale.languages }}
				</mat-list-item>
			</div>
			-->
		</mat-nav-list>
	</mat-drawer>

	<mat-drawer-content [style.overflowY]="dataService.storePageContentHeight > dataService.contentHeight ? 'scroll' : 'hidden'">
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>

<dav-dialog
	[title]="locale.selectLanguagesDialog.title"
	[defaultButtonText]="locale.selectLanguagesDialog.close"
	[isVisible]="selectLanguagesDialogVisible"
	maxWidth="340"
	(dismiss)="selectLanguagesDialogVisible = false"
	(defaultButtonClick)="selectLanguagesDialogVisible = false">

	<p>{{ locale.selectLanguagesDialog.description }}</p>

	<div class="mb-3">
		<pocketlib-languages-selection>
		</pocketlib-languages-selection>
	</div>
</dav-dialog>