<div class="d-flex" style="margin-top: 64px" [style.height.px]="height - 64" [style.width.px]="width">
	<dav-sidenav class="theme-background-color-secondary">
		<dav-sidenav-item
			[value]="locale.startPage"
			icon="Home"
			(click)="ShowStartPage()">
		</dav-sidenav-item>

		<dav-sidenav-item
			[value]="locale.categories"
			[icon]="categoriesVisible ? 'ChevronDown' : 'ChevronUp'"
			(click)="categoriesVisible = !categoriesVisible">
		</dav-sidenav-item>

		<div *ngIf="categoriesVisible">
			<dav-sidenav-item
				[value]="category.name"
				(click)="ShowCategory(category.key)"
				*ngFor="let category of dataService.categories">
			</dav-sidenav-item>
		</div>
	</dav-sidenav>

	<div #container style="overflow-y: scroll; width: 100%">
		<router-outlet></router-outlet>
	</div>
</div>

<dav-dialog
	[header]="locale.selectLanguagesDialog.header"
	[defaultButtonText]="locale.selectLanguagesDialog.close"
	[isVisible]="selectLanguagesDialogVisible"
	maxWidth="340"
	(dismiss)="selectLanguagesDialogVisible = false"
	(defaultButtonClick)="selectLanguagesDialogVisible = false">

	<p class="text-color">{{ locale.selectLanguagesDialog.description }}</p>

	<div class="mb-3">
		<pocketlib-languages-selection>
		</pocketlib-languages-selection>
	</div>
</dav-dialog>