<!-- Card for adding new book if the library is empty -->
<button
	class="card"
	ngxFilePicker
	accept="application/epub+zip"
	(filePick)="AddBookFilePick($event)"
>
	<div class="card-body">
		<fa-icon [icon]="faPlusLight"></fa-icon>
		<p class="card-text">{{ locale.addBook }}</p>
	</div>
</button>

<!-- Card for discovering books in the Store -->
<a class="card" routerLink="/store">
	<div class="card-body">
		<fa-icon [icon]="faShoppingBagLight"></fa-icon>
		<p class="card-text">{{ locale.discoverBooks }}</p>
	</div>
</a>

@if (dataService.userAuthor || dataService.userIsAdmin) {
<!-- Card for going to the author page, if the user is an author -->
<a class="card" routerLink="/author">
	<div class="card-body">
		<fa-icon [icon]="faAddressCardLight"></fa-icon>
		<p class="card-text">{{ locale.goToAuthorPage }}</p>
	</div>
</a>
}
