.container {
	margin: 0 auto;
	max-width: 300px;
	overflow: hidden;
}

.language-dropdown-container {
	margin-bottom: 20px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}
