<div
	class="container"
	[ngClass]="
		section != 2
			? forwardNavigation
				? 'slide-left-out'
				: 'slide-right-out'
			: forwardNavigation
			? 'slide-left-in'
			: 'slide-right-in'
	"
	[style.display]="visibleSection != 2 ? 'none' : null"
>
	<div>
		<div class="language-dropdown-container">
			<pocketlib-language-dropdown
				[language]="language"
				[label]="locale.descriptionSection.languageDropdownLabel"
				(updated)="SetLanguage($event)"
			></pocketlib-language-dropdown>
		</div>

		<dav-textarea
			[value]="description"
			[placeholder]="
				locale.descriptionSection.descriptionTextfieldPlaceholder
			"
			[label]="locale.descriptionSection.description"
			resize="vertical"
			(change)="description = $event.detail.value"
		></dav-textarea>
	</div>

	<div class="button-container">
		<dav-button size="sm" outline (click)="Previous()">
			{{ locale.previous }}
		</dav-button>

		<dav-button size="sm" (click)="Submit()">
			{{ locale.next }}
		</dav-button>
	</div>
</div>
