<div
	class="mx-auto mb-4"
	[ngClass]="section != 2 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
	style="max-width: 300px"
	[style.display]="visibleSection != 2 ? 'none' : null">

	<div class="form-group">
		<label
			class="col-form-label text-color mb-1"
			style="font-size: 15px">
			{{ locale.descriptionSection.description }}
		</label>

		<div class="d-flex mb-3">
			<pocketlib-language-dropdown
				[language]="language"
				(updated)="SetLanguage($event)">
			</pocketlib-language-dropdown>
		</div>

		<dav-textarea
			[value]="description"
			[placeholder]="locale.descriptionSection.descriptionTextfieldPlaceholder"
			[theme]="dataService.darkTheme ? 'dark' : 'light'"
			(change)="description = $event.detail.value">
		</dav-textarea>
	</div>

	<dav-button
		(click)="Previous()">
		{{ locale.previous }}
	</dav-button>

	<dav-button
		style="float: right"
		type="accent"
		(click)="Submit()">
		{{ locale.next }}
	</dav-button>
</div>