<div class="container d-flex flex-column ms-motion-slideUpIn" style="margin-top: 100px; margin-bottom: 100px;">
	<img src="/assets/images/dav-logo.png" width="60" height="60" class="align-self-center" />

	<h2 class="text-center font-weight-light my-4">{{ locale.title }}</h2>

	<div class="d-flex flex-column">
		<!-- Email -->
		<div class="row">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<!-- Error messages -->
            <div class="mb-3" *ngIf="errorMessage.length > 0">
					<fab-message-bar [messageBarType]="messageBarType">{{ errorMessage }}</fab-message-bar>
				</div>

				<fab-text-field 
						id="email-text-field"
						[(value)]="email" 
						[label]="locale.emailTextfieldLabel"
						[placeholder]="locale.emailTextfieldPlaceholder" 
						type="email"
						autocomplete="email"
						(keydown.enter)="Login()">
				</fab-text-field>
			</div>
		</div>
		<br>
		<!-- Password -->
		<div class="row">
			<div class="col-10 col-sm-6 col-md-5 mx-auto">
				<fab-text-field 
						id="password-text-field"
						[(value)]="password" 
						[label]="locale.passwordTextfieldLabel"
						[placeholder]="locale.passwordTextfieldPlaceholder" 
						type="password"
						autocomplete="current-password"
						(keydown.enter)="Login()">
				</fab-text-field>

				<div class="d-flex flex-row">
					<div class="d-flex">
						<fab-primary-button (click)="Login()" [styles]="loginButtonStyles" [disabled]="loginLoading">{{ locale.login }}</fab-primary-button>
						<div style="margin-top: 32px; margin-left: 14px" *ngIf="loginLoading"><fab-spinner [size]="spinnerSize"></fab-spinner></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>