<div class="container ms-motion-slideUpIn">
	<div class="d-flex justify-content-center mb-4">
		<div class="d-flex my-3">
			<button
				type="button" 
				class="btn my-auto text-color theme-background-color-primary theme-border-color-primary icon-button" 
				style="height: 35px; width: 40px; padding: 2px 0px 0px 0px;"
				(click)="GoBack()">
				<fab-icon iconName="Back" [styles]="backButtonIconStyles"></fab-icon>
			</button>
			<h2 class="text-center font-weight-light mt-2 ml-3 text-color">{{ collectionName.name }}</h2>

			<button
				type="button" 
				class="btn ml-3 mt-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
				style="height: 35px; padding: 3px 6px; font-size: 18px"
				*ngIf="authorMode != 0"
				(click)="ShowCollectionNamesDialog()">
				<fab-icon iconName="Edit"></fab-icon>
			</button>
		</div>
	</div>

	<p class="font-weight-light text-center mt-3 text-color"
		style="font-size: 18px; font-family: 'Segoe UI'"
		*ngIf="authorMode == 0 && collection.books.length == 0">
		{{ locale.noBooks }}
	</p>

	<div class="col-12 col-md-6 mx-auto">
		<div
			class="card my-4 cursor book-list-item theme-background-color-secondary"
			[ngClass]="hoveredBookIndex == i ? 'shadow' : 'shadow-sm'"
			style="transition: 0.12s"
			*ngFor="let book of collection.books; let i = index"
			(click)="NavigateToBook(book.uuid)"
			(mouseover)="hoveredBookIndex = i"
			(mouseout)="hoveredBookIndex = -1">

			<div class="row no-gutters">
				<div class="col-4">
					<img [src]="book.coverContent ? book.coverContent : dataService.defaultStoreBookCover" style="width: 100px">
				</div>

				<div class="col-8 my-auto">
					<div class="card-body">
						<h5
							[style.fontSize.px]="bookTitleFontSize"
							class="card-title my-auto text-color">
							{{ book.title }}
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<fab-dialog
	[hidden]="!collectionNamesDialogVisible"
	[dialogContentProps]="collectionNamesDialogContentProps"
	minWidth="350px"
	(onDismiss)="collectionNamesDialogVisible = false">
	
	<!-- Names -->
	<pocketlib-edit-collection-names 
		[collectionNames]="collectionNames" 
		[supportedLanguages]="dataService.supportedLanguages"
		[uuid]="uuid" 
		(update)="UpdateCollectionName($event)"
		(showAddLanguageButton)="showAddLanguageButton = true"
		(hideAddLanguageButton)="showAddLanguageButton = false">
	</pocketlib-edit-collection-names>

	<fab-dialog-footer>
		<div style="float: left" *ngIf="showAddLanguageButton" (click)="AddLanguage()"><fab-default-button>Hinzufügen</fab-default-button></div>
		<fab-default-button (click)="collectionNamesDialogVisible = false">{{ locale.close }}</fab-default-button>
	</fab-dialog-footer>
</fab-dialog>