<div class="container d-flex flex-column ms-motion-slideUpIn" style="width: 250px">
   <div class="d-flex my-3">
		<button type="button" 
					class="btn mt-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
					style="height: 35px; width: 40px; padding: 2px 0px 0px 0px;"
					(click)="GoBack()">
			<fab-icon iconName="Back" [styles]="backButtonIconStyles"></fab-icon>
		</button>
		<h2 class="text-left mt-2 ml-3 text-color">{{ locale.title }}</h2>
	</div>

	<div class="mt-2">
		<label class="col-form-label text-color">{{ locale.name }}</label>
		<fab-text-field [(value)]="name" [placeholder]="locale.name"></fab-text-field>
	</div>

	<div class="mt-2">
		<label class="col-form-label text-color">{{ locale.redirectUrl }}</label>
		<fab-text-field [(value)]="url" [placeholder]="locale.redirectUrl"></fab-text-field>
	</div>
	
	<div class="mt-3">
		<fab-primary-button [styles]="buttonStyles" (click)="Create()" [disabled]="name.length < 2 || url.length < 2">{{ locale.create }}</fab-primary-button>
	</div>
</div>