<div class="container slide-up-in">
	<div class="header-container">
		<dav-header
			backButtonVisible
			[addButtonVisible]="books.length > 0"
			editButtonVisible
			(backButtonClick)="BackButtonClick()"
			(addButtonClick)="NavigateToNewBookPage()"
			(editButtonClick)="ShowNamesDialog()"
		>
			{{ collectionName.name }}
		</dav-header>
	</div>

	@if (books.length == 0) {
	<p class="no-books-text">
		{{ locale.noBooks }}
	</p>
	}

	<div class="book-list-container">
		<dav-list>
			<dav-list-item
				[imageSrc]="book.coverContent"
				[imageBlurhash]="book.coverBlurhash"
				[headline]="book.title"
				[href]="book.link"
				(click)="bookItemClick($event, book)"
				*ngFor="let book of books"
			></dav-list-item>
		</dav-list>
	</div>
</div>

<pocketlib-names-dialog
	#namesDialog
	[uuid]="uuid"
	[names]="collectionNames"
	(update)="UpdateCollectionName($event)"
></pocketlib-names-dialog>
