// Import the Angular Material theme
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

// Theme colors
:root{
   --white: #FFFFFF;
	--black: #000000;
	--light-theme-color-primary: #FFFFFF;
	--light-theme-color-secondary: #FFFFFF;
	--light-theme-color-tertiary: #FFFFFF;
	--light-theme-hover-background-color: #f8f9fa;
	--dark-theme-color-primary: #15202b;
	--dark-theme-color-secondary: #1c2938;
	--dark-theme-color-tertiary: #3d4753;
	--dark-theme-hover-background-color: #232e3c;

	--theme-color-primary: var(--light-theme-color-primary);				// Main background color
	--theme-color-secondary: var(--light-theme-color-secondary);		// Background color for specific elements
	--theme-color-tertiary: var(--light-theme-color-tertiary);			// Background color for dropdown menus
	--hover-background-color: var(--light-theme-hover-background-color);
	--text-color: var(--black);
}

[theme="dark"]{
	--theme-color-primary: var(--dark-theme-color-primary);
	--theme-color-secondary: var(--dark-theme-color-secondary);
	--theme-color-tertiary: var(--dark-theme-color-tertiary);
	--hover-background-color: var(--dark-theme-hover-background-color);
	--text-color: var(--white);
}

body{
	background-color: var(--theme-color-primary);
}

.theme-background-color-primary{
	background-color: var(--theme-color-primary);
}

.theme-background-color-secondary{
	background-color: var(--theme-color-secondary);
}

.theme-background-color-tertiary{
	background-color: var(--theme-color-tertiary);
}

.theme-color-primary{
	color: var(--theme-color-primary);
}

.theme-color-secondary{
	color: var(--theme-color-secondary);
}

.theme-color-tertiary{
	color: var(--theme-color-tertiary);
}

.dropdown-item:hover{
	background-color: var(--hover-background-color);
	color: var(--text-color);
}

.text-color{
	color: var(--text-color);
}

// Customize the bootstrap styles
//$primary: #2e7d32;		// Green 800
//$primary: #283593;		// Indigo 800
//$primary: #00796b;		// Teal 700
//$primary: #bf360c;		// Deep orange 900
$primary: #0d47a1;	// Blue 900

// Import the bootstrap css
@import "../node_modules/bootstrap/scss/bootstrap.scss";