<!-- Normal layout -->
<div
	class="container ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0"
	*ngIf="!dualScreenLayout">

	<div class="mt-3 mb-4">
		<dav-header
			[header]="titleSubmitted ? submittedTitle : locale.title"
			backButtonVisible
			[editButtonVisible]="titleSubmitted"
			(backButtonClick)="GoBack()"
			(editButtonClick)="NavigateToSection(0)">
		</dav-header>
	</div>

	<!-- Error message bar -->
	<div
		class="mb-3 mx-auto"
		style="max-width: 300px"
		*ngIf="errorMessage.length > 0">
		<dav-message-bar type="danger">
			{{ errorMessage }}
		</dav-message-bar>
	</div>

	<!-- Title -->
	<pocketlib-new-book-page-title-section
		[loading]="loading"
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(submit)="SubmitTitle($event)">
	</pocketlib-new-book-page-title-section>

	<!-- Collection -->
	<pocketlib-new-book-page-collection-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		[collections]="collections"
		[selectedCollection]="selectedCollection"
		(select)="SelectCollection($event)"
		(previous)="Previous()"
		(submit)="SubmitCollection($event)">
	</pocketlib-new-book-page-collection-section>

	<!-- Description + Language -->
	<pocketlib-new-book-page-description-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(setLanguage)="SetLanguage($event)"
		(previous)="Previous()"
		(submit)="SubmitDescription($event)">
	</pocketlib-new-book-page-description-section>

	<!-- Categories -->
	<pocketlib-new-book-page-categories-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(previous)="Previous()"
		(submit)="SubmitCategories($event)">
	</pocketlib-new-book-page-categories-section>

	<!-- Price -->
	<pocketlib-new-book-page-price-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(setPrice)="SetPrice($event)"
		(previous)="Previous()"
		(submit)="SubmitPrice()">
	</pocketlib-new-book-page-price-section>

	<!-- ISBN -->
	<pocketlib-new-book-page-isbn-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(setIsbn)="SetIsbn($event)"
		(previous)="Previous()"
		(submit)="SubmitIsbn()">
	</pocketlib-new-book-page-isbn-section>

	<!-- Cover -->
	<pocketlib-new-book-page-cover-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(setCover)="SetCover($event)"
		(previous)="Previous()"
		(submit)="SubmitCover()">
	</pocketlib-new-book-page-cover-section>

	<!-- Book file -->
	<pocketlib-new-book-page-book-file-section
		[section]="section"
		[visibleSection]="visibleSection"
		[forwardNavigation]="forwardNavigation"
		(setBookFile)="SetBookFile($event)"
		(previous)="Previous()"
		(finish)="Finish()">
	</pocketlib-new-book-page-book-file-section>
</div>

<!-- Dual-Screen layout -->
<div
	class="d-flex flex-row ms-motion-slideUpIn"
	*ngIf="dualScreenLayout">

	<!-- Left screen -->
	<div
		class="w-50"
		[style.marginRight.px]="dualScreenFoldMargin">
		
		<div class="mt-3 mb-4 mx-3">
			<dav-header
				[header]="titleSubmitted ? submittedTitle : locale.title"
				backButtonVisible
				[editButtonVisible]="titleSubmitted"
				(backButtonClick)="GoBack()"
				(editButtonClick)="NavigateToSection(0)">
			</dav-header>
		</div>

		<!-- Error message bar -->
		<div
			class="mb-3 mx-auto"
			style="max-width: 300px"
			*ngIf="errorMessage.length > 0">
			<dav-message-bar type="danger">
				{{ errorMessage }}
			</dav-message-bar>
		</div>

		<!-- Title -->
		<pocketlib-new-book-page-title-section
			[loading]="loading"
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			(submit)="SubmitTitle($event)">
		</pocketlib-new-book-page-title-section>

		<!-- Collection -->
		<pocketlib-new-book-page-collection-section
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			[collections]="collections"
			[selectedCollection]="selectedCollection"
			(select)="SelectCollection($event)"
			(previous)="Previous()"
			(submit)="SubmitCollection($event)">
		</pocketlib-new-book-page-collection-section>

		<!-- Description + Language -->
		<pocketlib-new-book-page-description-section
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			(setLanguage)="SetLanguage($event)"
			(previous)="Previous()"
			(submit)="SubmitDescription($event)">
		</pocketlib-new-book-page-description-section>

		<!-- Categories -->
		<pocketlib-new-book-page-categories-section
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			(previous)="Previous()"
			(submit)="SubmitCategories($event)">
		</pocketlib-new-book-page-categories-section>

		<!-- Price -->
		<pocketlib-new-book-page-price-section
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			(setPrice)="SetPrice($event)"
			(previous)="Previous()"
			(submit)="SubmitPrice()">
		</pocketlib-new-book-page-price-section>

		<!-- ISBN -->
		<pocketlib-new-book-page-isbn-section
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			(setIsbn)="SetIsbn($event)"
			(previous)="Previous()"
			(submit)="SubmitIsbn()">
		</pocketlib-new-book-page-isbn-section>

		<!-- Cover -->
		<pocketlib-new-book-page-cover-section
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			(setCover)="SetCover($event)"
			(previous)="Previous()"
			(submit)="SubmitCover()">
		</pocketlib-new-book-page-cover-section>

		<!-- Book file -->
		<pocketlib-new-book-page-book-file-section
			[section]="section"
			[visibleSection]="visibleSection"
			[forwardNavigation]="forwardNavigation"
			(setBookFile)="SetBookFile($event)"
			(previous)="Previous()"
			(finish)="Finish()">
		</pocketlib-new-book-page-book-file-section>
	</div>
</div>

<div
	class="ms-motion-slideUpIn"
	style="background-color: var(--primary); color: white; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 3"
	[style.height.px]="height"
	*ngIf="loadingScreenVisible">

	<div
		class="d-flex justify-content-center"
		[ngClass]="dualScreenLayout ? 'w-50' : 'w-100'"
		[style.height.px]="height">

		<div style="display: inline-block" class="m-auto text-center">
			<img src="/assets/images/pocketlib-logo.png" width="150" style="margin-bottom: 20px">
	
			<mat-progress-spinner
				class="mx-auto"
				mode="indeterminate"
				diameter="30">
			</mat-progress-spinner>
	
			<p class="font-weight-light"
				style="margin-top: 30px; font-size: 18px; color: white">
				{{ loadingScreenMessage }}
			</p>
		</div>
	</div>
</div>

<dav-dialog
	[header]="locale.leavePageDialog.header"
	[primaryButtonText]="locale.leavePageDialog.leave"
	[defaultButtonText]="locale.leavePageDialog.cancel"
	[visible]="leavePageDialogVisible"
	maxWidth="340"
	(dismiss)="LeavePageDialogCancel()"
	(primaryButtonClick)="LeavePageDialogLeave()"
	(defaultButtonClick)="LeavePageDialogCancel()">

	<p class="text-color">{{ locale.leavePageDialog.description }}</p>
</dav-dialog>