<div class="container ms-motion-slideUpIn" *ngIf="!loadingScreenVisible">
	<div class="d-flex justify-content-center">
		<div class="d-flex my-3">
			<button
				type="button"
				class="btn my-auto text-color theme-background-color-primary theme-border-color-primary icon-button"
				style="height: 35px; width: 40px; padding: 2px 0px 0px 0px"
				(click)="ShowGoBackDialog()">
				<fab-icon iconName="Back" [styles]="backButtonIconStyles"></fab-icon>
			</button>
			<h2 class="text-center font-weight-light mt-2 ml-3 text-color">{{ titleSubmitted ? submittedTitle : 'Buch erstellen' }}</h2>

			<button
				type="button"
				class="btn ml-3 mt-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
				style="height: 35px; padding: 3px 6px; font-size: 18px"
				*ngIf="titleSubmitted"
				(click)="NavigateToSection(0)">
				<fab-icon iconName="Edit"></fab-icon>
			</button>
		</div>
	</div>

	<!-- Title -->
	<div
		class="mx-auto"
		[ngClass]="section != 0 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
		style="max-width: 300px"
		[style.display]="visibleSection != 0 ? 'none' : null">
		<div class="form-group">
			<label
				class="col-form-label text-color mb-1"
				style="font-size: 15px">
				Gib den Titel deines Buches ein.
			</label>

			<fab-text-field
				[(value)]="title"
				[placeholder]="titleSamples[sampleDataIndex]"
				(keydown.enter)="SubmitTitle()">
			</fab-text-field>
		</div>

		<div class="d-flex" style="float: right">
			<div
				style="margin-top: 8px; margin-right: 14px"
				*ngIf="loading">
				<fab-spinner [size]="spinnerSize"></fab-spinner>
			</div>

			<fab-primary-button
				[disabled]="title.length < 3 || loading"
				(onClick)="SubmitTitle()">
				Weiter
			</fab-primary-button>
		</div>
	</div>

	<!-- Collection -->
	<div
		class="mx-auto"
		[ngClass]="section != 1 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
		style="max-width: 500px"
		[style.display]="visibleSection != 1 ? 'none' : null">

		<div>
			<p class="text-color">Handelt es sich bei diesem Buch um eine andere Version, eine neue Auflage oder eine Übersetzung eines anderen Buches, das du bereits auf PocketLib veröffentlicht hast?</p>

			<div class="list-group mb-3">
				<p
					class="list-group-item mb-3 cursor text-center text-color theme-background-color-secondary"
					[ngClass]="selectedCollection == -1 ? 'shadow' : ''"
					style="transition: 0.12s"
					(click)="SelectCollection(-1)">
					Neue Veröffentlichung
				</p>

				<div
					class="card my-3 cursor theme-background-color-secondary"
					[ngClass]="selectedCollection == i ? 'shadow' : ''"
					style="transition: 0.12s"
					*ngFor="let collection of collections; let i = index"
					(click)="SelectCollection(i)">
					<div class="row no-gutters">
						<div class="col-4">
							<img [src]="collection.cover ? collection.coverContent : dataService.defaultStoreBookCover" style="width: 100px">
						</div>

						<div class="col-8 my-auto">
							<div class="card-body">
								<h5
									class="card-title my-auto text-color"
									style="font-size: 18px">
									{{ collection.name }}
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mb-4" style="float: left">
			<fab-default-button
				(onClick)="Previous()">
				Zurück
			</fab-default-button>
		</div>

		<div class="mb-4" style="float: right">
			<fab-primary-button
				[disabled]="selectedCollection == -2"
				(onClick)="SubmitCollection()">
				Weiter
			</fab-primary-button>
		</div>
	</div>

	<!-- Description + Language -->
	<div
		class="mx-auto"
		[ngClass]="section != 2 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
		style="max-width: 300px"
		[style.display]="visibleSection != 2 ? 'none' : null">

		<div class="form-group">
			<label
				class="col-form-label text-color mb-1"
				style="font-size: 15px">
				Gib eine Beschreibung an.
			</label>

			<div class="d-flex mb-2">
				<pocketlib-language-dropdown
					[language]="language"
					(updated)="SetLanguage($event)">
				</pocketlib-language-dropdown>
			</div>

			<fab-text-field
				[(value)]="description"
				[placeholder]="descriptionSamples[sampleDataIndex]"
				multiline="true"
				autoAdjustHeight="true"
				spellcheck="true">
			</fab-text-field>
		</div>

		<div style="float: left">
			<fab-default-button
				(onClick)="Previous()">
				Zurück
			</fab-default-button>
		</div>

		<div style="float: right">
			<fab-primary-button
				(onClick)="SubmitDescription()">
				Weiter
			</fab-primary-button>
		</div>
	</div>

	<!-- Categories -->
	<div
		class="mx-auto"
		[ngClass]="section != 3 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
		style="max-width: 300px"
		[style.display]="visibleSection != 3 ? 'none' : null">

		<div class="mb-3">
			<p class="text-color">Wähle die passenden Kategorien für dein Buch (maximal 2).</p>

			<pocketlib-categories-selection #categoriesSelection></pocketlib-categories-selection>
		</div>

		<div style="float: left">
			<fab-default-button
				(onClick)="Previous()">
				Zurück
			</fab-default-button>
		</div>

		<div style="float: right">
			<fab-primary-button
				(onClick)="SubmitCategories()">
				Weiter
			</fab-primary-button>
		</div>
	</div>

	<!-- Price -->
	<div
		class="mx-auto"
		[ngClass]="section != 4 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
		style="max-width: 300px"
		[style.display]="visibleSection != 4 ? 'none' : null">

		<div class="mb-4">
			<p class="text-color">Gib den Preis für dein Buch an.</p>

			<pocketlib-edit-price
				#editPrice
				[canEdit]="true"
				(update)="SetPrice($event)">
			</pocketlib-edit-price>
		</div>

		<div style="float: left">
			<fab-default-button
				(onClick)="Previous()">
				Zurück
			</fab-default-button>
		</div>

		<div class="d-flex" style="float: right">
			<div
				style="margin-top: 8px; margin-right: 14px"
				*ngIf="loading">
				<fab-spinner [size]="spinnerSize"></fab-spinner>
			</div>

			<fab-primary-button
				(onClick)="SubmitPrice()">
				Weiter
			</fab-primary-button>
		</div>
	</div>

	<!-- Cover -->
	<div
		class="mx-auto"
		[ngClass]="section != 5 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
		style="max-width: 300px"
		[style.display]="visibleSection != 5 ? 'none' : null">

		<div class="mb-4">
			<p class="text-color">Lade ein Cover für dein Buch hoch.</p>

			<div class="my-3" *ngIf="coverContent">
				<img [src]="coverContentBase64" height="200">
			</div>

			<fab-primary-button
				ngxFilePicker
				accept="image/png,image/jpeg"
				(filePick)="CoverUpload($event)">
				Cover hochladen
			</fab-primary-button>
		</div>

		<div style="float: left">
			<fab-default-button
				(onClick)="Previous()">
				Zurück
			</fab-default-button>
		</div>

		<div style="float: right">
			<fab-primary-button
				(onClick)="SubmitCover()">
				Weiter
			</fab-primary-button>
		</div>
	</div>

	<!-- Book file -->
	<div
		class="mx-auto"
		[ngClass]="section != 6 ? (forwardNavigation ? 'ms-motion-slideLeftOut' : 'ms-motion-slideRightOut') : (forwardNavigation ? 'ms-motion-slideLeftIn' : 'ms-motion-slideRightIn')"
		style="max-width: 300px"
		[style.display]="visibleSection != 6 ? 'none' : null">

		<div class="mb-4">
			<p class="text-color">Lade die Buch-Datei hoch.</p>

			<p class="font-italic"
				*ngIf="bookFileName.length > 0">
				{{ bookFileName }}
			</p>

			<fab-primary-button
				ngxFilePicker
				accept="application/epub+zip,application/pdf"
				(filePick)="BookFileUpload($event)">
				Buch-Datei hochladen
			</fab-primary-button>
		</div>

		<div style="float: left">
			<fab-default-button
				(onClick)="Previous()">
				Zurück
			</fab-default-button>
		</div>

		<div style="float: right">
			<fab-primary-button
				(onClick)="Finish()">
				Fertigstellen
			</fab-primary-button>
		</div>
	</div>
</div>

<div
	id="loading-background"
	class="d-flex justify-content-center ms-motion-slideUpIn"
	style="background-color: var(--primary); color: white"
	[style.height.px]="height"
	*ngIf="loadingScreenVisible">
	<div style="display: inline-block" class="m-auto text-center">
		<img src="/assets/images/pocketlib-logo.png" width="150" style="margin-bottom: 20px" />

		<mat-progress-spinner 
				class="mx-auto"
				mode="indeterminate" 
				diameter="30">
		</mat-progress-spinner>

		<p class="font-weight-light"
			style="margin-top: 30px; font-size: 18px; color: white">
			{{ loadingScreenMessage }}
		</p>
	</div>
</div>

<fab-dialog
	[hidden]="!goBackDialogVisible"
	[dialogContentProps]="goBackDialogContentProps"
	(onDismiss)="goBackDialogVisible = false">

	<p>Bist du dir sicher? Die bisher eingegebenen Daten gehen verloren.</p>

	<fab-dialog-footer>
		<fab-default-button (onClick)="goBackDialogVisible = false">Abbrechen</fab-default-button>
		<fab-primary-button [styles]="dialogPrimaryButtonStyles" (onClick)="GoBack()">Verlassen</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>