.container {
	padding: 12px;
}

.header-container {
	margin-bottom: 32px;
}

.error-message-container {
	min-width: 200px;
	max-width: 300px;
	margin: 0 auto 16px;
}

.leave-dialog-description {
	color: var(--dav-color-on-surface);
}
