.content-container {
	display: flex;
	min-height: 253px;
}

.progress-ring-container {
	display: flex;
	align-items: center;
}

.series-list-container {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}