<div class="mt-3">
	<h4 class="ms-3 fw-light text-color">{{ locale.newSeries }}</h4>

	<div
		class="d-flex horizontal-store-list"
		style="height: 250px; overflow-x: scroll; overflow-y: hidden"
	>
		<div
			class="d-flex ms-5 mb-3 ps-4"
			style="width: max-content; height: 200px"
			*ngIf="loading"
		>
			<div class="mx-auto my-auto">
				<dav-progress-ring style="width: 32px; height: 32px; margin: 0">
				</dav-progress-ring>
			</div>
		</div>

		<div
			class="d-flex my-3 ps-4 slide-up-in"
			style="width: max-content"
			*ngIf="!loading"
		>
			<pocketlib-horizontal-series-list-item
				[series]="s"
				*ngFor="let s of series"
			></pocketlib-horizontal-series-list-item>
		</div>
	</div>
</div>
