.container > div {
	display: flex;
	justify-content: center;
}

.left-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem 0;
	transition: 300ms all;
}

.empty-library-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.headline {
	color: var(--dav-color-on-surface);
	text-align: center;
	font-weight: 300;
	margin: 36px 0;
}

.empty-library-actions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.empty-library-recommendations-container {
	width: 100%;
	max-width: 1208px;
	margin: 80px auto 0;
}

.recommentations-headline {
	color: var(--dav-color-on-surface);
	text-align: center;
	font-weight: 300;
	font-size: 28px;
}

.discover-more-card-container {
	display: flex;
	justify-content: center;
	margin: 48px;
}

.quick-action-buttons-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.large-book-list-container {
	display: flex;
	justify-content: center;
}

.small-book-list-container {
	display: flex;
}

.right-content-container {
	position: absolute;
	width: 100%;
	padding-top: 92px;
	padding-bottom: 24px;
	transition: 300ms all;
	transform: translateX(3000px);
	overflow-y: auto;
	box-sizing: border-box;
}

.right-content-container > div {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 576px) {
	.right-content-container {
		padding-bottom: 104px;
	}
}

.search-textfield {
	width: 100%;
	margin-left: 1rem;
}

.no-books-text {
	color: var(--dav-color-on-surface);
	text-align: center;
	font-weight: 300;
	font-style: italic;
	margin-top: 3rem;
	font-size: 1.25rem;
}

.all-books-list {
	margin-top: 1rem;
}

dav-icon-card.quick-action-button {
	margin: 10px 18px;
}

.all-books-button-container {
	display: flex;
	margin-top: 1rem;
}

.right-content-inner-container {
	margin: 0 auto;
	max-width: 700px;
}

.search-container {
	display: flex;
	align-items: center;
}

.dual-screen-container {
	display: flex;
	flex-direction: row;
}

.dual-screen-container-left {
	width: 50%;
}

.dual-screen-container-left > div {
	margin: 0 auto;
	padding: 0 3rem;
}

.dual-screen-container-right {
	width: 50%;
}

.dual-screen-container-right > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 1rem;
	overflow: scroll;
}
