<!-- Normal layout -->
<div
	class="container ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0"
	*ngIf="!dualScreenLayout">

	<h1 class="text-center font-weight-light mt-3 text-color">{{ locale.title }}</h1>

   <div class="my-3" *ngIf="!loading">
		<div
			class="d-flex"
			*ngIf="dataService.books.length == 0">

			<div class="mx-auto" style="width: 100%; height: 100%; max-width: 600px">
				<p class="font-weight-light text-center text-color mt-2 mb-3"
					style="font-size: 19px">
					{{ locale.libraryEmpty }}
				</p>

				<pocketlib-library-page-cards
					(discoverBooksClick)="NavigateToStorePage()"
					(addBookFilePick)="AddBookFilePick($event)"
					(goToAuthorPageClick)="NavigateToAuthorPage()">
				</pocketlib-library-page-cards>
			</div>
		</div>

		<div *ngIf="dataService.books.length > 0">
			<div class="d-flex justify-content-center my-3">
				<div
					class="card cursor mx-3 theme-background-color-secondary"
					style="width: 140px; transition: 0.12s"
					[ngClass]="addBookHover ? 'shadow' : 'shadow-sm'"
					ngxFilePicker
					accept="application/epub+zip,application/pdf"
					(filePick)="AddBookFilePick($event)"
					(mouseover)="addBookHover = true"
					(mouseout)="addBookHover = false"
					*ngIf="dataService.books.length > 0">

					<div class="card-body d-flex justify-content-center align-items-center">
						<i class="ms-Icon ms-Icon--Add text-color"
							aria-hidden="true"
							style="font-size: 22px">
						</i>
					</div>
				</div>

				<div
					class="card cursor mx-3 theme-background-color-secondary"
					style="width: 140px; transition: 0.12s"
					[ngClass]="discoverBooksHover ? 'shadow' : 'shadow-sm'"
					(mouseover)="discoverBooksHover = true"
					(mouseout)="discoverBooksHover = false"
					(click)="NavigateToStorePage()">

					<div class="card-body d-flex justify-content-center align-items-center">
						<i class="ms-Icon ms-Icon--Shop text-color"
							aria-hidden="true"
							style="font-size: 22px">
						</i>
					</div>
				</div>

				<div
					class="card cursor mx-3 theme-background-color-secondary"
					style="width: 140px; transition: 0.12s"
					[ngClass]="goToAuthorPageHover ? 'shadow' : 'shadow-sm'"
					*ngIf="dataService.userAuthor || dataService.userIsAdmin"
					(mouseover)="goToAuthorPageHover = true"
					(mouseout)="goToAuthorPageHover = false"
					(click)="NavigateToAuthorPage()">

					<div class="card-body d-flex justify-content-center align-items-center">
						<fa-icon [icon]="faAddressCard" class="text-color" style="font-size: 22px"></fa-icon>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<pocketlib-library-page-book-card
					*ngFor="let book of dataService.books; let i = index"
					[book]="book"
					(click)="ShowBook(book)"
					(contextMenu)="BookContextMenu($event, book)">
				</pocketlib-library-page-book-card>
			</div>
		</div>
	</div>

	<div style="margin-top: 36px" *ngIf="loading">
		<fab-spinner [size]="spinnerSize"></fab-spinner>
	</div>
</div>

<!-- Dual-Screen layout -->
<div
	class="d-flex flex-row ms-motion-slideUpIn"
	*ngIf="dualScreenLayout">

	<!-- Left screen -->
	<div
		class="w-50"
		[style.marginRight.px]="dualScreenFoldMargin">

		<h1 class="text-center font-weight-light mt-3 text-color">{{ locale.title }}</h1>

		<div class="mx-auto px-5">
			<pocketlib-library-page-cards
				(discoverBooksClick)="NavigateToStorePage()"
				(addBookFilePick)="AddBookFilePick($event)"
				(goToAuthorPageClick)="NavigateToAuthorPage()">
			</pocketlib-library-page-cards>
		</div>
	</div>

	<!-- Right screen -->
	<div
		class="w-50"
		[style.marginLeft.px]="dualScreenFoldMargin">

		<div
			class="row justify-content-center pt-3"
			style="overflow: scroll"
			[style.height.px]="dataService.contentHeight">

			<pocketlib-library-page-book-card
				*ngFor="let book of dataService.books"
				[book]="book"
				(click)="ShowBook(book)"
				(contextMenu)="BookContextMenu($event, book)">
			</pocketlib-library-page-book-card>
		</div>
	</div>
</div>

<div
	#contextMenu 
	class="dropdown-menu shadow-sm ms-motion-slideDownIn theme-background-color-tertiary" 
	[ngClass]="contextMenuVisible ? 'show' : ''"
	style="position: absolute;" 
	[style.left.px]="contextMenuPositionX" 
	[style.top.px]="contextMenuPositionY">

	<!-- Export -->
	<div
		class="dropdown-item d-flex cursor"
		style="padding-left: 10px; padding-right: 10px"
		*ngIf="showExportBookOption"
		(click)="DownloadBook()">

		<i class="ms-Icon ms-Icon--Export text-color"
			aria-hidden="true"
			style="font-size: 16px; margin-right: 10px; margin-top: 2px">
		</i>

		<span
			class="text-color"
			style="margin-top: 3px; margin-bottom: 2px">
			{{ locale.bookContextMenuExport }}
		</span>
	</div>

	<div
		class="mx-2 my-1"
		style="border-top: 1px solid #8e8e8e"
		*ngIf="showExportBookOption">
	</div>

	<!-- Rename -->
	<div
		class="dropdown-item d-flex cursor"
		style="padding-left: 10px; padding-right: 10px"
		*ngIf="showRenameBookOption"
		(click)="ShowRenameBookDialog()">

		<i class="ms-Icon ms-Icon--Edit text-color"
			aria-hidden="true"
			style="font-size: 16px; margin-right: 10px; margin-top: 2px">
		</i>

		<span
			class="text-color"
			style="margin-top: 3px; margin-bottom: 2px">
			{{ locale.bookContextMenuRename }}
		</span>
	</div>

	<!-- Remove -->
	<div
		class="dropdown-item d-flex cursor"
		style="padding-left: 10px; padding-right: 10px"
		(click)="ShowRemoveBookDialog()">

		<i class="ms-Icon ms-Icon--Delete text-color"
			aria-hidden="true"
			style="font-size: 16px; margin-right: 10px; margin-top: 2px">
		</i>

		<span
			class="text-color"
			style="margin-top: 3px; margin-bottom: 2px">
			{{ locale.bookContextMenuRemove }}
		</span>
	</div>
</div>

<fab-dialog
	[hidden]="!renameBookDialogVisible"
	[dialogContentProps]="renameBookDialogContentProps"
	(onDismiss)="renameBookDialogVisible = false">

	<!-- Title -->
	<div class="mb-4">
		<fab-text-field
			[(value)]="renameBookDialogTitle"
			[label]="locale.renameBookDialog.titleTextfieldLabel"
			[placeholder]="locale.renameBookDialog.titleTextfieldPlaceholder"
			[errorMessage]="renameBookDialogError"
			(onChange)="renameBookDialogError = ''"
			(keydown.enter)="RenameBook()">
		</fab-text-field>
	</div>

	<fab-dialog-footer>
		<fab-default-button (onClick)="renameBookDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="dialogPrimaryButtonStyles" (onClick)="RenameBook()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>

<fab-dialog
	[hidden]="!removeBookDialogVisible"
	[dialogContentProps]="removeBookDialogContentProps"
	(onDismiss)="removeBookDialogVisible = false">

	<p>{{ locale.removeBookDialog.description }}</p>

	<fab-dialog-footer>
		<fab-default-button (onClick)="removeBookDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="removeBookDialogPrimaryButtonStyles" (onClick)="RemoveBook()">{{ locale.remove }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>

<fab-dialog
	[hidden]="!loginToAccessBookDialogVisible"
	[dialogContentProps]="loginToAccessBookDialogContentProps"
	(onDismiss)="loginToAccessBookDialogVisible = false">

	<p>{{ locale.loginToAccessBookDialog.description }}</p>

	<fab-dialog-footer>
		<fab-primary-button (onClick)="loginToAccessBookDialogVisible = false">{{ locale.ok }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>

<fab-dialog
	[hidden]="!addBookErrorDialogVisible"
	[dialogContentProps]="addBookErrorDialogContentProps"
	(onDismiss)="addBookErrorDialogVisible = false">

	<p>{{ locale.addBookErrorDialog.description }}</p>

	<fab-dialog-footer>
		<fab-primary-button (onClick)="addBookErrorDialogVisible = false">{{ locale.ok }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>