<div class="container ms-motion-slideUpIn">
	<h1 class="text-center font-weight-light mt-3 text-color">{{ locale.title }}</h1>

   <div class="mt-3">
		<div
			class="d-flex"
			*ngIf="dataService.books.length == 0">

			<div class="mx-auto" style="width: 100%; height: 100%; max-width: 600px">
				<p class="font-weight-light text-center text-color mt-2 mb-3"
					style="font-size: 19px">
					{{ locale.libraryEmpty }}
				</p>

				<!-- Card for discovering books in the Store -->
				<div
					class="card cursor theme-background-color-secondary"
					style="width: 100%; transition: 0.12s; margin-top: 28px; margin-bottom: 28px" 
					[ngClass]="discoverBooksHover ? 'shadow' : 'shadow-sm'"
					(mouseover)="discoverBooksHover = true"
					(mouseout)="discoverBooksHover = false"
					(click)="NavigateToStorePage()">

					<div class="card-body d-flex">
						<div class="mx-auto text-center">
							<i class="ms-Icon ms-Icon--Shop text-color"
								aria-hidden="true"
								style="font-size: 28px">
							</i>

							<p class="mb-0 text-color" style="font-size: 18px; margin-top: 12px">{{ locale.discoverBooks }}</p>
						</div>
					</div>
				</div>

				<!-- Card for adding new book if the library is empty -->
				<div
					class="card cursor theme-background-color-secondary"
					style="width: 100%; transition: 0.12s; margin-bottom: 28px"
					[ngClass]="addBookHover ? 'shadow' : 'shadow-sm'"
					ngxFilePicker
					accept="application/epub+zip,application/pdf"
					(filePick)="filePick($event)"
					(mouseover)="addBookHover = true"
					(mouseout)="addBookHover = false">
					
					<div class="card-body d-flex">
						<div class="mx-auto text-center">
							<i class="ms-Icon ms-Icon--Add text-color"
								aria-hidden="true"
								style="font-size: 28px">
							</i>

							<p class="mb-0 text-color" style="font-size: 18px; margin-top: 12px">{{ locale.addFile }}</p>
						</div>
					</div>
				</div>

				<!-- Card for going to the author page, if the user is an author -->
				<div
					class="card cursor theme-background-color-secondary"
					style="width: 100%; transition: 0.12s"
					[ngClass]="goToAuthorPageHover ? 'shadow' : 'shadow-sm'"
					*ngIf="dataService.userAuthor || dataService.adminAuthors.length > 0"
					(mouseover)="goToAuthorPageHover = true"
					(mouseout)="goToAuthorPageHover = false"
					(click)="NavigateToAuthorPage()">

					<div class="card-body d-flex">
						<div class="mx-auto text-center">
							<i class="ms-Icon ms-Icon--EditContact text-color"
								aria-hidden="true"
								style="font-size: 28px">
							</i>

							<p class="mb-0 text-color" style="font-size: 18px; margin-top: 12px">{{ locale.goToAuthorPage }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<!-- Card for adding new book -->
			<div
				class="card cursor m-2 theme-background-color-secondary"
				style="width: 180px; transition: 0.12s" 
				[ngClass]="addBookHover ? 'shadow' : 'shadow-sm'"
				ngxFilePicker
				accept="application/epub+zip,application/pdf"
				(filePick)="filePick($event)"
				(mouseover)="addBookHover = true"
				(mouseout)="addBookHover = false"
				*ngIf="dataService.books.length > 0">
				
				<div class="card-body d-flex justify-content-center align-items-center">
					<i class="ms-Icon ms-Icon--Add text-color"
						aria-hidden="true"
						style="font-size: 22px"
						[@addBookHover]="addBookHover">
					</i>
				</div>
			</div>

			<div
				class="card m-2 cursor theme-background-color-secondary"
				[ngClass]="hoveredBookIndex == i ? 'shadow' : 'shadow-sm'"
				style="width: 180px; transition: 0.12s" 
				*ngFor="let book of dataService.books; let i = index" 
				(click)="ShowBook(book)" 
				(contextmenu)="onContextMenu($event, book)"
				(mouseover)="hoveredBookIndex = i"
				(mouseout)="hoveredBookIndex = -1">

				<img
					[src]="book.cover ? book.cover : dataService.defaultStoreBookCover"
					class="card-img-top"
					style="width: 100%; height: 270px; object-fit: cover;">

				<div class="card-body">
					<p class="card-text text-center text-color"
						style="max-width: 150px; font-size: 15px">
						{{ book.title }}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	#contextMenu 
	class="dropdown-menu shadow-sm ms-motion-slideDownIn theme-background-color-tertiary" 
	[ngClass]="contextMenuVisible ? 'show' : ''"
	style="position: absolute;" 
	[style.left.px]="contextMenuPositionX" 
	[style.top.px]="contextMenuPositionY">

	<!-- Export -->
	<div
		class="dropdown-item d-flex cursor"
		style="padding-left: 10px; padding-right: 10px"
		*ngIf="showExportBookOption"
		(click)="DownloadBook()">

		<i class="ms-Icon ms-Icon--Export text-color"
			aria-hidden="true"
			style="font-size: 16px; margin-right: 10px; margin-top: 2px">
		</i>

		<span
			class="text-color"
			style="margin-top: 3px; margin-bottom: 2px">
			{{ locale.bookContextMenuExport }}
		</span>
	</div>

	<div
		class="mx-2 my-1"
		style="border-top: 1px solid #8e8e8e"
		*ngIf="showExportBookOption">
	</div>

	<!-- Rename -->
	<div
		class="dropdown-item d-flex cursor"
		style="padding-left: 10px; padding-right: 10px"
		*ngIf="showRenameBookOption"
		(click)="ShowRenameBookDialog()">

		<i class="ms-Icon ms-Icon--Edit text-color"
			aria-hidden="true"
			style="font-size: 16px; margin-right: 10px; margin-top: 2px">
		</i>

		<span
			class="text-color"
			style="margin-top: 3px; margin-bottom: 2px">
			{{ locale.bookContextMenuRename }}
		</span>
	</div>
	
	<!-- Remove -->
	<div
		class="dropdown-item d-flex cursor"
		style="padding-left: 10px; padding-right: 10px"
		(click)="ShowRemoveBookDialog()">

		<i class="ms-Icon ms-Icon--Delete text-color"
			aria-hidden="true"
			style="font-size: 16px; margin-right: 10px; margin-top: 2px">
		</i>

		<span
			class="text-color"
			style="margin-top: 3px; margin-bottom: 2px">
			{{ locale.bookContextMenuRemove }}
		</span>
	</div>
</div>

<fab-dialog
	[hidden]="!renameBookDialogVisible"
	[dialogContentProps]="renameBookDialogContentProps"
	(onDismiss)="renameBookDialogVisible = false">

	<!-- Title -->
	<div class="mb-4">
		<fab-text-field
			[(value)]="renameBookDialogTitle"
			[label]="locale.renameBookDialog.titleTextfieldLabel"
			[placeholder]="locale.renameBookDialog.titleTextfieldPlaceholder"
			[errorMessage]="renameBookDialogError"
			(onChange)="renameBookDialogError = ''"
			(keydown.enter)="RenameBook()">
		</fab-text-field>
	</div>

	<fab-dialog-footer>
		<fab-default-button (onClick)="renameBookDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="dialogPrimaryButtonStyles" (onClick)="RenameBook()">{{ locale.save }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>

<fab-dialog
	[hidden]="!removeBookDialogVisible"
	[dialogContentProps]="removeBookDialogContentProps"
	(onDismiss)="removeBookDialogVisible = false">

	<p>{{ locale.removeBookDialog.description }}</p>

	<fab-dialog-footer>
		<fab-default-button (onClick)="removeBookDialogVisible = false">{{ locale.cancel }}</fab-default-button>
		<fab-primary-button [styles]="removeBookDialogPrimaryButtonStyles" (onClick)="RemoveBook()">{{ locale.remove }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>

<fab-dialog
	[hidden]="!loginToAccessBookDialogVisible"
	[dialogContentProps]="loginToAccessBookDialogContentProps"
	(onDismiss)="loginToAccessBookDialogVisible = false">

	<p>{{ locale.loginToAccessBookDialog.description }}</p>

	<fab-dialog-footer>
		<fab-primary-button (onClick)="loginToAccessBookDialogVisible = false">{{ locale.loginToAccessBookDialog.ok }}</fab-primary-button>
	</fab-dialog-footer>
</fab-dialog>