<!-- Normal layout -->
<div
	class="container d-flex flex-column ms-motion-slideUpIn"
	[style.paddingBottom.px]="dataService.bottomToolbarVisible ? 56 : 0"
	*ngIf="!dualScreenLayout">

	<h2 class="text-center font-weight-light mt-3 text-color">{{ locale.title }}</h2>

	<div class="mt-3 mx-auto" *ngIf="generalError.length > 0" style="width: 300px">
		<dav-message-bar>
			{{ generalError }}
		</dav-message-bar>
	</div>

	<div class="mt-3 mx-auto" style="width: 300px">
		<form>
			<!-- First name -->
			<div class="mb-3">
				<fluent-text-field
					style="width: 100%"
					[value]="firstName"
					placeholder="Monty"
					(input)="firstName = $event.target.value; firstNameError = ''">
					{{ locale.firstNameTextfieldLabel }}
				</fluent-text-field>

				<p class="text-field-error" *ngIf="firstNameError.length > 0">
					{{ firstNameError }}
				</p>
			</div>

			<!-- Last name -->
			<div class="mb-3">
				<fluent-text-field	
					style="width: 100%"
					[value]="lastName"
					placeholder="Kensicle"
					(input)="lastName = $event.target.value; lastNameError = ''"
					(keydown.enter)="Submit()">
					{{ locale.lastNameTextfieldLabel }}
				</fluent-text-field>

				<p class="text-field-error" *ngIf="lastNameError.length > 0">
					{{ lastNameError }}
				</p>
			</div>

			<!-- Terms of Service -->
			<p class="text-color my-0" [innerHtml]="terms"></p>

			<div class="d-flex mt-3">
				<dav-button
					type="accent"
					[disabled]="loading"
					(click)="Submit()">
					{{ locale.create }}
				</dav-button>

				<fluent-progress-ring
					style="margin: 8px 0px 0px 14px; width: 16px; height: 16px"
					*ngIf="loading">
				</fluent-progress-ring>
			</div>
		</form>
	</div>
</div>

<!-- Dual-Screen layout -->
<div
	class="d-flex flex-row ms-motion-slideUpIn"
	*ngIf="dualScreenLayout">

	<!-- Left screen -->
	<div
		class="w-50"
		[style.marginRight.px]="dualScreenFoldMargin">

		<h2 class="text-center font-weight-light mt-3 text-color">{{ locale.title }}</h2>

		<div class="mt-3 mx-auto" *ngIf="generalError.length > 0" style="width: 300px">
			<dav-message-bar>
				{{ generalError }}
			</dav-message-bar>
		</div>

		<div class="mt-3 mx-auto" style="width: 300px">
			<form>
				<!-- First name -->
				<div class="mb-3">
					<fluent-text-field
						style="width: 100%"
						[value]="firstName"
						placeholder="Monty"
						(input)="firstName = $event.target.value; firstNameError = ''">
						{{ locale.firstNameTextfieldLabel }}
					</fluent-text-field>
	
					<p class="text-field-error" *ngIf="firstNameError.length > 0">
						{{ firstNameError }}
					</p>
				</div>
	
				<!-- Last name -->
				<div class="mb-3">
					<fluent-text-field	
						style="width: 100%"
						[value]="lastName"
						placeholder="Kensicle"
						(input)="lastName = $event.target.value; lastNameError = ''"
						(keydown.enter)="Submit()">
						{{ locale.lastNameTextfieldLabel }}
					</fluent-text-field>
	
					<p class="text-field-error" *ngIf="lastNameError.length > 0">
						{{ lastNameError }}
					</p>
				</div>
	
				<!-- Terms of Service -->
				<p class="text-color my-0" [innerHtml]="terms"></p>
	
				<div class="d-flex mt-3">
					<dav-button
						type="accent"
						[disabled]="loading"
						(click)="Submit()">
						{{ locale.create }}
					</dav-button>

					<fluent-progress-ring
						style="margin: 8px 0px 0px 14px; width: 16px; height: 16px"
						*ngIf="loading">
					</fluent-progress-ring>
				</div>
			</form>
		</div>
	</div>
</div>