<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="locale.save"
	[defaultButtonText]="locale.cancel"
	[visible]="visible"
	[loading]="loading"
	(dismiss)="visible = false"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="visible = false"
>
	<form>
		<!-- Name -->
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="name"
				[label]="locale.nameTextfieldLabel"
				[placeholder]="locale.nameTextfieldPlaceholder"
				[errorMessage]="nameError"
				[disabled]="loading"
				(change)="name = $event.detail.value; nameError = ''"
				(enter)="submit()"
			></dav-textfield>
		</div>
	</form>
</dav-dialog>
